Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 유저의 위치 권한 관련 모달/토스트 표시(#112)
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(map)/map/page.tsx
  frontend/src/components/LocationPermissionChecker.tsx
  frontend/src/components/LocationPermissionModal.tsx
  frontend/src/store/useLocationPermissionStore.ts
Due: pnpm --filter frontend lint

feat: 스토리지에 이미지 요청 로직 포함 이미지 컴포넌트 추가(#115)
  frontend/src/components/AssetImage.tsx
Due: pnpm --filter frontend lint

feat: 그룹 내 내 설정 조회 API 연동(#109)
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 내 내 닉네임,프로필 변경 API 연동(#109)
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/hooks/useuserGroupSetting.ts
Due: pnpm --filter frontend lint

fix: 백엔드 전송 시 그룹 권한 대문자 형태이므로 기존 inviteRole도 대문자형태로 통일(#109)
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/hooks/useGroupInvite.ts
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint

feat: 그룹 정보 조회 API 연동 (#109) - 그룹 정보 조회 서버 패칭을 위한 api 추가 - 백엔드 전송용 변경된 type 통일 - 기존에 클라이언트에서 쓰이기 위한 그룹 정보 조회 불필요하여 삭제
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/hooks/useuserGroupSetting.ts
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 삭제 API 연동 및 파일 분리(#109) - 기존에 컴포넌트 파일 내에 있던 로직 분리 - 그룹 삭제 API 분리된 함수 가져와 호출
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/hooks/useGroupActions.ts
Due: pnpm --filter frontend lint

fix : 중복 호출되는 에러 삭제(#109)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/hooks/useuserGroupSetting.ts
Due: pnpm --filter frontend lint

feat: post_drafts 테이블 초기 도입 (#119)
  backend/migrations/1768939465217-add-post-drafts.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

feat: draft 진입/조회 API 추가 (#119)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: emotion summary와 mypage 통계: 내 태그 통계(최근 top10 / 전체 top10), 감정 요약 조회, 오늘 작성 수, 이번 달 작성 수
  backend/src/modules/mypage/dto/emotion-summary.response.dto.ts
  backend/src/modules/mypage/dto/get-emotion-summary.query.dto.ts
  backend/src/modules/mypage/dto/get-stats-summary.query.dto.ts
  backend/src/modules/mypage/dto/get-tag-stats.query.dto.ts
  backend/src/modules/mypage/dto/stats-summary.response.dto.ts
  backend/src/modules/mypage/dto/tag-stats.response.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 내 기록함의 월별 카드 커버 조회 기능 구현
  backend/src/modules/user/dto/get-archives-month-cover.query.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

test: draft 진입/조회 e2e 추가 (#119)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix : 하이드레이션 에러 방지용 string 기반 변환 유틸 추가 및 적용(#63)
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

chore: useuserGroupSetting.ts -> useUserGroupSetting.ts 파일명 변경(#109)
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/hooks/useUserGroupSetting.ts
Due: pnpm --filter frontend lint

style : 그룹 기본 아이콘 크기 변경(#109)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
Due: pnpm --filter frontend lint

fix: 불필요한 try-catch문 제거(#109)
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
Due: pnpm --filter frontend lint

feat: 24시간을 주기로 위치 권한 설정 요청 토스트 띄우기(#112)
  frontend/src/components/LocationPermissionChecker.tsx
  frontend/src/store/useLocationPermissionStore.ts
Due: pnpm --filter frontend lint

fix: 에러 처리 추가(#109) - 서버에서 비즈니스에러인 경우 리다이렉트 바로 시키도록 추가 - 단순 타입 가드 역할 대신 /shared 페이지로 갈 수 있도록 추가
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

feat: mypage쪽에 getMyTags의 리턴값을 TagCount[]로 통일 (명세 수정)
  backend/src/modules/mypage/dto/tag-stats.response.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/user/entity/user-month-cover.entity.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix: BadRequestException을 적절히 내용에 맞게 변경
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

Revert "그룹 정보 조회 / 그룹 삭제 / 그룹 내 내 설정 조회 / 그룹 내 내 정보 수정 API 연동"
  frontend/global.d.ts
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(invite)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/hooks/useGroupActions.ts
  frontend/src/hooks/useGroupInvite.ts
  frontend/src/hooks/useUserGroupSetting.ts
  frontend/src/lib/api/group.ts
  frontend/src/lib/services/kakaoScript.tsx
  frontend/src/lib/types/group.ts
  frontend/src/lib/types/groupResponse.ts
  frontend/src/lib/types/template.ts
Due: pnpm --filter frontend lint

fix: import 되지 않은 cn 추가(#124)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 변경된 타입에 맞게 profileImageUrl -> profileeImageId 로 타입 변경 (#124)
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
Due: pnpm --filter frontend lint

refactor: 24시간 주기 타임 하드코딩 후 주석으로 설명
  frontend/src/store/useLocationPermissionStore.ts
Due: pnpm --filter frontend lint

chore: manifest 파일은 인증 체크 제외
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: msw가 동작하고 있지 않을 때만 서버 컴포넌트에서 api 요청
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/shared/page.tsx
Due: pnpm --filter frontend lint

chore: 기본 이미지 추가
  frontend/public/base.png
Due: none

feat: 그룹 커버 이미지 조회 msw api 추가(#85)
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

fix: 미디어 외부 api 객체 필드 image에서 imageUrl로 변경
  frontend/src/lib/api/externalMedia.ts
Due: pnpm --filter frontend lint

type: 그룹 커버 조회 서버 api 응답 타입 정의(#85)
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 목록 조회 msw api 연결(#85)
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/group.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: post, patch, delete, put 요청 후 모든 쿼리를 무효화하던 로직 수정
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

feat: 그룹 정렬 적용(#85)
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

feat: 스토리지 적용 전 임시 카드 이미지 적용(#85)
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
