Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix: 그룹 공유 드로어에서 이미 공유된 그룹의 체크 표시가 늦게 반영되던 문제 수정(#317)
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/GroupShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: 그룹 무한스크롤 피드에 공유된 개인 글이 안 보이던 문제 수정(#317)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.group.query.service.ts
Due: pnpm --filter backend lint

fix: 공유된 개인 글의 이미지가 그룹원에게 안 보이던 문제 수정(#317)
  backend/src/modules/media/media.module.ts
  backend/src/modules/media/media.service.spec.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: 기록 상세 페이지에서는 그룹에 공유한 기록도 '개인' 뱃지가 달려있는 문제 수정(#317)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

fix: 그룹 활동 로그 마이그레이션 롤백 시 신규 enum 값을 가진 행 때문에 캐스팅이 실패하던 문제 수정(#317)
  backend/migrations/1785945276327-AddPostShareActivityType-migration.ts
  backend/migrations/1785948272572-AddPostUnshareActivityType-migration.ts
Due: pnpm --filter backend lint

feat: 공유된 개인 글이 그룹 피드, 조회 권한에 자연스럽게 통합되도록 처리(#317)
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 개인 글을 그룹에 공유하는 API 추가(#317)
  backend/migrations/1785943591809-CreatePostGroupShare-migration.ts
  backend/migrations/1785945276327-AddPostShareActivityType-migration.ts
  backend/migrations/1785948272572-AddPostUnshareActivityType-migration.ts
  backend/src/enums/group-activity-type.enum.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/post/dto/post-group-share.dto.ts
  backend/src/modules/post/entity/post-group-share.entity.ts
  backend/src/modules/post/post-group-share.controller.ts
  backend/src/modules/post/post-group-share.service.spec.ts
  backend/src/modules/post/post-group-share.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

fix: 그룹 공유 드로어에서 VIEWER로 강등된 그룹의 공유 취소가 막혀있던 문제 수정(#317)
  frontend/src/components/GroupShareDrawer.tsx
Due: pnpm --filter frontend lint

feat: 공유된 글의 그룹별 기여자 표시 및 활동 로그/접근 불가 안내 반영(#317)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityMessage.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_utils/activityHelper.ts
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/app/(post)/record/_components/RecordDetailContent.tsx
  frontend/src/app/(post)/record/_components/RecordErrorFallback.tsx
  frontend/src/lib/constants/constants.ts
Due: pnpm --filter frontend lint

fix: 공유된 글 상세에서 그룹원에게 공유 뱃지가 안 보이던 문제 수정(#317)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 개발 환경 MinIO에 CORS 설정 추가해 브라우저 직접 업로드 수정
  docker-compose.dev.yml
Due: none

fix: GroupHeader 비동기 렌더 타이밍에 따라 캘린더 높이 측정이 실패하던 문제 수정(#324)
  frontend/src/app/(main)/_components/StreakStats.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

\fix: 그룹 헤더가 스크롤 시 네이티브 상태바 영역을 침범하는 문제 수정(#324)
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/components/StackedNativeHeader.tsx
Due: pnpm --filter frontend lint

fix: 관성 스크롤 꼬리 구간에서 스크롤 기준점이 갱신되지 않던 문제 수정(#324)
  frontend/src/hooks/useHideOnScroll.ts
Due: pnpm --filter frontend lint

fix: Header/캘린더의 스크롤 연동 전환 애니메이션 제거(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/components/Header.tsx
Due: pnpm --filter frontend lint

fix: 느린 하이드레이션 중 스크롤하면 헤더 hidden 상태가 어긋나던 문제 수정(#324)
  frontend/src/hooks/useHideOnScroll.ts
Due: pnpm --filter frontend lint

fix: 그룹 홈 캘린더가 멤버/탭 줄을 덮어버리던 문제 수정(#324)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

refactor: 홈 WeekCalendar/StreakStats를 각자 sticky 대신 하나의 sticky 블록으로 병합(#324)
  frontend/src/app/(main)/_components/HomeCalendarStreakSticky.tsx
  frontend/src/app/(main)/_components/HomeData.tsx
  frontend/src/app/(main)/_components/HomePageSkeleton.tsx
  frontend/src/app/(main)/_components/StreakStats.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/page.tsx
Due: pnpm --filter frontend lint

fix: 그룹 홈 캘린더 sticky 위치를 GroupHeader 높이 기준으로 단순화하고 배경 통일(#324)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
Due: pnpm --filter frontend lint

chore: 모바일 로컬 테스트용 사설 IP 갱신
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

fix: BottomNavigation 높이를 하드코딩값 대신 실측값으로 계산(#324)
  frontend/src/app/globals.css
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

fix: env(safe-area-inset-bottom) 미지원 안드로이드 기기 대비 네이티브 브릿지 추가(#324)
  frontend/src/app/layout.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

fix: 그룹 기록 추가 후 뒤로가기가 그룹 홈을 건너뛰고 엉뚱한 페이지로 가던 문제 수정(#324)
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
Due: pnpm --filter frontend lint

chore: WeekCalendar에서 overflow-hidden 제거 (그룹 홈 캘린더 미표시 문제 대응 실험)(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: capacitor 환경에서의 주간달력 여백 사이즈 확인을 위한 디버깅용 요소 추가(#324)
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

fix: 캘린더 sticky 오프셋이 상태바 높이/헤더 스택 상태를 반영하도록 수정(#324)
  frontend/src/app/(main)/_components/HomeCalendarStreakSticky.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

fix: 그룹 홈 캘린더/스택 헤더의 상태바 보정 이중 적용 문제 수정(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/components/StackedNativeHeader.tsx
Due: pnpm --filter frontend lint

chore: 임시 디버그 오버레이 코드 제거(#324)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

fix: 그룹 홈 주간달력 스와이프 시 콘텐츠가 박스 밖으로 그려질 수 있던 문제 수정(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: nav 숨김 라우트에서 --nav-content-height 인라인 값이 안 지워지던 문제 수정(#324)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint
