Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

chore: mypage withdraw 주석 정리 (#273)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

fix: user.service merge conflict marker 제거 (#273)
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

docs: media.service 예외 메시지를 한국어로 통일 (#273)
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: 그룹 삭제하기시 post가 남아있어 삭제되지 않던 문제 수정
  backend/migrations/1770700000000-posts-group-fk-cascade.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

fix: 공동 기록에서 이미지 업로드시 블록에서 이미지가 깨지는 문제 수정
  backend/src/modules/media/media.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/hooks/useMediaResolve.ts
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/api/presignMedia.ts
  frontend/src/lib/constants/record.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 카드 형태 이미지 표현 안되는 문제 및 데스크탑 모드에서 타일 형식 이미지가 개수에 맞지 않게 표현되는 문제
  frontend/src/components/AssetImage.tsx
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/components/ui/PostCard.tsx
Due: pnpm --filter frontend lint

fix: 그룹 초대 시 다른 계정으로 혹은 게스트로 초대를 받은 후 그룹에 바로 가입되지 않는 문제
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
Due: pnpm --filter frontend lint

refactor: 기록 저장 타임아웃 10초 지정
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: 멤버 강퇴 처리 안되는 문제
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

refactor: 미들웨어에서 인증 session 객체가 존재하는지만 체크하는 것이 아니라 토큰의 만료 여부를 체크해 갱신 시도가 정상 처리되었을 때만 next 동작하도록 개선
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

refactor: google maps js를 다운받을 동안 렌더링 블로킹하기 때문에 발생하는 페이지 로드 지연 문제 개선
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 스크롤시 헤더가 상태바 영역까지 침범하는 문제
  frontend/src/app/globals.css
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

chore: 모바일 테스트용 로컬 사설 IP 대역 허용
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

refactor: google maps 로드 전 이미지 업로드시 gps 메타데이터 추출에 실패하면서 이미지가 깨지는 현상 발생
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/lib/utils/exifExtractor.ts
Due: pnpm --filter frontend lint

refactor: 그룹 탈퇴가 정상처리되었을 때 유저에게 응답하는 로직 추가
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 기록에 저장된 이미지 클릭시 라이트박스로 이미지 출력
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

fix: 최대 이미지 업로드 개수에 도달하지 않았음에도 가끔 limit 메시지가 뜨는 문제
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

fix: 스크롤시 헤더가 상태바 안으로 들어가는 문제
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: none

style: 헤더가 상태바 안으로 들어가는 문제 해결 완
  frontend/src/app/globals.css
Due: none

fix: 게스트 세션이 만료된 후 재로그인시 기존 게스트 세션 쿠키에서 제거
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix: 모바일에서 앱 실행 후 공동 기록 첫 이미지 업로드시 이미지가 깨지는 문제
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

refactor: msw 로드시 출력되는 콘솔 제거
  frontend/src/components/MswLoader.tsx
Due: pnpm --filter frontend lint

refactor: 드래프트 생성 최대 개수 toast로 표시
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
Due: pnpm --filter frontend lint

docs: README 수정
  README.md
Due: none

docs: README 대표 이미지 변경
  README.md
Due: none

docs: 인프라 네이버에서 오라클로 변경
  README.md
Due: none

refactor: 검색엔진 최적화를 위한 robots와 sitemap 파일 추가(#281)
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
Due: pnpm --filter frontend lint

chore: 검색엔진에 도메인 등록 및 소유 확인을 위한 파일 추가(#281)
  frontend/public/google96c18aa6a0acf9ce.html
  frontend/public/naver28bf92ebd7e7b59d7081adcfe0348cbb.html
Due: none

refactor: 마이그레이션 파일 이름 변경
  backend/migrations/1775877780000-posts-group-fk-cascade.ts
Due: pnpm --filter backend lint

fix: 웹 새로고침 시 pwa 웹앱 설치 아이콘 사라지는 문제
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/hooks/usePWAInstall.ts
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

style: 웹 스크롤시 하단 색상이 달라지는 문제
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

style: 그룹 이미지 및 멤버 프로필 이미지 비율이 깨지는 문제 수정
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

feat: 그룹 알림 이벤트 추가
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityMessage.tsx
Due: pnpm --filter frontend lint

fix: 프로필 이미지 비율 깨짐 문제 추가 수정
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

fix: AssetImage의 non-fill wrapper 기본값을 w-full h-full로 부모를 채우도록 설정
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/components/AssetImage.tsx
Due: pnpm --filter frontend lint

refactor: 서비스워커가 브라우저 요청을 가로챌 필요가 없어 fetch 핸들러 빈 상태로 수정
  frontend/public/sw.js
Due: none

refactor: 타임라인 기록과 동일한 레이아웃으로 contributor 리스트 출력
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

fix: 기존 서버에서 앱을 깨우는 방식에서 클라이언트에서 앱을 깨우는 방식으로 수정
  backend/src/modules/auth/auth.controller.ts
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint
