Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix : 지도페이지 내 리스트 조회 시 이미지 없는 경우 고려하여 수정(#63) - 리스트 아이템 별도의 컴포넌트로 분리 - 이미지 로딩/존재에 따라 이미지 보일 수 있도록
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
Due: pnpm --filter frontend lint

feat: 글로벌 에러 페이지 추가(#68)
  frontend/src/app/error.tsx
Due: pnpm --filter frontend lint

feat: 컴포넌트 에러 처리를 위한 에러 바운더리 컴포넌트 추가(#68)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/ErrorHandlingWrapper.tsx
Due: pnpm --filter frontend lint

chore: 사용하지 않는 template-type 제거 (#45)
  backend/src/enums/template-type.enum.ts
Due: pnpm --filter backend lint

chore: Swagger header/validation 정리 (#45)
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/test/app.e2e-spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 블록 id 응답에 포함 (#45)
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

chore: 사용하지 않는 아이콘 삭제 및 import 안된 부분 추가(#63)
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

docs: 게시글 상세 DTO UUID 형식 표기 추가 (#45)
  backend/src/modules/post/dto/post-detail.dto.ts
Due: pnpm --filter backend lint

fix: 바텀 시트 스냅핑 관련 로직 추가(#63) - 최소/최대 높이를 innerHeight 기준으로 고정할 수 있도록 수정 - 게시글 핀 클릭 시 처음 한 번 튀어오르도록 구현
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/app/(map)/_hooks/useBottomSheet.ts
Due: pnpm --filter frontend lint

feat: group 생성. 삭제 api 연동하기 - deleteGroup 을 group.controller, service에 추가
  .env.example
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/refresh_token/refresh_token.entity.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/guest/guest.controller.ts
Due: pnpm --filter backend lint

feat: 게시글 삭제 API 구현 (#46)
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

refactor: validateBlocks 로직 분리 (#45)
  backend/src/modules/post/validator/blocks.validator.ts
Due: pnpm --filter backend lint

feat: TEXT 블록 필수 검증 추가 (#46)
  backend/src/modules/post/validator/blocks.validator.ts
Due: pnpm --filter backend lint

test: e2e 테스트 코드에 임시 media 틀 반영 (#46)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 게시글 시드 추가/리셋 스크립트 도입 (#46)
  backend/package.json
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

test: TEXT 필수 검증 케이스 추가 (#46)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: pwa install 배너 노출 주기 및 LCP 개선(#72)
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/components/PWAInstallBanner.tsx
  frontend/src/components/PWAInstallModal.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

fix: access token을 쿼리파라미터에서 임시 code를 주면 exchange하는 것으로 변경 - cookie-parser 추가 - /v1/auth/exchange endpoint추가 - /v1/auth/refresh, logout 가능
  backend/package.json
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

feat: tanstack query 사용 일관성을 위해 공통 훅 구현(#62)
  frontend/package-lock.json
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

feat: 게스트 로그인/소셜 로그인 유저 인증 관리(#62)
  frontend/src/hooks/useUserProfile.ts
  frontend/src/lib/types/profile.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

chore: package-lock 제거, pnpm-lock 업데이트
  frontend/package-lock.json
Due: none

feat: fetch 에러 메시지 세분화 및 해당되지 않는 error는 기본 에러 메시지 출력(#62)
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

feat: 로그인한 유저는 로그인 페이지로 접근하지 못하도록 제어
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 게스트 로그인 msw로 연결(#62)
  frontend/src/app/(login)/login/page.tsx
  frontend/src/lib/api/api.ts
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: 공통 fetcher 및 유틸 api 함수 추가(#62)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

refactor: 게스트 로그인 redirectUri 함수 제거(#62)
  frontend/src/lib/utils/getRedirectUri.ts
Due: pnpm --filter frontend lint

chore: next.config에 api/v1으로 시작하는 서버 요청 url rewrite 하도록 수정((#62)
  frontend/next.config.ts
Due: pnpm --filter frontend lint

feat: 서비스 로고 로그인 페이지에서 분리
  frontend/src/components/ui/logo.tsx
Due: pnpm --filter frontend lint

feat: api 요청 url에서 버전은 rewrite로 설정하도록 수정
  frontend/next.config.ts
  frontend/src/app/(login)/login/page.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/lib/api/api.ts
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

refactor: 로그인한 유저 accessToken으로 판별하던 것을 refreshToken으로 변경(#62)
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 전역 에러 핸들러에서 로그인 에러 처리하도록 수정(#62)
  frontend/src/app/(login)/login/page.tsx
Due: pnpm --filter frontend lint
