Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

refactor: 미디어 정리 호출부를 삭제 후보 기반으로 전환 (#285)
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/post-draft-cleanup.service.ts
Due: pnpm --filter backend lint

feat: 사용자 월별 아카이브 무한스크롤 조회 추가
  backend/src/modules/user/dto/get-monthly-archive.query.dto.ts
  backend/src/modules/user/dto/month-record.response.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

test: 월별 아카이브 커서 유틸 테스트 추가
  backend/src/common/utils/month-cursor.spec.ts
Due: pnpm --filter backend lint

feat: 그룹 월별 아카이브 무한스크롤 조회 추가
  backend/src/common/utils/month-cursor.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

feat: 연도별 월별 카드 무한스크롤을 위한 타입 및 fetch 옵션 유틸 함수 추가(#296)
  frontend/src/lib/api/group.ts
  frontend/src/lib/api/my.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 연도별 월별 카드 무한스크롤 기능 추가(#296)
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthRecordsInfinite.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
Due: pnpm --filter frontend lint

fix: 게시글 감정 검증에 불안, 우울 추가 (#299)
  backend/src/enums/post-mood.enum.ts
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

test: 새로 허용한 감정값에 대한 테스트 추가 (#299)
  backend/src/modules/post/dto/post-block.dto.spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

docs: 테스트 가이드라인 문서 추가(#283)
  CLAUDE.md
  TESTING.md
Due: none

test: Vitest 기반 hooks·유틸·스토어 단위 테스트 작성(#283)
  .gitignore
  TESTING.md
  frontend/package.json
  frontend/src/hooks/useDebounce.test.ts
  frontend/src/hooks/useScrollDirection.test.tsx
  frontend/src/hooks/useSessionStorage.test.ts
  frontend/src/lib/date.test.ts
  frontend/src/lib/utils/cookie.test.ts
  frontend/src/lib/utils/errorHandler.test.ts
  frontend/src/lib/utils/filterLabels.test.ts
  frontend/src/lib/utils/mapBlocksToPayload.test.ts
  frontend/src/lib/utils/record.test.ts
  frontend/src/lib/utils/time.test.ts
  frontend/src/lib/utils/useDebounce.test.ts
  frontend/src/lib/utils/useThrottle.test.ts
  frontend/src/store/useLocationPermissionStore.test.ts
  frontend/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

test: 검색 필터 E2E 테스트 추가(#283)
  frontend/e2e/search-filters.spec.ts
  frontend/e2e/search.spec.ts
Due: pnpm --filter frontend lint

test: E2E 테스트 픽스처, 설정 추가
  frontend/.gitignore
  frontend/e2e/fixtures/api.ts
  frontend/package.json
  frontend/playwright.config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

test: 게스트 로그인, 그룹 초대 E2E 테스트 추가(#283)
  frontend/e2e/group-invite.spec.ts
  frontend/e2e/login.spec.ts
Due: pnpm --filter frontend lint

test: 기록함 날짜 탐색 E2E 테스트 추가(#283)
  frontend/e2e/date-selector-drawer.spec.ts
  frontend/e2e/my-month.spec.ts
Due: pnpm --filter frontend lint

test: 홈, 공지사항, 프로필, 문의하기 e2e 테스트 추가(#283)
  frontend/e2e/announcements.spec.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/inquiry.spec.ts
  frontend/e2e/profile.spec.ts
Due: pnpm --filter frontend lint

chore: setup 단계에서 생성되는 세션 토큰 파일 gitignore에 추가(#283)
  frontend/.gitignore
Due: none

fix: 가입 없이 시작하기 버튼 클릭 즉시 로딩 상태 반영(#283)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

test: e2e 테스트 셋업 및 페이지 오브젝트 추가(#283)
  frontend/e2e/pages/RecordEditorPage.ts
  frontend/e2e/setup/auth.setup.ts
Due: pnpm --filter frontend lint

test: 마이페이지 통계, 태그, 감정 탐색 E2E 테스트 추가(#283)
  frontend/e2e/profile-navigation.spec.ts
  frontend/e2e/profile-stats.spec.ts
Due: pnpm --filter frontend lint

test: 내 기록함, 날짜 제한, 닉네임 기록 반영 e2e 테스트 추가(#283)
  frontend/e2e/date-restriction.spec.ts
  frontend/e2e/my-records.spec.ts
  frontend/e2e/profile-nickname-update.spec.ts
Due: pnpm --filter frontend lint

test: 그룹 목록, 공개 공유 기록 e2e 테스트 추가(#283)
  frontend/e2e/share.spec.ts
  frontend/e2e/shared-groups.spec.ts
Due: pnpm --filter frontend lint

test: 기록 전체 블록, 사용자 흐름, 공유 e2e 테스트 추가(#283)
  frontend/e2e/record-full-blocks.spec.ts
  frontend/e2e/record-personal-flow.spec.ts
  frontend/e2e/record-sharing.spec.ts
Due: pnpm --filter frontend lint

test: 기록 작성, 조회, 수정, dnd e2e 테스트 추가(#283)
  frontend/e2e/record-create.spec.ts
  frontend/e2e/record-detail.spec.ts
  frontend/e2e/record-dnd.spec.ts
  frontend/e2e/record-edit.spec.ts
Due: pnpm --filter frontend lint

test: e2e 테스트 안정성 개선(#283)
  frontend/e2e/date-selector-drawer.spec.ts
  frontend/e2e/my-records.spec.ts
  frontend/e2e/search-filters.spec.ts
  frontend/playwright.config.ts
Due: pnpm --filter frontend lint

test: fast refresh로 인한 e2e 테스트 간헐적 실패 수정(#283)
  frontend/e2e/profile-navigation.spec.ts
  frontend/e2e/profile-nickname-update.spec.ts
  frontend/e2e/record-sharing.spec.ts
Due: pnpm --filter frontend lint

test: e2e 테스트 안정성 및 가시성 개선(#283)
  frontend/playwright.config.ts
  package.json
Due: pnpm --filter frontend lint

fix: 스토리북 전체 스토리 수정 및 테마 시스템 개선(#283)
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/preview.tsx
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/app/(main)/_components/storybook/WeekCalendar.stories.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/(main)/profile/_components/storybook/Profile.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/RecordStatistics.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/Setting.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/TagDashboard.stories.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/storybook/EmotionList.stories.tsx
  frontend/src/app/(main)/profile/all-tags/_components/storybook/TagList.stories.tsx
  frontend/src/app/(main)/profile/edit/_components/storybook/ProfileInfo.stories.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/storybook/GalleryDrawer.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthRecords.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailHeaderActions.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailRecords.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupDangerousZone.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupInfo.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupMemberManagement.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/storybook/GroupProfileEdit.stories.tsx
  frontend/src/app/(post)/group/_components/storybook/GroupHeaderActions.stories.tsx
  frontend/src/app/(post)/record/_components/storybook/RecordDetail.stories.tsx
  frontend/src/components/storybook/DailyDetailRecordItem.stories.tsx
  frontend/src/components/storybook/DailyDetailRecords.stories.tsx
  frontend/src/components/storybook/DateSelectorDrawer.stories.tsx
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

test: 공동 기록 실시간 협업 e2e 테스트 추가(#283)
  frontend/e2e/fixtures/api.ts
  frontend/e2e/group-draft-collaboration.spec.ts
  frontend/playwright.config.ts
Due: pnpm --filter frontend lint

docs: 스토리북 가이드라인 추가(#283)
  CLAUDE.md
  STORYBOOK.md
Due: none

test: 지도 페이지 스토리 추가(#283)
  frontend/src/app/(map)/_components/storybook/MapRecordItem.stories.tsx
  frontend/src/app/(map)/_components/storybook/RecordMapDrawer.stories.tsx
Due: pnpm --filter frontend lint

test: 레이아웃 컴포넌트 스토리 추가(#283)
  frontend/src/components/storybook/BottomNavigation.stories.tsx
  frontend/src/components/storybook/Header.stories.tsx
Due: pnpm --filter frontend lint

test: 기록 작성 페이지 스토리 추가(#283)
  frontend/src/app/(post)/_components/editor/storybook/RecordEditorDrawers.stories.tsx
  frontend/src/app/(post)/_components/editor/storybook/RecordEditorHeader.stories.tsx
  frontend/src/app/(post)/_components/editor/storybook/RecordFields.stories.tsx
  frontend/src/app/(post)/_components/editor/storybook/Toolbar.stories.tsx
Due: pnpm --filter frontend lint

fix: 태그 검색 drawer 가로 스크롤바 및 위치 블록 정렬 버그 수정
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/components/map/LocationField.tsx
Due: pnpm --filter frontend lint

test: 검색 페이지 스토리 추가(#283)
  frontend/src/app/(search)/_components/storybook/FilterDrawers.stories.tsx
  frontend/src/app/(search)/_components/storybook/SearchItem.stories.tsx
  frontend/src/app/(search)/_components/storybook/TagSearchDrawer.stories.tsx
Due: pnpm --filter frontend lint

fix: 지도 날짜 필터 end 날짜 당일 기록 누락 버그 수정 및 회귀 테스트 추가(#283)
  backend/src/modules/map/map.service.ts
  frontend/e2e/map.spec.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint
