Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 게스트 로그인 후 세션 상태 확인을 위한 홈으로의 이동 지연
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/AuthContext.tsx
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: SNS로 기록 공유하기(#143)
  frontend/public/thumbnail.png
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

feat: 함께 기록함에서 기록 추가 버튼 클릭시 drawer에 그룹 리스트 출력(#143)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

feat: 그룹 알림 페이지 추가
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/page.tsx
Due: pnpm --filter frontend lint

feat: 이미지 AssetImage 사용(#143)
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/AssetImage.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/GroupSelectDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/components/ui/PostCard.tsx
Due: pnpm --filter frontend lint

refactor: 보이스 연결 미구현으로 인한 임시 주석 처리(#143)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 로그인 관련 페이지는 인증 가드 건너뛰기
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

feat: 이미지 스토리지 활용 프로필 수정(#143)
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/components/AssetImage.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

fix: profile patch 구조 변경 및 조회 버그 수정
  backend/src/modules/mypage/dto/update-mypage.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.service.ts
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/lib/api/group.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 자잘한 버그 수정
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/add/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/actions.ts
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

refactor: 월별 아카이브 커서 제거
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

fix: 그룹 정보 수정 후 서버에서 개인 프로필을 반환하는 문제 수정
  backend/src/modules/group/service/group-management.service.ts
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/lib/actions/revalidate.ts
  frontend/src/lib/api/api.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 기록 작성 후 그룹 캐시 무효화
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

style: 프로필 이미지 크기 조정
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

fix: 서버 응답을 변환해 저장하는데, 서버 컴포넌트에서 변환되지 않은 데이터를 캐시에 저자해 발생한 버그 수정
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

fix: 내 아카이브는 PERSONAL 글만 조회
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix: 그룹 타임라인 groupId를 안보내줘 발생한 에러 수정
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
Due: pnpm --filter frontend lint

fix: 서버 컴포넌트와 클라이언트 컴포넌트 응답 처리 구조가 달라 발생한 에러 수정
  frontend/src/app/(post)/shared/page.tsx
Due: pnpm --filter frontend lint

fix: 쿼리키 형식 및 응답 변환 불일치 문제에 의한 버그 수정
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
Due: pnpm --filter frontend lint

style: 지도 마커 이미지 가운데 정렬
  frontend/src/app/(map)/_components/PinMarker.tsx
Due: pnpm --filter frontend lint

fix : 그룹 네임 안 받아와지는 거 삭제
  frontend/src/app/(invite)/invite/page.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성 중 이미지 id가 없는건 업로드 안하도록 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

style: 지도 마커 이미지 가운데 정렬
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

feat: 지도 타입 정의
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(map)/map/page.tsx
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

fix: 지도 기록 아이템 이미지 필드 값 변경
  frontend/src/app/(map)/_components/MapRecordItem.tsx
Due: pnpm --filter frontend lint

fix: 게시글 상세 조회 이미지 에러 수정
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix : 안 쓰는 import 제거
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix : 검색 페이지 이동 경로 변경
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

fix: 검색 페이지 태그 입력 안되는 문제 해결
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

fix: location-picker에서 검색창이 표시되지 않는 문제 수정
  frontend/src/components/map/LocationPicker.tsx
  frontend/src/components/map/MapSearchBar.tsx
  frontend/src/lib/utils/googleMaps.ts
Due: pnpm --filter frontend lint

fix : 게시글 작성 시 자주 사용하는 태그 가져오기
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

fix: 가끔 location-picker에서 서울로 위치가 찍히던 버그 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

fix: 폰트 사이즈 조정
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

fix: 태그 검색 시 isComposing 문제
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

chore: 프로덕션 마이그레이션 스크립트 추가
  backend/package.json
Due: none

chore: 백엔드 배포용 docker-compose 정리
  docker-compose.yml
Due: none

chore: env_file 적용 및 backend 실행 경로 수정
  .env.example
  backend/Dockerfile
  docker-compose.yml
Due: none

chore: 루트 환경변수 예제 추가
  .env.example
Due: none
