Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix: 공유된 개인 글의 이미지가 그룹원에게 안 보이던 문제 수정(#317)
  backend/src/modules/media/media.module.ts
  backend/src/modules/media/media.service.spec.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

feat: 공유된 개인 글이 그룹 피드, 조회 권한에 자연스럽게 통합되도록 처리(#317)
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 개인 글을 그룹에 공유하는 UI 추가(#317)
  frontend/src/app/(main)/_components/RecordItem.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/GroupShareDrawer.tsx
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 공유된 글의 그룹별 기여자 표시 및 활동 로그/접근 불가 안내 반영(#317)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityMessage.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_utils/activityHelper.ts
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/app/(post)/record/_components/RecordDetailContent.tsx
  frontend/src/app/(post)/record/_components/RecordErrorFallback.tsx
  frontend/src/lib/constants/constants.ts
Due: pnpm --filter frontend lint

fix: 이미 공유된 그룹이 포함된 재요청 시 활동 로그/알림이 중복 발생하던 문제 수정(#317)
  backend/src/modules/post/post-group-share.service.spec.ts
  backend/src/modules/post/post-group-share.service.ts
Due: pnpm --filter backend lint

fix: 게시글 상세 조회의 groupId 쿼리 파라미터에 UUID 검증 추가(#317)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

fix: 그룹 공유 드로어에서 이미 공유된 그룹의 체크 표시가 늦게 반영되던 문제 수정(#317)
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/GroupShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: 그룹 활동 로그 마이그레이션 롤백 시 신규 enum 값을 가진 행 때문에 캐스팅이 실패하던 문제 수정(#317)
  backend/migrations/1785945276327-AddPostShareActivityType-migration.ts
  backend/migrations/1785948272572-AddPostUnshareActivityType-migration.ts
Due: pnpm --filter backend lint

fix: 그룹 활동 로그에서 공유 항목을 눌러도 이동하지 않던 문제 수정(#317)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

fix: 공유 취소가 실제 상태 변화 없이도 활동 로그를 남기던 문제 수정(#317)
  backend/src/modules/post/post-group-share.service.spec.ts
  backend/src/modules/post/post-group-share.service.ts
Due: pnpm --filter backend lint

fix: 그룹 공유 드로어에서 VIEWER로 강등된 그룹의 공유 취소가 막혀있던 문제 수정(#317)
  frontend/src/components/GroupShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: 개발 환경 MinIO에 CORS 설정 추가해 브라우저 직접 업로드 수정
  docker-compose.dev.yml
Due: none

fix: 그룹 활동 로그의 클릭 가능한 항목을 키보드로도 접근 가능하게 수정(#317)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.test.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

fix: 그룹 활동 로그의 공유 항목 클릭 시 groupId를 함께 넘기도록 수정(#317)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.test.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

fix: 기록 저장 직후 임시저장이 다시 살아나 '이어서 작성' 토스트가 뜨던 문제 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

feat: 지도 클러스터 마커에 대표 사진 표시
  frontend/src/app/(map)/_components/CustomClusterRenderer.test.ts
  frontend/src/app/(map)/_components/CustomClusterRenderer.ts
  frontend/src/app/(map)/_components/PinMarker.tsx
Due: pnpm --filter frontend lint

fix: FeedGroupQueryService 테스트가 늘어난 생성자 인자 수에 맞지 않던 문제 수정(#317)
  backend/src/modules/feed/feed.group.query.service.spec.ts
Due: pnpm --filter backend lint

feat: 기록 상세, 카드에 개인/그룹/공유 뱃지 표시(#317)
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.service.ts
  frontend/src/app/(main)/_components/RecordItem.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/RecordScopeBadges.tsx
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 개인 홈 피드에도 이 글이 공유된 그룹 정보 노출(#317)
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.personal.query.service.ts
  backend/src/modules/feed/feed.query.service.spec.ts
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

fix: 그룹 무한스크롤 피드에 공유된 개인 글이 안 보이던 문제 수정(#317)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.group.query.service.ts
Due: pnpm --filter backend lint

fix: 공유된 글 상세에서 그룹원에게 공유 뱃지가 안 보이던 문제 수정(#317)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: MinIO CORS를 서버 설정으로 전환하고 초기화 실패를 숨기지 않도록 수정
  docker-compose.dev.yml
Due: none

fix: viewGroupId 그룹 컨텍스트 노출 전 요청자의 그룹 멤버십 검증 추가
  backend/src/modules/post/post.service.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 그룹명이 없어도 isSharedPost면 공유됨 뱃지가 뜨도록 수정
  frontend/src/components/RecordScopeBadges.tsx
Due: pnpm --filter frontend lint

fix: 기록 상세 페이지에서는 그룹에 공유한 기록도 '개인' 뱃지가 달려있는 문제 수정(#317)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint
