Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

refactor: drawer가 열려있을 때 모바일 백버튼으로 닫을 수 있도록 수정
  frontend/src/components/AndroidBackHandler.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 이미지 업로드 cors 확인용 커밋
  mobile-app/capacitor.config.ts
Due: none

refactor: 안드로이드 스플래시 화면 만들어진 이미지를 활용하도록 코드 수정
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/values/styles.xml
Due: none

style: 상세 페이지 popover 상단 잘림 문제 수정
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

style: 모바일 툴바 py 일관성 있게 변경
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
Due: pnpm --filter frontend lint

style: 화면 혹은 아이템이 잘리는 스타일 문제 수정
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/_components/GroupDailyDetailData.tsx
  frontend/src/app/(post)/my/detail/[date]/_components/MyDailyDetailData.tsx
  frontend/src/app/(post)/record/layout.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix: 그룹원 초대하기 drawer에서 공유하기시 복사하기 버튼이 동작하는 버그 수정
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

feat: 타임라인 popover를 상세 페이지 popover와 동일하게 수정
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 공유 기록 오픈그래프 적용
  frontend/src/app/share/[token]/SharedRecordContent.tsx
  frontend/src/app/share/[token]/page.tsx
Due: pnpm --filter frontend lint

feat: 커버 이미지 기본값으로 수정 API 적용
  backend/src/modules/group/service/group.service.ts
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 기록 카드 map으로 표현할 때 기록id를 붙여서 key 지정
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

fix: 기존 서버에서 앱을 깨우는 방식에서 클라이언트에서 앱을 깨우는 방식으로 수정
  backend/src/modules/auth/auth.controller.ts
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: js가 신호를 줄 때까지 네이티브 스플래시가 계속 유지되도록 수정
  frontend/src/app/AuthContext.tsx
  frontend/src/app/layout.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

fix: 스플래시 화면에서 콘텐츠 화면으로 넘어가지 않는 문제
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

fix: 스플래시 수정 후 상태바 색상이 테마에 맞게 표시되지 않는 문제 수정
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

refactor: toast가 모바일에서 상태바에 의해 일부 가려지는 이슈 수정
  frontend/src/app/globals.css
  frontend/src/app/providers.tsx
  frontend/src/components/AndroidBackHandler.tsx
Due: pnpm --filter frontend lint

fix: 메타데이터 추출 오류 발생 버그 수정
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/lib/utils/exifExtractor.ts
Due: pnpm --filter frontend lint

style: 일부 페이지 스타일 개선
  frontend/public/privacy-policy.html
  frontend/src/app/(main)/inquiry/page.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

docs: AuthService JSDoc 정리 (#273)
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

docs: UserService JSDoc 정리 (#273)
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

docs: feed helper/query JSDoc 보강 (#273)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: map posts 조회의 location block 조회를 배치 방식으로 전환 (#244)
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

refactor: 그룹 활동 actor 조회 불필요 정렬 제거 (#244)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

docs: feed helper 내부 로직 문서화 (#273)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 로그 limit 상한 추가 (#244)
  backend/src/modules/group/controller/group-activity.controller.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

docs: FeedQueryService JSDoc 정리 (#273)
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

refactor: 지도 게시글 location block 조회 결과 가공 단순화 (#244)
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

refactor: groupMember 조회 경로 정리 및 group pair dedupe 적용 (#244)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: 피드 조립 로직 분리 및 조회 효율 개선 (#244)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

docs: group activity 조회 분리 함수 JSDoc 보강 (#244)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

refactor: getGroupActivities 함수 단계별 분리로 가독성 개선 (#273)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

refactor: getGroupActivities actor/user 조회 컬럼 최소화 (#244)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

fix: 휴지통 영구 삭제 크론의 Postgres 날짜 비교 오류 수정
  backend/src/modules/trash/trash.service.ts
Due: pnpm --filter backend lint

refactor: completeUploads에 스토리지 설정 검증 추가 (#244)
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

refactor: 미디어 업로드 개수 제한 상수화 및 presign 요청 상한 적용 (#244)
  backend/src/common/constants/media-limits.ts
  backend/src/modules/media/dto/presign-media.dto.ts
  backend/src/modules/media/media.service.ts
  backend/src/modules/post/validator/blocks.validator.ts
Due: pnpm --filter backend lint

refactor: pending 미디어 정리 시 스토리지 삭제 성공분만 DB에서 제거 (#244)
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

refactor: presign URL 생성 성공 후 미디어 메타데이터 저장 (#244)
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

docs: media presign 요청 Swagger 설명에 최대 개수와 예시 추가 (#273)
  backend/src/modules/media/dto/presign-media.dto.ts
Due: pnpm --filter backend lint

refactor: media controller의 중복 인증 체크 제거 (#273)
  backend/src/modules/media/media.controller.ts
Due: pnpm --filter backend lint

fix: mypage 사용자 조회 실패 예외를 NotFound로 통일
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint
