Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 로그인 페이지 scrollToTop에 prefers-reduced-motion 적용(#315)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

fix: 타임라인 피드 첫 페이지 요청 실패 시 온보딩 빈 상태 대신 에러 UI 표시(#315)
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
Due: pnpm --filter frontend lint

test: 그룹 멤버 카드 e2e의 networkidle 대기를 카드 개수 안정화 확인으로 교체(#315)
  frontend/e2e/group-management.spec.ts
Due: pnpm --filter frontend lint

fix: 짧은 뷰포트에서 바텀 시트 snap point 역전 버그 수정(#315)
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
Due: pnpm --filter frontend lint

fix: 디바이스 회전 및 네비게이션바 크기 변경 시 바텀 시트 snap point 갱신(#315)
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
Due: pnpm --filter frontend lint

refactor: 그룹 루트 페이지에서 불필요한 일별 기록 프리페치 제거(#315)
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
Due: pnpm --filter frontend lint

fix: useHideOnScroll을 모듈 싱글턴으로 전환해 Header/WeekCalendar 상태 불일치 수정(#315)
  frontend/src/hooks/useHideOnScroll.ts
Due: pnpm --filter frontend lint

fix: null/배열 등 비객체 JSON 커서 페이로드에서 500 대신 400 반환(#315)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

fix: e2e URL 단언을 정밀하게 수정 — 탭 파라미터 중복 허용 및 더 긴 경로 통과 방지(#315)
  frontend/e2e/group-management.spec.ts
Due: pnpm --filter frontend lint

fix: 마지막 구독자 해제 후 scrollY가 top으로 이동한 경우 _hidden 리셋(#315)
  frontend/src/hooks/useHideOnScroll.ts
Due: pnpm --filter frontend lint

fix: 지도 하단 드로어가 화면 회전·네비게이션바 리사이즈 시 임의로 접히는 문제 수정(#315)
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
Due: pnpm --filter frontend lint

fix: 휴지통 자동 삭제 쿼리의 PostgreSQL 문법 수정
  backend/src/modules/trash/trash.service.ts
Due: pnpm --filter backend lint

fix: 참조 중인 미디어가 삭제 후보로 처리되는 문제 수정
  backend/src/modules/media/media.service.spec.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: Firebase 서비스 계정 인증 정보를 Base64 환경변수로 주입
  .dockerignore
  backend/.dockerignore
  backend/.env.example
  backend/.gitignore
Due: none

fix: .env.example의 Base64 생성 명령어를 주석 처리
  backend/.env.example
Due: none

ci: 백엔드 Railway 자동 배포 워크플로 추가 (#253)
  .github/workflows/deploy-backend-railway-dev.yml
  .github/workflows/deploy-backend-railway.yml
Due: none

test: 미디어 삭제 후보 재활성화 검증 추가
  backend/src/modules/media/media.service.spec.ts
Due: pnpm --filter backend lint

test: 홈 피드를 주간 달력 연동 스크롤 타임라인 개편 유닛/통합/e2e 테스트 및 story 수정(#315)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.query.service.spec.ts
  backend/test/feed.e2e-spec.ts
  frontend/e2e/date-restriction.spec.ts
  frontend/e2e/group-management.spec.ts
  frontend/e2e/record-personal-flow.spec.ts
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/app/(main)/_components/storybook/WeekCalendar.stories.tsx
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
  frontend/src/app/(post)/group/[groupId]/(root)/_components/storybook/GroupMainTabs.stories.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/store/useWeekCalendar.test.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: PWA 배너를 플로팅 버튼으로 전환(#315)
  frontend/src/components/PWAInstallBannerClient.test.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
Due: pnpm --filter frontend lint

feat: 랜딩페이지 스크롤 편의성 개선(#315)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

fix: 손상된 지난 기록 피드 커서를 조용히 첫 페이지로 되돌리지 않고 400 처리(#315)
  backend/src/modules/feed/feed.helpers.spec.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 홈 피드를 주간 달력 연동 스크롤 타임라인으로 개편(#315)
  backend/src/modules/feed/dto/get-past-feed.query.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/modules/feed/feed.swagger.ts
  frontend/src/app/(main)/_components/HomeData.tsx
  frontend/src/app/(main)/_components/RecordItem.tsx
  frontend/src/app/(main)/_components/RecordOnboardingEmpty.tsx
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
  frontend/src/app/(main)/_components/RecordTimelineProvider.tsx
  frontend/src/app/(main)/_components/StreakStats.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/hooks/useHideOnScroll.ts
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/recordResponse.ts
  frontend/src/store/useWeekCalendar.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 지난 기록 피드 커서가 같은 eventAt 경계에서 게시글을 누락하는 문제 수정(#315)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.query.service.spec.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/test/cover.e2e-spec.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

Delete .github/workflows/cicd.yml
  .github/workflows/cicd.yml
Due: none

Delete .github/workflows/deploy-backend-railway-dev.yml
  .github/workflows/deploy-backend-railway-dev.yml
Due: none

Delete .github/workflows/deploy-backend-railway.yml
  .github/workflows/deploy-backend-railway.yml
Due: none

feat: 그룹 활동 알림에 프로필/그룹 사진 아이콘과 카카오톡 스타일 포맷 적용(#316)
  backend/src/modules/group/service/group-activity.service.spec.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/notification/notification.service.spec.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

fix: 웹 포그라운드 푸시가 안 뜨고 알림 클릭 시 이동 안되던 문제 수정 및 포그라운드에서 알림이 표시되도록 수정(#316)
  frontend/public/firebase-messaging-sw.js
  frontend/src/hooks/usePushNotification.test.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

feat: 안드로이드 앱 포그라운드에서도 푸시 알림이 뜨고 탭하면 이동하도록 추가(#316)
  frontend/package.json
  frontend/src/components/AndroidNotificationHandler.test.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
