Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: 타임라인 기록과 동일한 레이아웃으로 contributor 리스트 출력
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

fix: 프로필 이미지 비율 깨짐 문제 추가 수정
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

refactor: google maps js를 다운받을 동안 렌더링 블로킹하기 때문에 발생하는 페이지 로드 지연 문제 개선
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

refactor: js가 신호를 줄 때까지 네이티브 스플래시가 계속 유지되도록 수정
  frontend/src/app/AuthContext.tsx
  frontend/src/app/layout.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

chore: 검색엔진에 도메인 등록 및 소유 확인을 위한 파일 추가(#281)
  frontend/public/google96c18aa6a0acf9ce.html
  frontend/public/naver28bf92ebd7e7b59d7081adcfe0348cbb.html
Due: none

refactor: 검색엔진 최적화를 위한 robots와 sitemap 파일 추가(#281)
  frontend/src/app/robots.ts
  frontend/src/app/sitemap.ts
Due: pnpm --filter frontend lint

refactor: 빌드 파일 분석으로 불필요한 요청 줄이기(#282)
  frontend/next.config.ts
  frontend/package.json
  frontend/sentry.edge.config.ts
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
  frontend/src/instrumentation-client.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

refactor: google maps 브라우저 유휴 상태일 때 로드해 메인 스레드를 건들지 않도록 수정(#282)
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

refactor: 초기 로드 불필요한 css 및 js 로드 제거(#282)
  frontend/next.config.ts
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

refactor: sourcemap sentry에 업로드 및 프로덕션에서는 .map 파일 삭제(#282)
  frontend/next.config.ts
Due: pnpm --filter frontend lint

refactor: hydration에러 고려해 hydration 완료 후 localStorage에서 인증 상태 복원(#282)
  frontend/src/app/AuthContext.tsx
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

refactor: 이미지 fetchPriority 지정 및 lazy 로드 설정(#282)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/app/api/media-image/[id]/route.ts
  frontend/src/components/AssetImage.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/components/ui/PostCard.tsx
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

refactor: 상세 페이지 이미지 우선순위 지정(#282)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

refactor: 블록 선택 시 햅틱 제공(#287)
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/hooks/useHaptic.ts
Due: pnpm --filter frontend lint

fix: 공동 작성 저장 후 작성 페이지로 돌아가는 버그 수정(#287)
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

refactor: select-none으로 블록 텍스트 선택 차단(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

chore: 서비스 기본 이미지 변경(#287)
  frontend/public/thumbnail.png
Due: none

refactor: 네이티브 앱(capacitor) 앱에서는 카카오 공유 버튼 숨김(#287)
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: sitemap과 robots 파일은 미들웨어 matcher에서 제외(#287)
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: 지도에서 마커 이미지가 무한 로딩되는 문제 수정(#287)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/components/AssetImage.tsx
Due: pnpm --filter frontend lint

test: 마이페이지 탈퇴 시 refresh token 정리 테스트 추가 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
Due: pnpm --filter backend lint

fix: 관리자 수 조회 시 탈퇴 유저를 제외하도록 변경 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

test: 회원 탈퇴 시 owner 그룹 차단 케이스 테스트 추가 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 refresh token revoke 처리 추가 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

refactor: 마이페이지 모듈에 refresh token 리포지토리 주입 추가 (#285)
  backend/src/modules/mypage/mypage.module.ts
Due: pnpm --filter backend lint

test: user 서비스 OAuth 가입 회귀 테스트 추가 (#285)
  backend/src/modules/user/user.service.spec.ts
Due: pnpm --filter backend lint

feat: 그룹 owner 상태의 회원 탈퇴를 차단하도록 변경 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 공유 링크를 함께 정리하도록 변경 및 트랜잭션 처리(#285)
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

refactor: 탈퇴한 OAuth 계정 복구 로직 제거 (#285)
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 그룹 나가기 차단 기준을 owner에서 관리자 권한으로 변경 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 활성 사용자 기준 OAuth 유니크 인덱스 반영 (#285)
  backend/src/modules/user/entity/user.entity.ts
Due: pnpm --filter backend lint

chore: backend tsconfig에 jest 타입 설정 추가 (#285)
  backend/tsconfig.json
Due: none

refactor: 마이페이지 모듈에 그룹 리포지토리 의존성 추가 (#285)
  backend/src/modules/mypage/mypage.module.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
