Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix(group): 공동 기록 발행 후 그룹 페이지에 새 기록이 표시되지 않는 문제 수정
  backend/src/modules/group/service/group-record.service.ts
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix(socket): 소켓 연결 끊김, 게스트 인증, WsException 처리 개선
  frontend/src/components/SocketManager.tsx
  frontend/src/middleware.ts
  frontend/src/store/useAuthStore.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

style/chore: 에디터 헤더 레이아웃 수정 및 Capacitor 의존성 업데이트
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  mobile-app/android/capacitor.settings.gradle
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter frontend lint

fix: import 되지 않은 데이터 refresh 함수 호출
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: 모바일 환경에서의 SNS 공유하기 네이티브 share 활용(#266)
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: WsException 외 DB 에러 등 모든 에러를 잡도록 서버 웹소켓 에러 처리 로직 수정
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 기간 검색 시 시작 끝 시각으로 변환해 올바르게 데이터를 응답하도록 수정
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

fix: 예상된 ws 예외 처리는 조용히 처리하도록 수정
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

style: 검색 칩 데이터 포함되어 있을 때의 스타일 수정
  frontend/src/components/search/FilterChip.tsx
Due: pnpm --filter frontend lint

fix: 검색시 contributor에 유저가 포함된 기록도 같이 반환하도록 수정 및 그룹 알림에서 그룹 프로필이 없으면 null 반환하도록 수정
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

feat: 게스트 로그인시에 쿠키에 유요한 값이 담겨있는 경우 해당 게스트 그대로 활용
  backend/src/modules/guest/dto/guest.restore.dto.ts
  backend/src/modules/guest/guest-session.service.ts
  backend/src/modules/guest/guest.controller.ts
  frontend/next.config.ts
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 기록 상세 페이지 공유하기 및 접근 기능 구현
  backend/migrations/1770400000000-add-post-share-token.ts
  backend/src/modules/media/media.service.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/dto/shared-post.dto.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post-share.controller.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.ts
  frontend/next.config.ts
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/api/media-image/[id]/route.ts
  frontend/src/app/share/[token]/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/lib/types/record.ts
  frontend/src/middleware.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: AuthController 요청 타입 정리
  backend/src/modules/auth/auth.controller.ts
Due: pnpm --filter backend lint

refactor: AllWsExceptionFilter 예외 처리 분기 정리
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
Due: pnpm --filter backend lint

refactor: 검색 날짜 경계 변환 중복 로직 정리
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

refactor: post publish override 적용 로직 공통화
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

refactor: media resolve URL 로직 공통화
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: 게스트 로그인 시 네트워크 오류와 같은 에러 발생시 유저가 알 수 있도록 toast 출력 추가
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

refactor: 초대 drawer 초대 경로만 loader가 뜨도록 부분 수정
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 기록 추가시 공동 기록이 아니더라도 로딩이 뜨도록 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

style: 인디케이터 영역만큼 내부 콘텐츠 padding 값 추가(#266)
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/_components/GroupMonthlyDetailData.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
  frontend/src/app/(post)/my/month/[month]/_components/MyMonthlyDetailData.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/app/error.tsx
  frontend/src/app/globals.css
  frontend/src/app/not-found.tsx
Due: pnpm --filter frontend lint

style: 기록 관련 스타일 수정(#266)
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorInitializer.ts
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/components/NativeStatusBarSync.tsx
Due: pnpm --filter frontend lint

feat(backend): 모바일 앱 OAuth 콜백 지원 (#266)
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

refactor: 그룹 이름 수정 input 모바일에서 확대되는 문제 수정(#266)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
Due: pnpm --filter frontend lint

fix: 공동 편집 발행 안정화 및 모바일 네이티브 스테이터스바 개선
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-publish.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/hooks/useCreateRecord.ts
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/android/capacitor.settings.gradle
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 해당하는 유저가 없을시 인증 에러 반환
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

style: 기록 작성 페이지 장소 검색 헤더 색상과 검색 페이지 장소 검색 헤더 색상 일치시키기
  frontend/src/app/(map)/location-picker/page.tsx
Due: pnpm --filter frontend lint

fix(collab): 드래프트 입장 시 초기 버전 및 락 목록 전달 오류 수정
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

chore(mobile): 로컬 테스트용 capacitor 서버 설정 변경 (#266)
  mobile-app/capacitor.config.ts
Due: none

style: 모바일 인디케이터 영역만큼 margin bottom 추가(#266)
  frontend/src/app/(post)/_components/DailyDetailFloatingActions.tsx
  frontend/src/app/(post)/_components/ViewOnMapButton.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

chore: mobile-app을 pnpm 워크스페이스에 추가 및 스크립트 등록(#266)
  package.json
  pnpm-workspace.yaml
Due: none

fix: 게스트 로그아웃시 게스트 토큰 쿠키도 같이 제거
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

docs: 개인정보 처리바침 문서 추가
  frontend/public/privacy-policy.html
  frontend/public/privacy-policy.md
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint
