Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 플로팅 버튼의 플러스 버튼 클릭시 기록 추가 페이지로 이동
  frontend/src/app/(post)/_components/DailyDetailFloatingActions.tsx
Due: pnpm --filter frontend lint

refactor: 디바운스 훅 분리
  frontend/src/app/(map)/map/page.tsx
  frontend/src/hooks/useDebounce.ts
Due: pnpm --filter frontend lint

refactor: 프로필 유효성 검사 추가 및 그룹명 input 스타일 통일
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

style: 그룹 멤버 리스트 출력 이미지 사이즈 키우기
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
Due: pnpm --filter frontend lint

chore: 리드미 내에 주요 기능 추가
  README.md
Due: none

chore: 리드미 내에 배포 URL 텍스트 변경
  README.md
Due: none

fix: 기존 로그인 사용자 그룹 초대 URL 접속 시 리다이렉트 되는 문제 해결(#194)
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

fix : 단순 Image 컴포넌트에서 AssetImage 컴포넌트 사용으로 변경(#194) - width,height 지정 안해둔 컴포넌트들 추가 - 게시글 공동 작성 시 각 유저의 프로필에 맞게 보이도록 수정
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

fix: 각 필드별 개수 제한 toast 뜨도록 추가(#194)
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/lib/constants/record.ts
Due: pnpm --filter frontend lint

fix: 검색 페이지 내에 필터칩 박스 영역 모두 버튼 취급 되도록 수정(#194)
  frontend/src/components/search/FilterChip.tsx
Due: pnpm --filter frontend lint

fix: 이미지 비율에 맞게 화면에 표시되도록 수정(#187)
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/GroupSelectDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/components/SocialShareDrawer.tsx
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

fix: 로그인 성공 후 그룹 참여 토스트 0.5초 이후 뜨도록 수정(#194)
  frontend/src/app/(invite)/invite/page.tsx
Due: pnpm --filter frontend lint

fix: 이미지 비율에 맞게 화면에 표시되도록 수정(#187)
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/GroupSelectDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/components/ImageTileGrid.tsx
Due: pnpm --filter frontend lint

fix: MapModule에 PostBlock 엔티티 등록 (#188)
  backend/src/modules/map/map.module.ts
Due: pnpm --filter backend lint

fix: map posts 응답에 감정 정보 포함 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: 지도 조회를 bbox 기반으로 전환하고 감정 필터 추가 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: 메타데이터 drawer 건너뛰기 버튼 동작하지 않는 문제 해결(#187)
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

feat: 검색에 감정 필터 추가 (#188)
  backend/src/modules/search/dto/search.dto.ts
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

merge: dev와 충돌 해결
  backend/.env.example
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.module.ts
  backend/src/modules/map/map.service.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/search/dto/search.dto.ts
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

fix: 위치 드로어로 변경(#194) - 락 상태 유지할 수 있도록 드로어로 수정 - 기존 Drawer가 아닌 전체 화면 차지하는 드로어 흉내 컴포넌트로 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorInitializer.ts
  frontend/src/components/map/LocationDrawer.tsx
  frontend/src/lib/constants/record.ts
Due: pnpm --filter frontend lint

feat: 피드 카드에 contributor 정보 추가
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/feed/feed.personal.query.service.ts
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

fix: 드래프트 presence에서 그룹 프로필 사용
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

chore: 리드미 직면한 문제 및 프로젝트 간단 소개 추가
  README.md
Due: none

chore: 리드미 내에 기술 스택 아이콘 추가
  README.md
Due: none

fix: 삭제된 유저로 인한 500 오류 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 그룹 멤버 프로필 이미지 반환 기준 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

fix: 게시글 상세조회 기여자에 개인/그룹 프로필 정보 추가 (#188)
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 그룹 목록에서 삭제된 게시글 제외 (#188)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

fix: 지도 썸네일을 첫 이미지 블록 mediaId로 변경 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: 모바일에서 input 포커스시 화면 확대되는 문제(#187)
  frontend/src/app/(post)/_components/editor/core/SaveTemplateDrawer.tsx
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/Input.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

feat: 타임라인 프리뷰 그룹에선 기여자 프로필 표시하기
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 기록 상세 페이지 기여자 표시
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

fix: 공동 기록 작업 시 에러 처리(#194) - 버전 충돌 및 존재하지 않는 드래프트ID 에러 - 올바르지 않은 토큰에 대한 에러처리
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/lib/types/recordCollaboration.ts
  frontend/src/lib/utils/error/publishHandler.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

fix: 연결 끊길 시 소켓 재연결 최대 3번 시도할 수 있도록 수정(#194) - unused 문제 해결 -> delete로 변경
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint
