Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: PR 변경사항 반영 - ADMIN만 멤버 권한 변경 가능으로 변경 - 본인 권한 수정 service layer에서 막음 - group member groupId, userId 추가 및 인덱스 추가 적용, migration
  backend/migrations/1768292307230-AlterGroupMember-migration.ts
  backend/package.json
  backend/src/modules/auth/oauth_flow.md
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/guards/group-roles.guard.ts
Due: pnpm --filter backend lint

feat: 로그인 실행 코드 임시 추가(#62)
  frontend/src/app/(login)/login/page.tsx
Due: pnpm --filter frontend lint

style: 라이트모드/다크모드에서의 앱설치 모달 표현(#60)
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

chore: package-lock 제거, pnpm-lock 업데이트
  frontend/package-lock.json
  pnpm-lock.yaml
Due: none

chore: 서버 API 요청 base url env example에 추가(#62)
  frontend/.env.example
Due: none

style: 모바일 화면에서 앱 설치하기 버튼 때문에 앱 설치 설명이 겹치는 문제 수정(#60)
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

feat: 공통 fetcher 및 유틸 api 함수 추가(#62)
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/types/response.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

refactor: 토큰 재발급 로직 공통 fetcher로 이동(#62)
  frontend/src/hooks/useApi.ts
  frontend/src/lib/api/api.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

feat: tanstack query 사용 일관성을 위해 공통 훅 구현(#62)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/providers.tsx
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

feat: guest session 모듈 초안 생성
  backend/src/modules/guest/guest-session.entity.ts
  backend/src/modules/guest/guest-session.service.ts
  backend/src/modules/guest/guest.controller.ts
Due: pnpm --filter backend lint

feat: refresh token을 로그인 로직에 반영 초안 - refresh_token.entity.ts을 - typeorm synchronize=true로 우선 연동 - auth.module.ts에 guest.module 연동 - guest 로그인 및 세션 구현 (데이터 이전은 아직)
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/data-source.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.type.d.ts
  backend/src/modules/auth/refresh_token/refresh_token.entity.ts
  backend/src/modules/guest/guest.controller.ts
  backend/src/modules/guest/guest.module.ts
Due: pnpm --filter backend lint

feat: 글로벌 에러 페이지 추가(#68)
  frontend/src/app/error.tsx
Due: pnpm --filter frontend lint

feat: 컴포넌트 에러 처리를 위한 에러 바운더리 컴포넌트 추가(#68)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorFallback.tsx
  frontend/src/components/ErrorHandlingWrapper.tsx
Due: pnpm --filter frontend lint

feat: 지도 페이지에서 리스트 띄우기 위한 맵 드로어(#63)
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/app/(map)/_components/_hooks/useBottomSheet.ts
Due: pnpm --filter frontend lint

feat: 구글 맵 핀 관련 작업(#63) - 기존 PostListItem -> MapPostItem 으로 타입 변경 통일 - 클러스터 핀 이벤트 핸들러 추가 - 검색 관련 컴포넌트 분리를 위한 API Provider 및 검색바 위치 변경
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
Due: pnpm --filter frontend lint

feat: 지도 내에 장소 검색으로 위치 이동 구현(#63) - 지도에서 장소 검색 후 해당 장소 클릭 시 지도 위치가 해당 장소 위치로 변경되도록 구현 - 기존에 유사하게 쓰이던 LocationPicker 내부 로직 분리 - 별도 서치바 컴포넌트 - 검색용 유틸함수 추가 - 맵 관련 작업 페이지에서 일괄 적용
  frontend/src/app/(map)/map/page.tsx
  frontend/src/components/map/LocationPicker.tsx
  frontend/src/components/map/MapSearchBar.tsx
  frontend/src/lib/utils/googleMaps.ts
Due: pnpm --filter frontend lint

feat(post): enum 통합 및 상세 응답 구조 정리 (#45)
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/entity/post-block.entity.ts
  backend/src/modules/post/entity/post-contributor.entity.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/post/validator/blocks.validator.ts
Due: pnpm --filter backend lint

feat: 게시글 생성 DTO/블록 메타 정리 및 검증 보강 (#45)
  backend/src/modules/post/dto/create-post.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/post/types/post-block.types.ts
  backend/src/modules/post/validator/blocks.validator.ts
  backend/src/modules/post/validator/event-at.resolver.ts
  backend/src/modules/post/validator/meta.extractor.ts
  backend/src/modules/post/validator/tags.normalizer.ts
Due: pnpm --filter backend lint

feat(posts): 게시글 생성 DTO 및 block/contributors enum 확정 (#45)
  backend/src/enums/post-block-type.enum.ts
  backend/src/enums/post-contributor-role.enum.ts
  backend/src/modules/post/dto/create-post.dto.ts
Due: pnpm --filter backend lint

refactor: post aggregate 및 media_assets 엔티티/스키마 정비 (#45)
  backend/migrations/1768229076316-post-aggregate-schema.ts
  backend/src/modules/media/entity/media-asset.entity.ts
  backend/src/modules/post/entity/post-block.entity.ts
  backend/src/modules/post/entity/post-contributor.entity.ts
  backend/src/modules/post/entity/post-media.entity.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

feat: swagger 적용 및 nest 패키지 버전 통일 (#45)
  backend/package.json
  backend/src/main.ts
  backend/src/modules/post/dto/create-post.dto.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

test: 블록 기반 생성/조회 e2e 갱신 (#45)
  backend/src/config/typeorm/typeorm.config.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

chore: 필요없는 @Get 적용 함수 삭제 (#45)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

refactor: blockDto, layoutDto 중복 제거 및 파일 분리 (#45)
  backend/src/modules/post/dto/block-layout.dto.ts
  backend/src/modules/post/dto/create-post.dto.ts
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/validator/meta.extractor.ts
Due: pnpm --filter backend lint

feat: 게시글 상세 조회 시 soft delete 적용 (#45)
  backend/src/modules/post/post.service.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

chore: test를 위한 package.json 수정 (#45)
  backend/package.json
Due: none

chore: useBottomSheet 훅 파일 위치 변경(#63)
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/app/(map)/_hooks/useBottomSheet.ts
Due: pnpm --filter frontend lint

fix: 지도에 기록 핀 찍을 때 이미지 없거나 로딩 실패한 경우 흰색 핀으로 보이게 추가(#63)
  frontend/src/app/(map)/_components/PinMarker.tsx
Due: pnpm --filter frontend lint

fix: 지도 페이지 내에 장소 검색 시 해당 위치 핀으로 볼 수 있도록 추가(#63)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/map/page.tsx
  frontend/src/components/map/MapSearchBar.tsx
Due: pnpm --filter frontend lint

feat: 공통 fetcher 및 유틸 api 함수 추가(#62)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

refactor: 게스트 로그인 redirectUri 함수 제거(#62)
  frontend/src/lib/utils/getRedirectUri.ts
Due: pnpm --filter frontend lint

feat: tanstack query 사용 일관성을 위해 공통 훅 구현(#62)
  frontend/package-lock.json
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

chore: next.config에 api/v1으로 시작하는 서버 요청 url rewrite 하도록 수정((#62)
  frontend/next.config.ts
Due: pnpm --filter frontend lint

chore: package-lock 제거, pnpm-lock 업데이트
  frontend/package-lock.json
Due: none

feat: 로그인한 유저는 로그인 페이지로 접근하지 못하도록 제어
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 게스트 로그인 msw로 연결(#62)
  frontend/src/app/(login)/login/page.tsx
  frontend/src/lib/api/api.ts
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: fetch 에러 메시지 세분화 및 해당되지 않는 error는 기본 에러 메시지 출력(#62)
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

feat: 서비스 로고 로그인 페이지에서 분리
  frontend/src/components/ui/logo.tsx
Due: pnpm --filter frontend lint

feat: 게스트 로그인/소셜 로그인 유저 인증 관리(#62)
  frontend/src/hooks/useUserProfile.ts
  frontend/src/lib/types/profile.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

refactor: enum 대신 const+type으로 전환 (#45)
  backend/src/enums/group-role.enum.ts
  backend/src/enums/post-block-type.enum.ts
  backend/src/enums/post-contributor-role.enum.ts
  backend/src/enums/post-scope.enum.ts
  backend/src/enums/template-type.enum.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
