Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 그룹 기록함 전날/다음날 api 연결(#143)
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: 캐시 데이터를 사용하도록 전날/다음날 플로팅 버튼 내에서 API 호출하도록 수정(#127)
  frontend/src/app/(post)/_components/DailyDetailFloatingActions.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
Due: pnpm --filter frontend lint

fix: api 요청 경로 url 수정
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

fix: groupId가 archives보다 먼저 오도록 요청 url 변경(#143)
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

feat: 그룹 참여 멤버 조회 api 연결(#143)
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

type: 내 기록함 월별 카드 타입과 그룹 기록함 월별 카드 타입 공동으로 사용(#127)
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_utils/convertMonthRecords.ts
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/lib/api/my.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 월별 기록함 api 연결(#143)
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

type: 내 기록함/그룹 기록함 일별 카드 조회 응답 타입 공통 사용(#127)
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/app/(post)/_utils/convertMonthRecords.ts
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/lib/api/my.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 일별 카드 조회 api 연결
  frontend/src/app/(post)/_utils/convertMonthRecords.ts
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: draft 접근 시 그룹 멤버 검증 강화 (#122)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

test: draft 접근 권한 변경 반영 (#122)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 인증 버그 수정
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/auth.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: 월별/일별 기록함 클라이언트 컴포넌트의 초기 데이터 넘겨주기(#127)
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
Due: pnpm --filter frontend lint

feat: 커버 조회 api 연결(#127)
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/api/my.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 월별 커버 변경 api 연결(#143)
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: 콘솔 로그 제거
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/components/FloatingScrollButton.tsx
Due: pnpm --filter frontend lint

feat: 그룹 이름과 커버 이미지 수정 기능 연결(#143)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

feat: 태블릿 사이즈 이상부턴 지도에서 헤더가 보이도록 수정
  frontend/src/app/(map)/layout.tsx
Due: pnpm --filter frontend lint

refactor: 사용하지 않는 코드 제거
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 서버 사이드에서 토큰 갱신 중이라면 동시 요청을 방지하기 위해 결과 재사용
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: 락 해제 시 발송되는 이벤트 적용될 수 있도록 추가(#121)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

fix : 머지 충돌중 발생한 에러 해결 - 중복되어 들어간 값들 삭제
  backend/src/modules/post/post-draft.controller.ts
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

fix: 변경된 액세스토큰 로직에 맞춰 소켓 내부에서 사용하는 형태 변경(#144)
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

fix: 로그인 후 상태 업데이트 중에 헤더 렌더링 시도에 의해 발생하는 문제 수정
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

fix: 서버 컴포넌트 병렬 네트워크 요청에 의한 토큰 reuse 문제 수정(#136)
  backend/migrations/1737791400000-AddUpdatedAtToRefreshTokens.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/refresh_token/refresh_token.entity.ts
  frontend/src/app/AuthContext.tsx
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/auth.ts
  frontend/src/lib/api/auth.ts
  frontend/src/next-auth.d.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat : 그룹 공동 편집 시 서버 프리패칭 적용(#144)
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/lib/api/groupRecord.ts
Due: pnpm --filter frontend lint

feat : 콘텐츠, 테이블 관련 공동 작업 로직 연동(#144) - 포커스,블러 상태에 따른 락,패치 적용
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/types/recordCollaboration.ts
  frontend/src/lib/utils/useThrottle.ts
Due: pnpm --filter frontend lint

feat : 각 필드/드로어 내에서 객체로 데이터 주고 받도록 통일(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagField.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
Due: pnpm --filter frontend lint

feat: draft 기본 블록 생성하도록 수정, 테스트/문서 정비 (#122)
  backend/scripts/ws-flow-test.js
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat : 타이틀 락 및 커밋 전송 로직 연동(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

fix: cookie.ts에서 document 접근 오류가 나는 것 수정
  backend/src/modules/group/group-record.controller.ts
  frontend/src/lib/utils/cookie.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat : 서버와 프론트 사이의 필드타입 형태 불일치 부분 통일(#144) - 추가로 사용되지 않는 groupID 제거 - 서버와 프론트 사이의 필드타입 불일치 문제 임시 해결
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/utils/mapBlocksToPayload.ts
Due: pnpm --filter frontend lint

fix: group-record에서 조회 api에 그룹 가드 적용 및 그룹 가드를 일치에서 최소 권한 이상으로 변경
  README.md
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/guards/group-roles.guard.ts
Due: pnpm --filter backend lint

feat: 그룹 목록 조회 api 초안 구현 - media쪽에 width, height column 추가
  backend/src/modules/group/dto/get-groups.dto.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/media/entity/media-asset.entity.ts
Due: pnpm --filter backend lint

feat: 그룹 커버 변경 요청 api 초안 구현
  backend/src/modules/group/dto/update-group-cover.dto.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

fix: 마이그레이션 파일 이름 및 클래스 이름 변경
  backend/migrations/1769426745027-add-updated-at-to-refresh-tokens.ts
Due: pnpm --filter backend lint

chore: frontend 작업 push에 빌드 체크
  .husky/pre-push
Due: none

refactor: 임시 유틸 함수 util 폴더로 이동
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/lib/utils/time.ts
Due: pnpm --filter frontend lint
