Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

chore: sentry 소스맵 생성
  frontend/next.config.ts
Due: pnpm --filter frontend lint

fix: 소셜 공유 시 이미지 id 값이 아닌 미디어 id 값을 프리뷰로 넘기도록 수정
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 게시글 저장 전 빈 블록은 제거하도록 사용자에게 toast 알림
  frontend/src/app/(post)/_utils/recordLayoutHelper.ts
Due: pnpm --filter frontend lint

fix: 공동 작업 메타데이터 적용시 raw한 이미지로 서버에 전달되던 문제 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

refactor: 커스텀 레이아웃 템플릿 관련 로직 주석화
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
Due: pnpm --filter frontend lint

fix: 서버 호출 자체에 대한 에러 반환해서 추적할 수 있도록 변경
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/hooks/useGrouprRecord.ts
Due: pnpm --filter frontend lint

fix: 공동 작성은 메타데이터 버튼 숨기기
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
Due: pnpm --filter frontend lint

refactor: api timeout 혹은 실패시 주소 미설정 및 reverseGeocode와 findNearbyPlace 함수에서 map api 콜백 미호출 오류시 주소 무한로딩되는 문제
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

fix: 게스트 이관 안되던 문제 해결: guest-session 보내주기
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
  backend/src/modules/auth/jwt/jwt.guard.ts
  backend/src/modules/guest/guest-migration.service.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/user/user.service.ts
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/layout.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/auth.ts
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/utils/logger.ts
  frontend/src/middleware.ts
  frontend/src/store/useAuthStore.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 게스트 → 소셜 로그인 전환 시 FE에서 기존 게스트 토큰 및 세션으로 프로필 요청 날리던 버그 수정 - invalidateSessionCache() 호출 - etSocialLogin()을 프로필 조회 전에 호출
  backend/src/modules/mypage/mypage.controller.ts
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/lib/api/auth.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 게스트 이전 시 그룹 소유자를 로그인 유저로 안 넘겨서 생기는 로그인 오류 수정
  backend/src/modules/guest/guest-migration.service.ts
  backend/src/modules/mypage/mypage.controller.ts
Due: pnpm --filter backend lint

fix: /v1/media//gemini_base2.png/url 요청 수정 - if 조건절 보강
  frontend/src/app/(post)/group/[groupId]/layout.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
Due: pnpm --filter frontend lint

refactor: 블록 grab 및 이동 후 블록 비활성화 스타일이 그대로 남는 문제 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/components/map/LocationField.tsx
  frontend/src/hooks/useDraftPresence.ts
Due: pnpm --filter frontend lint

fix: 생성 오류 로그 남기고 예외 분리
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

refactor: 블록 이동 반응성이 떨어지는 문제
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

fix: 닉네임 fallback 처리 및 공통 로직 분리
  backend/src/modules/group/service/group-invite.service.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/group/utils/group-nickname.ts
Due: pnpm --filter backend lint

fix: draft 블록 위치 수정간 유니크 id제약으로 save에러 나던 것을 delete, insert로 수정
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

feat: redis 캐싱 연결 추가 및 GET에서 POST로 api 변경해 stale 방지 - redis패키지 추가 - 캐싱된 결과로 인한 "Draft not found" 에러가 발생 방지를 위해 변경하였으나 현재 미미
  backend/.env.example
  backend/package.json
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/user/user.service.ts
  backend/test/post.e2e-spec.ts
  docker-compose.dev.yml
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/hooks/useGrouprRecord.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: draft not found 문제 원인 파악 및 해결
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

feat: 초대 링크 가입 로그 추가 (#208)
  backend/src/modules/group/service/group-invite.service.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 로그 엔티티/타입 추가 (#208)
  backend/src/enums/group-activity-type.enum.ts
  backend/src/modules/group/entity/group-activity-actor.entity.ts
  backend/src/modules/group/entity/group-activity-log.entity.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 로그 조회 API 추가 (#208)
  backend/src/modules/group/controller/group-activity.controller.ts
  backend/src/modules/group/dto/group-activity.dto.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

feat: 그룹 드래프트 발행 로그 추가 (#208)
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

feat: 그룹 생성/이름 변경 로그 추가 (#208)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

feat: 그룹 관리 이벤트 로그 기록 추가 (#208)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 로그 마이그레이션 추가 (#208)
  backend/migrations/1770162982812-add-group-activity-logs.ts
Due: pnpm --filter backend lint

fix: 닉네임 변경 로그 저장 전 멤버 조회 순서 수정 (#208)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 월별 커버 변경 로그 기록 (#208)
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

feat: 그룹 드래프트 시작 로그 추가 (#208)
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: 그룹 게시글 생성/수정/삭제 로그 추가 (#208)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

chore: 아이콘 이미지 변경
  frontend/public/apple-icon.png
  frontend/public/web-app-icon-192x192.png
  frontend/public/web-app-icon-512x512.png
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat: 스트림 브로드캐스트 샘플링 적용
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

fix: 순서 보장·버전 검증으로 웹소켓 동시성 충돌 보완 - 버전 검증을 추가하며, draft 단위 큐로 직렬화 - 그 외 div key 오류 수정 - redis 패키지 추가 및 연동
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/post/collab/draft-queue.service.ts
  backend/src/modules/post/collab/patch-stream.service.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
  frontend/src/components/DailyDetailRecordItem.tsx
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: STREAM 전송을 volatile로 변경
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

feat: 느린 세션 STREAM 드롭 및 room 로그 추가
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

feat: 대형 룸은 스트림 검사 생략
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

chore: 이미지 배경 있는걸로 수정
  frontend/public/web-app-icon-192x192.png
  frontend/public/web-app-icon-512x512.png
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

chore: 협업 스트림 설정값 예시 추가
  backend/.env.example
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

type: 그룹 알림 응답, 상수 정의(#215)
  frontend/src/lib/constants/constants.ts
  frontend/src/lib/types/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

feat: 그룹 알림 무한스크롤 option 함수 추가(#215)
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
