Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

docs: 공통 응답 래퍼 Swagger 데코레이터 추가 및 Post에 적용 (#46)
  backend/src/common/swagger/api-wrapped-response.decorator.ts
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

fix: 배너 닫은 후 배너 영역이 그대로 남는 문제 수정(#72)
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

refactor: 로컬스토리지가 클라이언트 사이드에서 동작해 발생하는 LCP 문제 개선(#72)
  frontend/src/components/PWAInstallBanner.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/lib/utils/cookie.ts
Due: pnpm --filter frontend lint

feat: pwa install 배너 노출 주기 및 LCP 개선(#72)
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/components/PWAInstallBanner.tsx
  frontend/src/components/PWAInstallModal.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

chore: 사용하지 않는 모달 컴포넌트 삭제(#72)
  frontend/src/components/ui/dialog.tsx
Due: pnpm --filter frontend lint

feat: 서버 컴포넌트에선 절대 경로로 직접 작성(#66)
  frontend/next.config.ts
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

chore: 임시 에러 처리 제거(#73)
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

feat: 게시글 생성 후 기록 상세보기로 이동(#73)
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

test: 홈, 마이페이지 스토리북 추가(#81)
  frontend/src/app/(main)/_components/storybook/README.md
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/app/(main)/_components/storybook/WeekCalendar.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/Profile.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/README.md
  frontend/src/app/(main)/profile/_components/storybook/RecordStatistics.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/Setting.stories.tsx
  frontend/src/app/(main)/profile/_components/storybook/TagDashboard.stories.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/storybook/EmotionList.stories.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/storybook/README.md
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/_components/storybook/README.md
  frontend/src/app/(main)/profile/all-tags/_components/storybook/TagList.stories.tsx
  frontend/src/app/(main)/profile/edit/_components/storybook/ProfileInfo.stories.tsx
  frontend/src/app/(main)/profile/edit/_components/storybook/README.md
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

fix: query 로그를 typeorm logging에 추가
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

fix: pr 리뷰 반영
  frontend/next.config.ts
Due: pnpm --filter frontend lint

fix: synchronize=false로 변경
  backend/src/data-source.ts
Due: pnpm --filter backend lint

fix: backendHost 수정
  frontend/next.config.ts
Due: pnpm --filter frontend lint

fix: front 빌드시 발생하는 빌드 에러 수정
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/lib/types/recordField.ts
Due: pnpm --filter frontend lint

feat: 피드 요청/응답 DTO 추가 (#86)
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/dto/get-feed.query.dto.ts
Due: pnpm --filter backend lint

chore: 정확한 TZ 지원을 위해 luxon 추가 (#86)
  backend/package.json
  pnpm-lock.yaml
Due: none

refactor: PostController 쓰지 않는 api 삭제(#44)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

chore: 공용 AuthedRequest 타입 선언 추가
  backend/src/common/types/auth-request.type.ts
Due: pnpm --filter backend lint

refactor: PostController에 공용 AuthedRequest 적용 (#44)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

feat: 피드 모듈/응답 구성 및 TZ 보조 타입 추가 (#86)
  backend/src/app.module.ts
  backend/src/common/interceptors/transform.interceptor.ts
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/types/luxon.d.ts
Due: pnpm --filter backend lint

feat: 부분 래핑 지원 및 경고 수집 헬퍼 추가 (#86)
  backend/src/common/interceptors/transform.interceptor.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

feat: 피드 응답에 일부 블록(7행까지) 포함 (#86)
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

test: 피드 e2e 추가 및 게시글 삭제 테스트 보완 (#86)
  backend/test/feed.e2e-spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 그룹 추가/삭제/나가기/멤버 추방 api 연결(#85)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 사용하지 않는 next/header import 제거(#85)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 데이터 불러오는 동안 스켈레톤 출력(#85)
  frontend/src/app/(post)/record/_components/RecordDetailSkeleton.tsx
Due: pnpm --filter frontend lint

feat: 기록 SNS 공유하기 기능 추가(#85)
  frontend/package.json
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/SocialShareDrawer.tsx
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: 상세 에러 발생시 표시할 에러 페이지(#85)
  frontend/src/app/(post)/record/_components/RecordErrorFallback.tsx
Due: pnpm --filter frontend lint

feat: 기록 상세 에러 처리(#85)
  frontend/src/app/(post)/record/[recordId]/not-found.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: pnpm --filter frontend lint

feat: 이미지가 2개 이상일 때 캐러셀처럼 스와이프되도록 추가(#85)
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

feat: 서버 환경에서의 요쳥 url 수정(#85)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

feat: 기록 상세 페이지 서버 api 연결(#85)
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/app/(post)/record/_components/RecordDetailContent.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/record/layout.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: 소셜 로그인/게스트 로그인 기능 추가(#62)
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/app/(login)/@modal/default.tsx
  frontend/src/app/(login)/layout.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/page.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/lib/types/response.ts
Due: pnpm --filter frontend lint

feat: 게스트에서 로그인 요청시 헤더에 guestId를 전달하기 위해 쿠키에 sessionId 저장(#62)
  frontend/package.json
  frontend/src/store/useAuthStore.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: 토큰 재발급 api url 수정(#62)
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: accessToken 헤더에서 추출해 저장하도록 수정 및 유저 프로필 받아 캐싱 처리(#62)
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/response.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

feat: 서비스 접근시 로그인 페이지를 먼저 접근하도록 미들웨어 로직 추가(#62)
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 게스트는 마이페이지에서 로그아웃이 아닌 로그인이 뜨도록 수정(#62)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

feat: 로그아웃 및 탈퇴 서버 요청 추가(#62)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

chore: 패키지 충돌로 삭제 후 install
  pnpm-lock.yaml
Due: none
