Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix: mypage app.module 반영
  backend/src/modules/mypage/mypage.controller.ts
Due: pnpm --filter backend lint

fix: cookie.ts에서 document 접근 오류가 나는 것 수정
  backend/src/modules/group/group-record.controller.ts
  frontend/src/lib/utils/cookie.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: group-record에서 조회 api에 그룹 가드 적용 및 그룹 가드를 일치에서 최소 권한 이상으로 변경
  README.md
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/guards/group-roles.guard.ts
Due: pnpm --filter backend lint

feat: 그룹 목록 조회 api 초안 구현 - media쪽에 width, height column 추가
  backend/src/modules/group/dto/get-groups.dto.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/media/entity/media-asset.entity.ts
Due: pnpm --filter backend lint

feat: 그룹 커버 변경 요청 api 초안 구현
  backend/src/modules/group/dto/update-group-cover.dto.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

feat: 그룹 관리 - 그룹 정보 조회 api인 GET /v1/groups/:groupId/settings 추가 구현
  backend/src/modules/group/dto/get-group-settings.dto.ts
  backend/src/modules/group/group-invite.controller.ts
  backend/src/modules/group/group-invite.service.ts
  backend/src/modules/group/group-management.controller.ts
  backend/src/modules/group/group-management.service.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

refactor/feat: group을 api 세부 단위로 쪼개고, 내 그룹 닉네임, 프로필 사진 수정 api 추가
  backend/src/modules/group/controller/group-invite.controller.ts
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/controller/group.controller.ts
  backend/src/modules/group/dto/get-group-member-me.dto.ts
  backend/src/modules/group/dto/update-group-member-me.dto.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group-invite.controller.ts
  backend/src/modules/group/group-invite.service.ts
  backend/src/modules/group/group-management.controller.ts
  backend/src/modules/group/group-management.service.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/guards/group-roles.guard.ts
  backend/src/modules/group/service/group-invite.service.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group-record.service.ts
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

feat: 그룹 커버 이미지 목록 조회 (월 단위) GET /v1/groups/:groupId/cover-candidates 구현 - cursor를 base64 인코딩 하므로 주석으로 안내 - dto에 undefined 가능한 필드 수정
  backend/src/modules/group/dto/get-group-cover-candidates.dto.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

fix: UpdateGroupMonthCoverDto를 "assetId", "sourcePostId"에 맞게 수정 후 api 설계 수정
  backend/src/modules/group/controller/group-invite.controller.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/dto/get-group-month-images.query.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/dto/group-day-record.response.dto.ts
  backend/src/modules/group/dto/group-month-record.response.dto.ts
  backend/src/modules/group/dto/update-group-month-cover.dto.ts
  backend/src/modules/group/entity/group-month-cover.entity.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

refactor: parseYearMonth util로 분리
  backend/src/common/utils/parseDateValidator.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

feat: add-group-mongth-cover migration 파일 추가
  backend/migrations/1769514370596-add-group-month-cover-migrations.ts
Due: pnpm --filter backend lint

fix: migration 파일에 index sql 추가
  backend/migrations/1769514370596-add-group-month-cover-migrations.ts
  backend/src/modules/post/entity/post-media.entity.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

fix: 그룹 월별 카드 커버 조회 api를 커서 기반 페이지네이션으로 변경, 커서는 base64 인코딩/디코딩 적용
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/dto/get-group-month-images.query.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/dto/group-month-cover-candidates-response.dto.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

temp: 오류 임시 주석 처리
  frontend/src/app/(post)/add/page.tsx
Due: pnpm --filter frontend lint

fix: swagger로 api 테스트 가능하게 수정 - swagger 명세 없던 곳 추가
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/dto/get-feed.query.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/controller/group.controller.ts
  backend/src/modules/guest/guest.controller.ts
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix: FE 타입 에러 수정
  frontend/src/app/(post)/add/page.tsx
  frontend/src/components/search/FilterDrawerRender.tsx
Due: pnpm --filter frontend lint

fix: 그룹 커버 이미지 목록 조회 (월 단위) api를 페이지네이션으로 수정
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/dto/get-group-cover-candidates.query.dto.ts
  backend/src/modules/group/dto/group-cover-candidates.response.dto.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

fix: migration 파일 임시 제거
  backend/migrations/1769514370596-add-group-month-cover-migrations.ts
Due: pnpm --filter backend lint

refactor: 후보에서 나온 리스트에 없는 mediaId면 forbidden을 반환하는 로직 추가
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group-record.service.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 마이페이지, 홈 통계 수정된 api 명세대로 적용(#127)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/WritingRecordStatistics.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/profileResponse.ts
Due: pnpm --filter frontend lint

feat: group_month_covers 및 media_assets 변경 추가 (#130)
  backend/migrations/1769600935110-add-group-month-covers-and-media-asset-changes.ts
Due: pnpm --filter backend lint

fix: 그룹 삭제 시 post_drafts FK CASCADE 적용
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

feat: msw next-auth 및 next.js 데이터 요청은 가로채지 않도록 설정
  frontend/src/lib/mocks/browser.ts
Due: pnpm --filter frontend lint

feat: 마이페이지 프로필 수정 유저 정보 조회 후 데이터 적용
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

feat: 홈 특정 날의 기록이 없을 때의 UI 변경
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

feat: 월별 기록함의 최신글에 장소 정보가 없을 때 위치 아이콘 미출력
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: 위치 선택 마커 주변 장소 이름을 띄우도록 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: 타임라인 엔드포인트 개인/그룹/홈 달리 적용(#127)
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

style: 어색한 디자인 스타일 변경
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix: map api가 로드된 후 실행되도록 위치 선택 기능 동작 지연
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성 태그 추가 키보드 한글 입력시 합성 이벤트에 의해 중복 입력 문제 수정
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

fix: location-picker 페이지 첫 렌더링시 현재 위치 주소로 뜨도록 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: 온보딩 페이지 구현
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(onboarding)/onboarding/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 온보딩 페이지 클릭해 이동할 수 있도록 지원
  frontend/src/app/(onboarding)/onboarding/page.tsx
Due: pnpm --filter frontend lint

style: 버튼 hover 제거
  frontend/src/app/(onboarding)/onboarding/page.tsx
Due: pnpm --filter frontend lint

feat: 온보딩 페이지에선 pwa 설치 배너가 보이지 않도록 수정
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

feat: 그룹/개인 프로필 수정 기능 이미지 스토리지 고려하도록 수정(#127)
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
  frontend/src/hooks/useUserGroupSetting.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

fix: 그룹 정보 수정 시 그룹 내 닉네임 보여주기, 없을 때만 그냥 이름으로 반환(#165)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

fix : 별점 변경하는 사용자의 로컬 데이터로 변경되도록 수정(#165)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingPickerDrawer.tsx
Due: pnpm --filter frontend lint

feat: 게시글 template api CRUD 작성 구현
  backend/src/app.module.ts
  backend/src/enums/template-scope.enum.ts
  backend/src/modules/template/controller/template.controller.ts
  backend/src/modules/template/dto/template.dto.ts
  backend/src/modules/template/entity/template.entity.ts
  backend/src/modules/template/service/template.service.ts
  backend/src/modules/template/template.module.ts
Due: pnpm --filter backend lint
