Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 일간 기록 리스트 페이지 구현(#37)
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/components/MonthlyDetailHeaderActions.tsx
  frontend/src/components/MonthlyDetailRecords.tsx
  frontend/src/components/ViewOnMapButton.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/types/post.ts
Due: pnpm --filter frontend lint

refactor: 필요 없는 코드 제거(#37)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: not found 페이지 추가(#37)
  frontend/src/app/not-found.tsx
Due: pnpm --filter frontend lint

feat: 기록 상세 페이지 헤더 구현(#37)
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/record/layout.tsx
  frontend/src/lib/types/post.ts
Due: pnpm --filter frontend lint

style: 기록함 헤더 배경색 진하게 수정 및 pt 제거(#37)
  frontend/src/app/(post)/group/[groupId]/page.tsx
  frontend/src/app/(post)/group/layout.tsx
Due: pnpm --filter frontend lint

chore: 더는 사용하지 않는 이전 디자인 컴포넌트 제거(#37)
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/DiaryPostShort.tsx
  frontend/src/components/Input.tsx
  frontend/src/components/PerformanceCard.tsx
  frontend/src/components/ScrollColumn.tsx
  frontend/src/components/Searchbar.tsx
  frontend/src/components/SemiCircle.tsx
  frontend/src/components/SideNavigation.tsx
  frontend/src/components/SimpleInput.tsx
  frontend/src/components/TagButton.tsx
  frontend/src/components/TicketCard.tsx
  frontend/src/components/TimePicker.tsx
Due: pnpm --filter frontend lint

fix: 홈 상단의 주간 달력 버그 수정(#37)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

feat: be global /api 적용
  backend/src/main.ts
Due: pnpm --filter backend lint

refactor: PR 리뷰 피드백 적용(#37)
  frontend/src/app/(main)/_components/CompactFieldRenderer.tsx
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/_components/DailyDetailRecordItem.tsx
  frontend/src/app/(post)/_components/DailyDetailRecords.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/GalleryDrawer.tsx
  frontend/src/components/MonthRecords.tsx
  frontend/src/components/MonthlyDetailRecords.tsx
  frontend/src/lib/api/posts.ts
  frontend/src/lib/constants/constants.ts
  frontend/src/lib/fake/fakePosts.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: main.ts에 AllExceptionFilter http, ws에 대해 적용
  backend/package.json
  backend/src/common/exception_filters/AllHttpExceptionFilter.ts
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
  backend/src/main.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

chore: .env.example 수정
  backend/.env.example
Due: none

feat: winston logging 도입 - winston 로깅 모드 도입 - winston-rotate-file 도입 - winston 로깅 모듈 app module 연결 - tsconfig.json 컴파일 옵션 cjs에서 nodenext로 변경 - "isolatedModules": true로 type import 강제
  backend/.dockerignore
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/winston/index.ts
  backend/src/config/winston/winston.config.ts
  backend/src/config/winston/winston.transport.ts
  backend/src/main.ts
  backend/src/modules/logging_winston/index.ts
  backend/src/modules/logging_winston/logging.interceptor.ts
  backend/src/modules/logging_winston/logging.module.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/post/post.controller.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/post.e2e-spec.ts
  backend/tsconfig.json
  frontend/.dockerignore
  pnpm-lock.yaml
Due: pnpm --filter backend lint

chore: post 폴더 modules내부로 옮김
  backend/src/app.module.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.spec.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/post/post.types.ts
  backend/src/post/post.controller.ts
  backend/src/post/post.module.ts
  backend/src/post/post.service.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: pnpm-lock.yaml 충돌 수정
  pnpm-lock.yaml
Due: none

feat: 머지 중 사라진 요일 반환 유틸함수 추가
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

refactor: 네이밍이 post인 파일/변수 등 모두 record 로 통일(#12) - createRequest 객체에 대한 타입들 설정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldManager.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/add/page.tsx
  frontend/src/components/map/LocationDrawer.tsx
  frontend/src/components/map/LocationPicker.tsx
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordField.ts
Due: pnpm --filter frontend lint

fix : 지도 내에서 핀 이동 시 해당 핀 위치에 대한 주소값 실시간으로 보이도록 수정(#12)
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: typeorm migration 설정 파일 생성 - migration cli 설정 파일 적용 - package.json에 migration 명령어 추가
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm-cli.config.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/main.ts
  backend/src/migrations/1767689878926-InitialMigration.ts
  backend/src/modules/folder/folder.entity.ts
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/post/entity/post.entity.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: pnpm --filter backend lint

fix: cicd.yml에서 환경변수 주입으로 변경
  .github/workflows/cicd.yml
  frontend/src/app/(post)/create/diary-travel/page.tsx
Due: pnpm --filter frontend lint

feat: FE에 api_prefix.ts 적용 - api 호출시 운영환경, 서버, 클라 컴포넌트 고려해서 api prefix 분기
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm-cli.config.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
  frontend/src/lib/api/api_prefix.ts
  frontend/src/lib/api/posts.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: 주간 달력 표현을 위한 애니메이션 라이브러리 추가(#37)
  pnpm-lock.yaml
Due: none

feat: 루트 layout 수정(#37)
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat: 홈 상단의 주간 달력 구현(#37)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

feat: 홈의 상단 오늘의 기록 패턴 차트 구현(#37)
  frontend/package.json
  frontend/src/app/globals.css
  pnpm-lock.yaml
Due: none

style: 반응형 최대 너비 수정(#37)
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat: 내 기록함 기록 리스트 구현(#37)
  frontend/src/app/(post)/my/_components/MonthRecords.tsx
Due: pnpm --filter frontend lint

refactor: 블러로 빈 이미지 공간 이미지가 렌더링 될 때까지 표현(#37)
  frontend/src/lib/utils.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

fix: plaiceholder 라이브러리는 서버 컴포넌트에서만 사용이 가능하므로 유틸 함수 분리(#37)
  frontend/src/lib/utils.ts
Due: pnpm --filter frontend lint

chore: MonthRecords 컴포넌트 components 폴더로 이동(#37)
  frontend/src/app/(post)/my/_components/MonthRecords.tsx
Due: pnpm --filter frontend lint

fix: drawer 나타날 때 뒷 화면 너비가 좁아지는 문제 해결(#37)
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

style: 다크모드에서 어색한 요소 스타일 변경 및 drawer 헤더 정렬(#37)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/_components/GroupMemberManagement.tsx
  frontend/src/components/Back.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지 프로필 수정 구현(#37)
  frontend/src/app/(main)/_components/ProfileEditHeaderActions.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지 구현(#37)
  frontend/src/app/(main)/_components/Profile.tsx
  frontend/src/app/(main)/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/_components/ProfileInfo.tsx
  frontend/src/app/(main)/_components/TagDashboard.tsx
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: 마이페이지 모든 태그 보기 페이지 구현(#37)
  frontend/src/app/(main)/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(main)/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
Due: pnpm --filter frontend lint

chore: 테마 지원을 위한 next-thems 라이브러리 추가(#37)
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: 그룹 정보 수정 페이지 구현(#37)
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/_components/GroupMemberManagement.tsx
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint
