Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 통계 API 경로 업데이트 및 태그 통계 엔드포인트 적용 (#147)
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: stats 요약 응답에 streak/월간 기록 포함 (#147)
  backend/src/modules/stats/dto/stats-summary.response.dto.ts
  backend/src/modules/stats/stats.controller.ts
Due: pnpm --filter backend lint

feat: 태그 통계 API 통합 및 응답 필드명 정리 (#147)
  backend/src/modules/stats/dto/get-tag-stats.query.dto.ts
  backend/src/modules/stats/dto/tag-stats.response.dto.ts
  backend/src/modules/stats/stats.controller.ts
Due: pnpm --filter backend lint

feat: 홈 통계 표시를 stats/summary로 연동 (#147)
  frontend/src/app/(main)/page.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/types/profileResponse.ts
Due: pnpm --filter frontend lint

fix: 통계 날짜 계산을 KST 기준으로 보정 (#147)
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

refactor: 통계 조회 쿼리 DTO 정리 및 감정 limit 쿼리 추가 (#147)
  backend/src/modules/stats/dto/get-emotion-stats.query.dto.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat: 감정 통계 meta/분리 정리 (#147)
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

- fix: 감정 통계 frequent 집계 정규화 (#147)
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat: 태그 통계 API 변경에 맞춘 프론트 업데이트 (#147)
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/profile.ts
Due: pnpm --filter frontend lint

fix: 통계 집계에서 삭제된 게시글 제외 (#147)
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat: 스코프별 피드 API 분리 (#148)
  backend/src/modules/feed/dto/get-feed.query.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/feed/feed.personal.query.service.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/modules/group/group.module.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 유저 통계 요약에서 streak/월간 기록 제거 (#147)
  backend/src/modules/mypage/dto/user-summary.response.dto.ts
  backend/src/modules/stats/stats.interface.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat: 유저 통계에 월별 기록 카운트 추가 (#147)
  backend/src/modules/mypage/dto/user-summary.response.dto.ts
  backend/src/modules/stats/stats.interface.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

fix : 빌드 에러 해결(#144) - 타입 변경에 따라 로직 분리 - goupId 존재하지 않는 개인 기록의 경우 고려하여 groupId 선택으로
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
Due: pnpm --filter frontend lint

docs: emotion 통계 스웨거 응답 스키마 정리 (#148)
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.swagger.ts
Due: pnpm --filter backend lint

docs: 피드 스웨거 응답 포맷 정리 (#148)
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.swagger.ts
Due: pnpm --filter backend lint

feat: emotion summary 엔드포인트 제거 및 조회 로직 단순화 (#148)
  backend/src/modules/stats/dto/emotion-summary.response.dto.ts
  backend/src/modules/stats/dto/get-emotion-stats.query.dto.ts
  backend/src/modules/stats/dto/get-emotion-summary.query.dto.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat : 불필요한 중복 계산 수정(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
Due: pnpm --filter frontend lint

feat : 위치 필드 공동 작업 로직 구현(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorInitializer.ts
  frontend/src/app/(post)/group/@modal/(...)location-picker/page.tsx
  frontend/src/app/(post)/group/@modal/default.tsx
  frontend/src/app/(post)/group/layout.tsx
Due: pnpm --filter frontend lint

feat(collab): PRESENCE_HEARTBEAT 추가 및 lastSeenAt 갱신 처리
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/presence.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

feat : 날짜, 시간 단위 공동작업 로직 연결(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/core/TimePickerDrawer.tsx
  frontend/src/components/DateDrawer.tsx
Due: pnpm --filter frontend lint

fix: 공동 작업 시 병렬 라우터 모달 스타일 변경(#144)
  frontend/src/app/(post)/group/@modal/(...)location-picker/page.tsx
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: presence TTL 퇴출 로직 추가 및 하트비트 기반 lastSeenAt 정리
  backend/scripts/ws-presence-test.js
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/presence.service.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

chore: collab 타입에 import type 정리
  backend/src/modules/post/collab/types.ts
Due: pnpm --filter backend lint

feat: 그룹 커버 이미지 목록 조회 (월 단위) GET /v1/groups/:groupId/cover-candidates 구현 - cursor를 base64 인코딩 하므로 주석으로 안내 - dto에 undefined 가능한 필드 수정
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/get-group-cover-candidates.dto.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

feat: add-group-mongth-cover migration 파일 추가
  backend/migrations/1769514370596-add-group-month-cover-migrations.ts
Due: pnpm --filter backend lint

fix: migration 파일에 index sql 추가
  backend/migrations/1769514370596-add-group-month-cover-migrations.ts
  backend/src/modules/post/entity/post-media.entity.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

refactor: parseYearMonth util로 분리
  backend/src/common/utils/parseDateValidator.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

feat: msw next-auth 및 next.js 데이터 요청은 가로채지 않도록 설정
  frontend/src/lib/mocks/browser.ts
Due: pnpm --filter frontend lint

feat: 마이페이지, 홈 통계 수정된 api 명세대로 적용(#127)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/WritingRecordStatistics.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/profileResponse.ts
Due: pnpm --filter frontend lint

feat: 홈 특정 날의 기록이 없을 때의 UI 변경
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

feat: 월별 기록함의 최신글에 장소 정보가 없을 때 위치 아이콘 미출력
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지 프로필 수정 유저 정보 조회 후 데이터 적용
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

style: 어색한 디자인 스타일 변경
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix: map api가 로드된 후 실행되도록 위치 선택 기능 동작 지연
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

refactor: 콘솔 제거
  frontend/src/auth.ts
Due: pnpm --filter frontend lint

feat: 타임라인 엔드포인트 개인/그룹/홈 달리 적용(#127)
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

feat: 위치 선택 마커 주변 장소 이름을 띄우도록 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: search 모듈 생성 및 연결 후 통합 검색, 최근 검색어 api 구현
  backend/src/app.module.ts
  backend/src/modules/search/dto/search.dto.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/search/search.module.ts
  backend/src/modules/search/search.service.ts
  frontend/src/auth.ts
  frontend/src/components/MswLoader.tsx
  frontend/src/middleware.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 기록 작성 태그 추가 키보드 한글 입력시 합성 이벤트에 의해 중복 입력 문제 수정
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
