Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

test: e2e 테스트 안정성 및 가시성 개선(#283)
  frontend/playwright.config.ts
  package.json
Due: pnpm --filter frontend lint

test: 지도 페이지 스토리 추가(#283)
  frontend/src/app/(map)/_components/storybook/MapRecordItem.stories.tsx
  frontend/src/app/(map)/_components/storybook/RecordMapDrawer.stories.tsx
Due: pnpm --filter frontend lint

test: 보관함 무한스크롤 및 연도 필터 e2e 테스트 추가(#283)
  frontend/e2e/archive-infinite-scroll.spec.ts
Due: pnpm --filter frontend lint

test: fast refresh로 인한 e2e 테스트 간헐적 실패 수정(#283)
  frontend/e2e/profile-navigation.spec.ts
  frontend/e2e/profile-nickname-update.spec.ts
  frontend/e2e/record-sharing.spec.ts
Due: pnpm --filter frontend lint

test: 공지사항 e2e 테스트 보완 및 홈 공지 팝업 e2e 테스트 추가(#283)
  frontend/e2e/announcement-modal.spec.ts
  frontend/e2e/announcements.spec.ts
Due: pnpm --filter frontend lint

test: 토요일 조건에서 테스트가 무조건 스킵되는 버그 수정(#283)
  frontend/e2e/date-restriction.spec.ts
Due: pnpm --filter frontend lint

test: 기록함 날짜 탐색 E2E 테스트 추가(#283)
  frontend/e2e/date-selector-drawer.spec.ts
  frontend/e2e/my-month.spec.ts
Due: pnpm --filter frontend lint

test: strict mode 취약 locator 수정(#283)
  frontend/e2e/record-detail.spec.ts
  frontend/e2e/record-personal-flow.spec.ts
Due: pnpm --filter frontend lint

chore: 클로드 문서 gitignore에 추가
  .gitignore
  CLAUDE.md
Due: none

test: 그룹 홈, 설정 스토리북 추가 및 기존 스토리 수정(#283)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/storybook/GroupMainTabs.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupInfo.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupMemberManagement.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/storybook/GroupProfileEdit.stories.tsx
  frontend/src/app/(post)/group/_components/storybook/AddRecordDrawer.stories.tsx
  frontend/src/app/(post)/group/_components/storybook/GroupDraftList.stories.tsx
  frontend/src/app/(post)/group/_components/storybook/GroupHeaderActions.stories.tsx
Due: pnpm --filter frontend lint

test: E2E 테스트 픽스처, 설정 추가
  frontend/.gitignore
  frontend/e2e/fixtures/api.ts
  frontend/package.json
  frontend/playwright.config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

test: 게스트 로그인, 그룹 초대 E2E 테스트 추가(#283)
  frontend/e2e/group-invite.spec.ts
  frontend/e2e/login.spec.ts
Due: pnpm --filter frontend lint

fix: CI 환경에서 formatTime이 AM/PM 영문으로 표기되던 문제 수정(#283)
  frontend/src/lib/date.test.ts
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

test: today 날짜 계산을 UTC에서 로컬 시간 기준으로 수정(#283)
  frontend/e2e/record-personal-flow.spec.ts
Due: pnpm --filter frontend lint

test: 검색 페이지 e2e 테스트 보완(#283)
  frontend/e2e/search.spec.ts
Due: pnpm --filter frontend lint

feat: 로그인 페이지를 랜딩 + 로그인 페이지로 확장(#303)
  frontend/public/feature-custom-style.png
  frontend/public/feature-memory-map.png
  frontend/public/feature-photo-timeline.png
  frontend/public/feature-realtime-friends.png
  frontend/public/feature-record-stats.png
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

fix: 게시글 공유 권한을 소유자 외 그룹 관리자/편집자까지 허용
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

chore: 랜딩으로 확장된 로그인 페이지와 중복되는 온보딩 캐러셀 제거(#303)
  frontend/e2e/onboarding.spec.ts
  frontend/public/onboarding1.png
  frontend/public/onboarding2.png
  frontend/public/onboarding3.png
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(onboarding)/onboarding/_components/OnboardingContent.tsx
  frontend/src/app/(onboarding)/onboarding/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/components/PWAInstallBannerClient.test.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/useApi.test.tsx
Due: pnpm --filter frontend lint

feat: 홈/함께 기록함/그룹 상세/기록 작성 페이지에 코치마크 튜토리얼 추가(#303)
  frontend/src/app/(main)/_components/homeCoachmarkSteps.ts
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/recordEditorCoachmarkSteps.ts
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/groupDetailCoachmarkSteps.ts
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/sharedCoachmarkSteps.ts
  frontend/src/app/(post)/shared/layout.tsx
  frontend/src/components/Coachmark.tsx
  frontend/src/components/NavItem.test.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

test: 코치마크 테스트 추가(#303)
  frontend/src/components/NavItem.test.tsx
  frontend/src/hooks/useCoachmark.test.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

test: 멤버 역할 변경 e2e에서 strict mode 위반 나던 locator 수정
  frontend/e2e/group-management.spec.ts
Due: pnpm --filter frontend lint

fix: 이벤트 버블링 제한을 위한 이벤트 전파 차단 로직 추가(#303)
  frontend/src/components/Coachmark.tsx
Due: pnpm --filter frontend lint

fix: 로그인 랜딩 페이지에서 prefers-reduced-motion 존중하도록 수정(#303)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

fix: 공동수정 publish 시 stale 블록 복원과 버전 레이스 방지
  backend/src/modules/post/post-publish.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 블록 삭제 시 서버가 삭제용 락을 획득하도록 수정 (#287)
  backend/src/modules/post/collab/patch-stream.service.ts
Due: pnpm --filter backend lint

test: date/publishHandler 테스트를 최신 동작에 맞게 갱신(#287)
  frontend/src/lib/date.test.ts
  frontend/src/lib/utils/error/publishHandler.test.ts
Due: pnpm --filter frontend lint

feat: 랜딩 스크롤 스냅과 코치마크 위치 안내 스텝 추가(#303)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/recordEditorCoachmarkSteps.ts
  frontend/src/components/Coachmark.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

chore: Firebase FCM 푸시 알림을 위한 패키지 설치 및 환경변수 설정(#287)
  .gitignore
  backend/.env.example
  backend/package.json
  frontend/.env.example
  frontend/package.json
  pnpm-lock.yaml
Due: none

chore: capacitor/push-notifications 플러그인 등록(#287)
  frontend/package.json
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/app/google-services.json
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: none

feat: PWA FCM 푸시 알림 수신 구현(#287)
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/AuthContext.tsx
  frontend/src/hooks/usePushNotification.ts
  frontend/src/lib/api/notification.ts
  frontend/src/lib/firebase.ts
Due: pnpm --filter frontend lint

feat: FCM 토큰 등록 및 푸시 알림 발송 백엔드 모듈 구현(#287)
  backend/migrations/1783344174180-CreateFcmToken-migration.ts
  backend/src/app.module.ts
  backend/src/modules/notification/dto/register-fcm-token.dto.ts
  backend/src/modules/notification/entity/fcm-token.entity.ts
  backend/src/modules/notification/notification.controller.ts
  backend/src/modules/notification/notification.module.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: android capacitor FCM 푸시 알림 토큰 등록 추가(#287)
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: 푸시 알림 백엔드 버그 수정 및 DB 스키마 보완(#287)
  backend/migrations/1783348447838-AddFcmTokenUniqueConstraint-migration.ts
  backend/src/modules/notification/entity/fcm-token.entity.ts
  backend/src/modules/notification/notification.controller.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 기록 시 FCM 푸시 알림 발송(#287)
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

fix: 서버사이드 렌더링시 API URL 이중 /v1 버그 수정(#287)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

fix: FCM 발송 실패시 만료 토큰 자동 삭제(#287)
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: 그룹별 알림 수신 토글 기능 추가(#287)
  backend/migrations/1783398050652-AddGroupMemberNotificationMuted-migration.ts
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/get-group-permission.dto.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/group/service/group-management.service.ts
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 푸시 알림 권한 요청 UX 추가(#287)
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

feat: 그룹별 알림 기능 및 unread 기능 추가(#287)
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/get-groups.dto.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: 안드로이드 capacitor에서는 알림 설정시 시스템 알림 설정 창을 열어주도록 개선(#287)
  frontend/package.json
  frontend/src/app/(main)/profile/_components/Setting.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
