Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 그룹 알림 페이지 구현(#215)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItemSkeleton.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/page.tsx
Due: pnpm --filter frontend lint

style: 공동 작성 프로필 이미지 영역 스타일 깨짐 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

style: 운영체제별 일관된 폰트 설정 추가
  frontend/src/app/globals.css
Due: none

refactor: 그룹 이름 유효성 검사 추가
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 로그인 시도 시 이전에 남아있는 에러 콜백이 남을 수 있는 문제 해결
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

style: 지도 페이지 레이아웃 깨짐 문제 -> 패딩 값 추가
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 공유 기록함 empty ui 중복 제거
  frontend/src/components/GroupSelectDrawer.tsx
Due: pnpm --filter frontend lint

fix: pr 리뷰 반영 수정
  backend/.env.example
  backend/migrations/1770194651792-add-version-to-posts-and-groups.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

refactor: 쓰로틀링에 디바운스를 섞어 마지막 입력도 처리할 수 있도록 수정(#187)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/lib/utils/useThrottle.ts
Due: pnpm --filter frontend lint

temp: 공동 작성 제목 쓰로틀링 + 디바운스 patch
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
Due: pnpm --filter frontend lint

style: 그룹함에 들어가 하단 네비게이션 바가 바뀌면 add 버튼 색상 다르게 표시(#187)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

fix: 함께 기록함 내부 기록 삭제시 함께 기록함 커버가 변경되지 않는 캐싱 문제(#187)
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

fix: redis패키지 제거(ioredis로 대체)
  backend/package.json
Due: none

feat: publish 종료 이벤트에 currentVersion 포함
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

feat: publish 종료 이벤트로 버전 동기화 처리
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

fix: 테이블 및 콘텐츠 락 걸렸을 때 클릭 시 편집 불가 에러 토스트 띄우기
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
Due: pnpm --filter frontend lint

feat: 게시글 작성 타이틀 내에 락 걸렸을 때 클릭 시 토스트 뜨도록 추가
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
Due: pnpm --filter frontend lint

fix: 다른 사용자에 의한 락 시 에러 토스트 문구 통일
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
Due: pnpm --filter frontend lint

feat: 서버에서 조회할 이미지 URL 유틸 함수 추가
  frontend/src/lib/api/media.ts
Due: pnpm --filter frontend lint

feat: textarea 맞춤법 검사 제거
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

fix: 쓰로틀링 + 디바운스 시간이 지나기 전에 다른 작업을 하기 위해 포커스를 이동하면 이전 블록에 락이 그대로 남아있으며 emit/patch 되지 않던 문제(#187)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingPickerDrawer.tsx
  frontend/src/lib/utils/useThrottle.ts
Due: pnpm --filter frontend lint

feat: feed/상세 DTO에 공동수정 여부 필드 추가
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/post/dto/post-detail.dto.ts
Due: pnpm --filter backend lint

feat: feed 카드에 active edit draft 상태 반영
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.module.ts
Due: pnpm --filter backend lint

feat: feed/상세 조회에 edit draft 상태 조회 로직 추가
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: record 타입에 edit draft 상태 필드 추가
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: 피드/타임라인/상세 카드에 공동 수정 상태 표시 추가
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

chore: sentry 터널링 경로 허용
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: shared 함께 그룹함 하이드레이션 에러 수정(#187)
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
Due: pnpm --filter frontend lint

feat: 게시글 작성 시 해당 그룹명 포함해서 보여주도록 추가
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

feat: 공동 작성 슬롯 마이그레이션 추가
  backend/migrations/1770288931741-add-post-draft-create-slot.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

feat: 공동 작성 CREATE 드래프트 5개 제한 적용
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: 공동 작성 생성 제한 시나리오 추가
  backend/src/seed/seed.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 그룹 드래프트 목록 구독/갱신과 접속 제한 추가
  backend/.env.example
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

feat: 프론트 그룹함 공동작성 목록 UI/소켓 구독 추가
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/app/(post)/group/_components/GroupDraftList.tsx
  frontend/src/lib/types/recordCollaboration.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

refactor: 로그인 페이지에선 pwa 배너가 안보이도록 수정
  frontend/src/components/PWAInstallBannerClient.tsx
Due: pnpm --filter frontend lint

feat: redis로 원자적 락 및 map을 변경, FE 웹소켓 공동작성 관련 버그 수정 시도
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/group/service/group-record.service.ts
  backend/src/modules/post/collab/draft-state.service.ts
  backend/src/modules/post/collab/lock-events.ts
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/collab/patch-stream.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-publish.service.ts
  backend/src/modules/search/search.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/layout.tsx
  frontend/src/components/SocketManager.tsx
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/group.ts
  frontend/src/lib/socket/socketSingleton.ts
  frontend/src/store/useSocketStore.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat/초대코드의 다른 계정 선택시 provider 다른 계정을 선택하도록 prompt 설정
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/google-auth.guard.ts
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/page.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/lib/utils/getRedirectUri.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 공동 기록 중임을 작성 중에 볼 수 있도록 추가
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

style: shared 페이지에서 add 버튼 초록색으로 변경
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

fix: 감정 모두 보기 페이지 자주 사용순으로 정렬되던 문제 수정
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
