Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix: pnpm-lock 충돌 수정
  pnpm-lock.yaml
Due: none

style: 다크모드 변경 안되는 부분 수정(#12) - 테이블 인덱스 0일 때 배경색상 하얀색 되는 부분 수정 - 태그 드로어 제목색상 안바뀌는 부분 하얀색으로 바뀌도록 수정
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

feat: 레코드 에디터 드래그 앤 드롭 로직 개선(#12) - 그리드 중앙선 기준의 좌/우 배치 로직 적용 - 짝 없는 1열 블록 자동 확장 기능 추가 - 빈 공간에서도 드래그 타겟 찾을 수 있도록 handleGridDragOver 추가 - 드래그 앤 드롭 로직 커스텀 훅으로 분리
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/app/(post)/_utils/recordLayoutHelper.ts
Due: pnpm --filter frontend lint

feat: 뒤로가기 화살표 아이콘 통일 (ChevronLeft -> ArrowLeft)(#12)
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
Due: pnpm --filter frontend lint

style: 테이블 열 추가 버튼 테이블 높이와 동일한 크기 가지도록 수정(#12)
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
Due: pnpm --filter frontend lint

style: LocationPicker 내에 검색 input 다크모드 변경 시 텍스트 색상 흰색에서 검정색으로 수정(#33)
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: group rbac 기반 guard와 필요한 api 구현 - DTO 반영 전 버전
  backend/.env.example
  backend/src/app.module.ts
  backend/src/enums/group-role.enum.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.type.d.ts
  backend/src/modules/auth/jwt/jwt.strategy.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/group.type.d.ts
  backend/src/modules/group/guards/group-roles.decorator.ts
  backend/src/modules/group/guards/group-roles.guard.ts
  frontend/src/lib/api/api_prefix.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: RBAC 실현을 위해 validationPipe을 DTO에 적용 - class-validator class-transformer 패키지 추가 - main.ts에 global validationPipe 설정 적용 - AddMemberDto을 예시로 추가 (차후 DTO 추가해 나갈 예정)
  backend/package.json
  backend/src/main.ts
  backend/src/modules/group/dto/add-member.dto.ts
  backend/src/modules/group/group.controller.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

style: 기록 작성 페이지 내에 플로팅 버튼 글자 줄바꿈되는 거 방지를 위한 모바일 버전 크기 조절(#12)
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
Due: pnpm --filter frontend lint

fix: pnpm.lock 새로 생성
  pnpm-lock.yaml
Due: none

fix: addMember는 owner/editor 둘 다 가능하게 수정
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

chore: 개발 DB를 PostGIS 지원 Postgres로 변경 (#43)
  docker-compose.dev.yml
Due: none

chore: 개발용 DB·오브젝트 스토리지 도커 인프라 구성 (#43)
  .env.example
  backend/.env.example
  docker-compose.dev.yml
  package.json
Due: none

refactor: 로컬 실행 환경 분리 및 TypeORM 설정 정리 (#43)
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm.config.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

refactor: 리베이스로 복구된 folder 모듈 제거 및 연관 코드 정리 (#43)
  backend/src/modules/folder/folder.controller.ts
  backend/src/modules/folder/folder.entity.ts
  backend/src/modules/folder/folder.module.ts
  backend/src/modules/folder/folder.service.ts
Due: pnpm --filter backend lint

chore: OAuth 필드 반영을 위한 users 마이그레이션 추가 (#43)
  backend/migrations/1767886157370-add-user-oauth-fields.ts
  backend/src/migrations/1767689878926-InitialMigration.ts
  backend/src/modules/user/user.entity.ts
Due: pnpm --filter backend lint

chore: TypeORM 마이그레이션 초기 세팅 (#43)
  backend/migrations/1767732378313-init-schema.ts
  backend/package.json
  backend/src/config/typeorm/typeorm-cli.config.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/data-source.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

chore: 개발용 PostGIS 이미지 버전을 16-3.4로 통일 (#43)
  docker-compose.dev.yml
Due: none

fix: TypeORM entities/migrations 경로를 join 기반으로 수정 (#43)
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

feat: 로그인 페이지 구현(#49)
  frontend/src/app/(login)/login/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

chore: front build시 문제 되는 파일 제거 및 코드 주석처리(#48)
  frontend/src/app/(folder)/[userId]/records/[postId]/page.tsx
  frontend/src/app/(folder)/[userId]/records/page.tsx
  frontend/src/app/(folder)/layout.tsx
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
  frontend/src/app/(map)/layout.tsx
  frontend/src/app/(post)/create/diary-travel/layout.tsx
  frontend/src/app/(post)/create/select-location/layout.tsx
  frontend/src/app/(post)/create/select-location/page.tsx
  frontend/src/app/(search)/layout.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지에 통계 추가(#56)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
  frontend/src/app/(main)/profile/_components/WritingRecordStatistics.tsx
  frontend/src/app/(main)/profile/page.tsx
Due: pnpm --filter frontend lint

style: 스타일 수정(#56)
  frontend/src/app/(main)/_components/CompactFieldRenderer.tsx
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(main)/profile/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/(main)/profile/_components/TagDashboard.tsx
  frontend/src/app/(main)/profile/all-tags/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 모든 페이지 뒤로가기 버튼 Back 컴포넌트 사용하도록 수정(#56)
  frontend/src/app/(post)/_components/DateDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

feat: 그룹 카드에서 그룹 생성일 추가(#56)
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: 생성 날짜 색상 더 연하게 수정(#56)
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: 그룹 멤버 초대할 때 권한도 설정할 수 있도록 수정(#56)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint

style: 드로어 width-full 로 수정(#33)
  frontend/src/app/(post)/_components/editor/core/TimePickerDrawer.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/components/DateDrawer.tsx
Due: pnpm --filter frontend lint

refactor: posts 엔티티/DTO 기반 최소 구현 뼈대 추가 (#45)
  backend/package.json
  backend/src/enums/post-scope.enum.ts
  backend/src/main.ts
  backend/src/modules/post/dto/create-post.dto.ts
  backend/src/modules/post/entity/post.entity.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

feat: posts 생성/조회 컨트롤러 구현 및 불필요한 타입 정리 (#45)
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.types.ts
Due: pnpm --filter backend lint

feat: posts 생성 및 단건 조회 서비스 로직 구현 (#45)
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.spec.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

chore: posts 테이블을 최종 스키마에 맞게 마이그레이션 (#45)
  backend/migrations/1767898662747-posts-update-core-schema.ts
Due: pnpm --filter backend lint

fix: provider 컬럼 타입 명시
  backend/src/modules/user/user.entity.ts
Due: pnpm --filter backend lint

test: post e2e 작성 및 테스트 인프라 분리 (#45)
  backend/package.json
  backend/test/app.e2e-spec.ts
  backend/test/post.e2e-spec.ts
  docker-compose.test.yml
  package.json
Due: pnpm --filter backend lint

docs: 테스트 인프라/마이그레이션 사용법 추가 (#45)
  README.md
Due: none

feat: 검색 페이지 내에 감정 필터링 추가(#33) - 이모션 드로어 중복 선택 가능한 버전 추가 - 검색바에서 사용되는 필터칩에 감정 추가
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/FilterChip.tsx
Due: pnpm --filter frontend lint

feat: 월별 사용 그래프 펼쳐서 보기로 수정(#56)
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
Due: pnpm --filter frontend lint

fix: 감정 검색 드로어 타이틀 변경(#33)
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
Due: pnpm --filter frontend lint

fix: 감정 검색 드로어에 search 에서만 쓰일 onReset 선택사항으로 interface 변경(#33)
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
Due: pnpm --filter frontend lint
