Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

chore: NCP Object Storage CORS 설정 스크립트 추가
  cors.xml
  scripts/put-bucket-cors.js
Due: none

fix : 안 쓰는 import 제거
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix: 게시글 상세 조회 이미지 에러 수정
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

fix: 프리뷰와 상세보기에서의 이미지 404에러 버그 수정
  frontend/src/components/AssetImage.tsx
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

feat: 초대코드 권한 없는 경우 처리
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/hooks/useGroupInvite.ts
Due: pnpm --filter frontend lint

fix : 로그인 안 된유저도 초대 페이지 접속 가능하도록 수정
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/AuthContext.tsx
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: 탈퇴시 soft delete였던 것을 hard delete로 수정 및 duplicate key value violates unique constraint 오류 수정하기
  backend/src/modules/group/service/group-invite.service.ts
  backend/src/modules/media/entity/media-asset.entity.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/user/dto/update-month-cover.body.dto.ts
Due: pnpm --filter backend lint

feat: Soft Delete 및 N+1 쿼리 최적화 작업, pnpm audit 후 high 문제 패키지 업데이트 - 쿼리 빌더에서 soft delete 체크가 자동으로 안되는 점을 반영해서 수정 - getGroups service에서 쿼리를 n+1문제 위험에서 배치 처리 및 캐싱으로 리팩토링
  backend/package.json
  backend/src/modules/group/controller/group.controller.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group-record.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/media/entity/media-asset.entity.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/entity/post-contributor.entity.ts
  backend/src/modules/user/user.service.ts
  frontend/package.json
  pnpm-lock.yaml
Due: pnpm --filter backend lint

feat: helmet 보안조치 적용
  backend/package.json
  backend/src/main.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

feat: 속도 제한 및 DDoS 방어용 코드 추가
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

fix: 서버 렌더링과 클라이언트 렌더링 결과 차이로 인한 하이드레이션 에러 해결(#187)
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(post)/shared/page.tsx
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

fix: 클라이언트 컴포넌트에 빠진 'use client' 추가(#187)
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

refactor: 필요없는 코드 제거
  frontend/src/components/ui/PostCard.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: 기록함 커버 조회시 이미지 데이터가 보이지 않는 문제 해결(#187)
  backend/src/modules/group/dto/update-group-cover.dto.ts
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 커버 변경 후 그룹 정보 수정 페이지에서 변경된 커버가 적용되지 않는 문제 해결(#187)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/lib/actions/revalidate.ts
Due: pnpm --filter frontend lint

fix: 유저 월별 커버 후보를 개인 글로 제한
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix: 내 기록함 기록된 날짜 조회를 개인 글 기준으로 제한
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

chore: 사용되지 않는 연간 이미지 조회 함수 제거
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 홈의 피드 리스트 개인 글인지 그룹 글인지 뱃지를 둬 구분
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

fix: 서버에서 받은 데이터 바로 클라이언트로 initialData로 전달해 미리 화면에 출력하기(#187)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
Due: pnpm --filter frontend lint

feat: 홈에서 이미지 개수에 따라 타일 형태로 보이도록 수정
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/ImageTileGrid.tsx
Due: pnpm --filter frontend lint

refactor: 서버 사이드에서 fetch시 쿠키가 잘 전달되도록 수정(#187)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

style: 불필요한 스크롤이 발생하지 않도록 화면 높이 조정
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailSkeleton.tsx
  frontend/src/components/DailyDetailRecords.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지 통계 empty ui 수정
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/TagDashboard.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
Due: pnpm --filter frontend lint

feat: 인앱에서의 로그인과 시크릿 모드에서의 PWA 안내 추가
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/lib/utils/browserDetect.ts
Due: pnpm --filter frontend lint

chore: 리드미 직면한 문제 및 프로젝트 간단 소개 추가
  README.md
Due: none

fix: 그룹 멤버 프로필 이미지 반환 기준 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

fix: 삭제된 유저로 인한 500 오류 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 그룹 목록에서 삭제된 게시글 제외 (#188)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

fix: 게시글 상세조회 기여자에 개인/그룹 프로필 정보 추가 (#188)
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 지도 썸네일을 첫 이미지 블록 mediaId로 변경 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

feat: drawer를 제일 밑까지 내려도 최소 drawer로 스냅핑되도록 수정(#177)
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
  frontend/src/app/(map)/map/page.tsx
Due: pnpm --filter frontend lint

feat: 지도 페이지 이동시 첫 렌더링에 유저의 현재 위치로 중심점 이동(#177)
  frontend/src/app/(map)/_components/GoogleMap.tsx
Due: pnpm --filter frontend lint

feat: 태그 필터링 가능하도록 추가(#177)
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/components/search/FilterChip.tsx
Due: pnpm --filter frontend lint

fix: 마커 클릭시 drawer내의 강조된 아이템이 drawer에서 조금 잘려서 화면에 보이는 문제(#177)
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 콘솔 제거
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

feat: 커스텀 클러스터 마커 추가(#177)
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/CustomClusterRenderer.ts
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 지도 기록 이미지 수정된 필드값 적용
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

chore: 리드미 내에 기술 스택 아이콘 추가
  README.md
Due: none

feat: 기록에서의 '지도로 보기' 기능 구현(#177)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/map/page.tsx
  frontend/src/app/(post)/_components/DailyDetailFloatingActions.tsx
  frontend/src/app/(post)/_components/ViewOnMapButton.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint
