Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

test: 안드로이드 addListener 목이 Capacitor 실제 타입(Promise) 반환하도록 수정(#316)
  frontend/src/components/AndroidNotificationHandler.test.tsx
  mobile-app/android/capacitor.settings.gradle
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: 그룹에 코드로 참여하는 버튼 추가
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 홈에서 주간 달력이 홈처럼 상단에 고정되어 스크롤되도록 개선(#318)
  frontend/package.json
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/_components/WeekCalendarSkeleton.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
Due: pnpm --filter frontend lint

fix: registerAndroidToken이 removeAllListeners로 다른 리스너까지 삭제하던 문제 수정(#316)
  frontend/src/hooks/usePushNotification.test.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: 사파리 웹 푸시가 절대 URL 이동 및 표시 완료 대기 없이 처리되던 문제 수정(#316)
  frontend/public/firebase-messaging-sw.js
Due: none

fix: 그룹 활동 로그 프로필 사진이 세로 사진일 때 비율이 깨지던 문제 수정(#316)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

refactor: 홈에서 오늘 작성·이번달 기록 영역이 주간 달력과 함께 고정되도록 개선(#318)
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
  frontend/src/app/(main)/_components/StreakStats.tsx
Due: pnpm --filter frontend lint

feat: 홈·그룹 홈 무한스크롤 피드에 맨 위로 이동 버튼 추가(#318)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/components/FloatingScrollButton.test.tsx
  frontend/src/components/FloatingScrollButton.tsx
  frontend/src/components/ScrollToTopButton.tsx
  frontend/src/hooks/useScrollToTop.ts
Due: pnpm --filter frontend lint

fix: 예외 필터가 클라이언트의 x-request-id를 신뢰하지 않고 항상 직접 발급하도록 수정
  backend/src/common/exception_filters/AllHttpExceptionFilter.spec.ts
  backend/src/common/exception_filters/AllHttpExceptionFilter.ts
Due: pnpm --filter backend lint

fix: registerAndroidToken이 타임아웃 이후에도 뒤늦게 리스너/register()를 호출하던 문제 수정
  frontend/src/hooks/usePushNotification.test.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: RecordTimelineFeed 언마운트 시 페이지네이션 IntersectionObserver 정리
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
Due: pnpm --filter frontend lint

docs: 지난 기록 피드 커서 Swagger 예시를 실제 인코딩 형식에 맞게 수정
  backend/src/modules/feed/dto/get-past-feed.query.dto.ts
Due: pnpm --filter backend lint

fix: 존재하지 않는 날짜로 정규화되는 피드 커서를 거부하도록 수정
  backend/src/modules/feed/feed.helpers.spec.ts
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: AuthUnauthorizedException reason 인자를 로그 전용 내부 문구로 정리
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

test: 예외 필터 회귀 테스트에 X-Request-Id 헤더 값 일치 검증 추가
  backend/src/common/exception_filters/AllHttpExceptionFilter.spec.ts
Due: pnpm --filter backend lint

fix: 그룹 피드 로딩 폴백을 홈 전용 스켈레톤 대신 타임라인 전용으로 교체
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

test: 타임아웃 회귀 테스트에 registrationError 리스너 재등록 안 됨 검증 추가
  frontend/src/hooks/usePushNotification.test.ts
Due: pnpm --filter frontend lint

fix: 상단 이동 버튼이 화면 기준 오른쪽에 위치하는 문제 수정
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/components/ScrollToTopButton.tsx
Due: pnpm --filter frontend lint

feat: 그룹 활동 알림에 프로필/그룹 사진 아이콘과 카카오톡 스타일 포맷 적용(#316)
  backend/src/modules/group/service/group-activity.service.spec.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/notification/notification.service.spec.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

fix: 웹 포그라운드 푸시가 안 뜨고 알림 클릭 시 이동 안되던 문제 수정 및 포그라운드에서 알림이 표시되도록 수정(#316)
  frontend/public/firebase-messaging-sw.js
  frontend/src/hooks/usePushNotification.test.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

feat: 안드로이드 앱 포그라운드에서도 푸시 알림이 뜨고 탭하면 이동하도록 추가(#316)
  frontend/package.json
  frontend/src/components/AndroidNotificationHandler.test.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: 개인 글을 그룹에 공유하는 API 추가(#317)
  backend/migrations/1785943591809-CreatePostGroupShare-migration.ts
  backend/migrations/1785945276327-AddPostShareActivityType-migration.ts
  backend/migrations/1785948272572-AddPostUnshareActivityType-migration.ts
  backend/src/enums/group-activity-type.enum.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/post/dto/post-group-share.dto.ts
  backend/src/modules/post/entity/post-group-share.entity.ts
  backend/src/modules/post/post-group-share.controller.ts
  backend/src/modules/post/post-group-share.service.spec.ts
  backend/src/modules/post/post-group-share.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
