Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 그룹 홈의 멤버 API 요청 실패시 fallback 버튼 두가(#287)
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/components/RetryFallback.tsx
Due: pnpm --filter frontend lint

refactor: API Timeout시 재시도 버튼 노출(#287)
  frontend/src/app/providers.tsx
Due: pnpm --filter frontend lint

refactor: 주간 달력 일자 클릭시 history stack push가 아닌 replace로 변경(#287)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성 후 상세 페이지에서 다시 작성 페이지로 이동하던 문제 수정(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: 안드로이드 웹뷰에서 카카오 공유 버튼 동작하지 않던 문제 수정(#287)
  frontend/src/components/SocialShareDrawer.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

fix: 그룹 공동 기록 사진 업로드 UX 개선 및 수정 모드 사진 표시/삭제 버그 수정(#287)
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/hooks/useMediaUpload.ts
Due: pnpm --filter frontend lint

fix: 사진/메타데이터 drawer를 열었다 닫은 후 헤더 뒤로가기를 누르면 drawer가 남긴 동일 URL history entry 때문에 여러 번 클릭해야 이동하던 문제 수정(#287)
  frontend/src/components/Back.tsx
Due: pnpm --filter frontend lint

refactor: 개인/그룹 나눠서 임시저장이 되도록 수정(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/hooks/useLocalDraft.ts
Due: pnpm --filter frontend lint

fix: getBackendApiBaseUrl이 v1을 포함해 반환하므로 클라이언트에서의 api 경로 v1 포함 로직 제거(#287)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

fix: input이 포함된 drawer가 열려 가상 키보드가 노출될 때 drawer가 화면을 벗어나는 버그 수정(#287)
  frontend/src/components/AndroidBackHandler.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

fix: 기록 생성 후 상세 페이지에서 뒤로가기시 기록 추가 페이지로 이동하는 버그 수정(#287)
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

feat: 그룹에서의 개인 기록도 임시 저장 기능이 동작하도록 추가(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

refactor: 기록 카드 기본 이미지 제거, 이미지 아이콘으로 대체(#287)
  frontend/src/app/(post)/_utils/convertMonthRecords.ts
  frontend/src/components/ui/PostCard.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: 서버 다운 등의 서버 문제로 사이트를 임시로 닫아야할 때 서버 점검 페이지 띄워줄 수 있도록 추가(#287)
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/ServiceGuard.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성시에도 직접 찍은 이미지가 90도 회전하는 문제 수정(#287)
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
Due: pnpm --filter frontend lint

fix: pwa, 웹 모바일 환경에서 input이 있는 drawer를 열 때 가상 키보드에 의해 drawer가 바깥까지 확장되는 문제 수정(#287)
  frontend/src/app/layout.tsx
  frontend/src/components/StatusBarCover.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

fix: 모바일 카메라로 직접 찍은 사진을 업로드하면 90도 회전되어 저장되는 문제 수정(#287)
  frontend/src/app/api/media-image/[id]/route.ts
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

refactor: 개인정보처리방침 내용 수정(#287)
  frontend/public/privacy-policy.html
Due: none

feat: draft 기록 제외 기록 작성시 마지막 입력 후 3초마다 자동저장 기능 추가(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useLocalDraft.ts
  frontend/src/lib/utils/draftPhotoStorage.ts
Due: pnpm --filter frontend lint

fix: drawer 내부 클릭으로 가상 키보드 닫을 때 drawer가 화면을 벗어나는 버그 수정(#287)
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

feat: 활성 사용자 기준 OAuth 유니크 인덱스 반영 (#285)
  backend/src/modules/user/entity/user.entity.ts
Due: pnpm --filter backend lint

refactor: 그룹 나가기 시 관리자 락과 트랜잭션 적용 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

refactor: 마이페이지 모듈에 refresh token 리포지토리 주입 추가 (#285)
  backend/src/modules/mypage/mypage.module.ts
Due: pnpm --filter backend lint

refactor: 탈퇴한 OAuth 계정 복구 로직 제거 (#285)
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 그룹 나가기 차단 기준을 owner에서 관리자 권한으로 변경 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

test: user 서비스 OAuth 가입 회귀 테스트 추가 (#285)
  backend/src/modules/user/user.service.spec.ts
Due: pnpm --filter backend lint

feat: 활성 사용자 기준 OAuth 유니크 인덱스 마이그레이션 추가 (#285)
  backend/migrations/1776246916021-make-user-oauth-unique-only-for-active-users.ts
Due: pnpm --filter backend lint

fix: 관리자 수 조회 시 탈퇴 유저를 제외하도록 변경 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

test: 마이페이지 탈퇴 시 refresh token 정리 테스트 추가 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
Due: pnpm --filter backend lint

feat: 그룹 멤버 소프트 딜리트 적용 (#285)
  backend/migrations/1776953071970-add-group-member-soft-delete.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 owner 상태의 회원 탈퇴를 차단하도록 변경 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 refresh token revoke 처리 추가 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
