Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint:fix, pnpm --filter frontend lint:fix

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint:fix"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint:fix"]
}

chore: 에어비앤비 코딩컨벤션 백엔드/프론트엔드 따로 설정
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

docs: README 가독성 좋게 재정리
  README.md
Due: none

chore: prettier 설정 파일 확장자 변경
  .prettierrc
  prettier.config.cjs
Due: none

chore: eslintrc 설정 루프 가능성 제거
  .eslintrc.cjs
Due: none

chore: 필요없는 eslint 설정 파일 제거
  backend/eslint.config.mjs
  frontend/eslint.config.js
Due: none

refactor: frontend를 react-vite에서 next.js로 변경
  frontend/.gitignore
  frontend/README.md
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/next.config.ts
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/vite.svg
  frontend/public/window.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint:fix

feat: FE를 next로, BE를 nest로 scaffolding - eslint를 root에서 airbnb를 적용하려 했다가 오류가 너무 심해서 기본 세팅으로 되돌림 - prettier는 그대로 루트에서 적용
  .eslintrc.cjs
  .lintstagedrc.json
  backend/.prettierrc
  backend/README.md
  backend/eslint.config.mjs
  backend/package.json
  backend/test/app.e2e-spec.ts
  backend/tsconfig.json
  frontend/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm --filter backend lint:fix

chore: backend에서 prettier.rc제거
  backend/.prettierrc
Due: none

docs: README 서비스 소개 추가
  README.md
Due: none

chore: fe 경로 alias 지정
  frontend/tsconfig.json
Due: none

chore: tsocnfig baseUrl 추가
  frontend/tsconfig.json
Due: none

chore: src 폴더 추가
  frontend/app/favicon.ico
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
Due: pnpm --filter frontend lint:fix

chore: 구글 지도 라이브러리 추가
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: 지도 페이지 왼쪽 리스트 패널 구현
  frontend/public/profile-ex.jpeg
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/layout.tsx
  frontend/src/components/DiaryPostShort.tsx
  frontend/src/components/Header.tsx
Due: pnpm --filter frontend lint:fix

chore: src 폴더 추가 및 파일 이동
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: pnpm --filter frontend lint:fix

chore: shadcn 라이브러리 추가
  frontend/components.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/lib/utils.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint:fix

feat: 리스트 패널 리사이즈 기능 구현
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
  frontend/src/components/DiaryPostShort.tsx
Due: pnpm --filter frontend lint:fix

feat: input 컴포넌트(검색, 메모 입력) 구현
  frontend/src/components/Searchbar.tsx
  frontend/src/components/SimpleInput.tsx
Due: pnpm --filter frontend lint:fix

feat: 필터링 태그 구현
  frontend/src/components/TagButton.tsx
Due: pnpm --filter frontend lint:fix

style: 리사이즈 버튼 커서 모양 변경
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
Due: pnpm --filter frontend lint:fix

chore: shadcn button & popover 컴포넌트 추가
  frontend/package.json
  frontend/src/app/globals.css
  pnpm-lock.yaml
Due: none

feat: shadcn button & popover 커스텀
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/popover.tsx
Due: pnpm --filter frontend lint:fix

feat: 선택된 post 상세보기
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/DiaryPostShort.tsx
Due: pnpm --filter frontend lint:fix

feat: 홈 오른쪽 필터링 패널 컴포넌트 구현
  frontend/src/app/(main)/_components/SideFilterbar.tsx
  frontend/src/components/Searchbar.tsx
Due: pnpm --filter frontend lint:fix

feat: 메인페이지 레이아웃 구현
  frontend/src/app/(main)/_components/PostList.tsx
  frontend/src/app/(main)/_components/SideFilterbar.tsx
  frontend/src/app/(main)/_components/SimpleMemo.tsx
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/Searchbar.tsx
  frontend/src/components/SemiCircle.tsx
  frontend/src/components/SimpleInput.tsx
  frontend/src/components/TagButton.tsx
  frontend/src/components/TicketCard.tsx
  frontend/src/hooks/useScrollDirection.ts
Due: pnpm --filter frontend lint:fix

chore: faker 및 MSW 설치
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: MSW, React Query provider 기반 프론트 인프라 구성
  frontend/app/_components/MswLoader.tsx
  frontend/app/_lib/mocks/browser.ts
  frontend/app/_lib/mocks/handlers.ts
  frontend/app/layout.tsx
  frontend/app/providers.tsx
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint:fix

feat: 지도 개발을 위한 게시글 fake 데이터 정의
  frontend/app/_lib/fake/fakePosts.ts
Due: pnpm --filter frontend lint:fix

feat: mock 게시글 조회 API 인터페이스 추가
  frontend/app/_lib/api/posts.ts
Due: pnpm --filter frontend lint:fix

feat: 지도 페이지 기본 구조 및 게시글 렌더링
  frontend/app/map/page.tsx
Due: pnpm --filter frontend lint:fix

chore: 지도 SDK(@vis.gl/react-google-maps) 추가
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: 지도 페이지에 Google Map 기본 렌더링 추가
  frontend/app/map/page.tsx
Due: pnpm --filter frontend lint:fix

feat: 지도 bbox 기반 게시글 핀 렌더링 구현
  frontend/app/map/page.tsx
Due: pnpm --filter frontend lint:fix

feat: 지도 좌측 패널 리스트 및 핀 선택 연동
  frontend/app/map/page.tsx
Due: pnpm --filter frontend lint:fix

style: 메인/맵 페이지 디자인 개선
  frontend/src/app/(main)/_components/PostList.tsx
  frontend/src/app/(main)/_components/SideFilterbar.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/DiaryPostShort.tsx
  frontend/src/components/PerformanceCard.tsx
  frontend/src/components/Searchbar.tsx
  frontend/src/components/SimpleInput.tsx
  frontend/src/components/TagButton.tsx
  frontend/src/components/TicketCard.tsx
Due: pnpm --filter frontend lint:fix

style: 메인 페이지 레이아웃 변경
  frontend/src/app/(main)/_components/SideFilterbar.tsx
  frontend/src/app/(main)/_components/SimpleMemo.tsx
  frontend/src/app/(main)/layout.tsx
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/PerformanceCard.tsx
  frontend/src/components/TagButton.tsx
Due: pnpm --filter frontend lint:fix

style: 메인 페이지 태그에 아이콘 추가
  frontend/src/app/(main)/_components/SideFilterbar.tsx
Due: pnpm --filter frontend lint:fix

feat: 지도 좌측 패널 리스트 및 핀 선택 연동
  frontend/app/_lib/api/posts.ts
  frontend/app/_lib/fake/fakePosts.ts
  frontend/app/_lib/types/post.ts
  frontend/app/map/page.tsx
Due: pnpm --filter frontend lint:fix

feat: 기존 PR에 cicd, dockerfile, docker-compose.yml 및 typeorm.config.ts 추가
  .github/workflows/cicd.yml
  backend/.env.example
  backend/Dockerfile
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm.config.ts
  backend/src/main.ts
  docker-compose.yml
  frontend/Dockerfile
  nginx.conf
  pnpm-lock.yaml
Due: pnpm --filter backend lint:fix

feat: 핀 선택 시 해당 위치로 지도 이동
  frontend/src/app/(map)/_components/GoogleMap.tsx
Due: pnpm --filter frontend lint:fix
