Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: actions에 모노레포 고려 및 불필요한 frontend 의존성 설치 단계 제거
  .github/workflows/android-build.yml
Due: none

fix: jdk 버전 업그레이드
  .github/workflows/android-build.yml
Due: none

style: 검색, 지도 페이지 max-width 적용 안됨 이슈 해결
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

feat: 안드로이드 루트에서 뒤로가기 시 앱 종료 상태 체크
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/AndroidBackHandler.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드에서 소셜 로그인 후 앱으로 돌아가지 않고 웹상태 그대로 실행되는 문제 수정
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/lib/utils/getRedirectUri.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

style: 모바일에서의 툴바와 네비게이션바가 하단과의 gap이 멀어 좁힘
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

refactor: 기록 이미지 업로드 실패시 에러 토스트 띄우기
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드에서 한국어 IME 조합 상태 처리가 달라 발생하는 한글자씩 먹히는 문제
  frontend/src/app/(main)/inquiry/page.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
  frontend/src/app/(post)/_components/editor/core/SaveTemplateDrawer.tsx
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(post)/_components/editor/media/MediaManualInput.tsx
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/components/map/MapSearchBar.tsx
  frontend/src/hooks/useIMEInput.ts
Due: pnpm --filter frontend lint

style: 안드로이드에서의 상태바 높이 조절
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: none

chore: Android APK 빌드 워크플로에 server_url 입력 파라미터 추가
  .github/workflows/android-build.yml
Due: none

chore: CAPACITOR_SERVER_URL 환경변수로 서버 URL 동적 설정 지원
  mobile-app/capacitor.config.ts
  mobile-app/package.json
  mobile-app/tsconfig.json
Due: none

chore: pnpm lockfile에 @types/node 반영
  pnpm-lock.yaml
Due: none

style: 입력이 포함되어 있는 drawer에서 키보드가 사라지면 인디케이터 영역으로 버튼이 이동하는 문제 수정
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

style: 상태바와 헤더 영역 사이에 빈 공간이 있어 뒷 배경이 그대로 보이는 문제 수정
  frontend/src/app/globals.css
  frontend/src/components/StatusBarCover.tsx
Due: pnpm --filter frontend lint

style: 모바일 사이즈에선 네비게이터바 py 적게 적용
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

refactor: 모바일 뒤로가기시 앱 종료 알림 toast 기존 상단에 뜨던 것으로 수정
  frontend/src/app/providers.tsx
  frontend/src/components/AndroidBackHandler.tsx
Due: pnpm --filter frontend lint

feat: 테마 변경시 모바일 인디케이터 색상도 같이 맞춰 바뀌도록 수정
  frontend/package.json
  frontend/src/app/AuthContext.tsx
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

chore: 안드로이드 capacitor 웹뷰엣는 navigator.share가 없어서 '더 많은 앱으로 공유' 버튼이 사라지는 문제
  frontend/package.json
  mobile-app/package.json
  pnpm-lock.yaml
Due: none

feat: 안드로이드 웹뷰에서는 navaigator.clipboard.writeText가 document focus 문제로 실패하는 문제
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/components/SocialShareDrawer.tsx
  frontend/src/lib/utils/clipboard.ts
Due: pnpm --filter frontend lint

fix: 안드로이드 클립보드 복사가 실제로 되지 않았던 문제 수정
  frontend/package.json
  frontend/src/lib/utils/clipboard.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

fix: 안드로이드에서 문자열 입력 시 한글자씩 먹히는 문제 수정
  frontend/src/hooks/useIMEInput.ts
Due: pnpm --filter frontend lint

refactor: capacitor의 core 플러그인에서 직접 플랫폼 환경 정보 가져오기
  frontend/src/hooks/useIMEInput.ts
  frontend/src/lib/utils/clipboard.ts
Due: pnpm --filter frontend lint

chore: mobile 폴더에 capacitor clipboard 설치하지 않은 문제로 설치 진행
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: none

fix: captureInput: true에서 false로 수정해 표준 IME 동작으로 변경
  frontend/src/hooks/useIMEInput.ts
  mobile-app/capacitor.config.ts
Due: pnpm --filter frontend lint

refactor: 상태바 색상 및 상태바 아이콘/텍스트 색상 어색함 개선
  frontend/src/app/AuthContext.tsx
  frontend/src/components/NativeStatusBarSync.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/values/styles.xml
Due: pnpm --filter frontend lint

refactor: 상태바 아이콘/텍스트 색상 어색함 개선
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: none

fix: 키보드 resize를 body에서 none으로 바꿔 테스트
  mobile-app/capacitor.config.ts
Due: none

fix: captureInput을 false로 변경, 변경에 의해 useIMEInput 내부 코드는 오히려 버그를 유발하므로 일반 onChange 동작으로 변경
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/hooks/useIMEInput.ts
  mobile-app/capacitor.config.ts
Due: pnpm --filter frontend lint

refactor: 상태바/아이콘 색상과 인디케이터 색상 테마에 맞춰 변경되도록 수정
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

style: 기록 작성 툴바 pb 값 조정
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
Due: pnpm --filter frontend lint

feat: 기록 작성 페이지 블록을 300ms 이상 꾹 눌러야(롱프레스) 드래그 활성화되도록 변경
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
Due: pnpm --filter frontend lint

refactor: drawer가 열려있을 때 모바일 백버튼으로 닫을 수 있도록 수정
  frontend/src/components/AndroidBackHandler.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성시 블록이 많은 경우 스크롤 위치가 올바르지 않게 이동하는 문제 수정
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 capacitor 웹뷰에서 외부로 put + binary body를 보낼 때 cors 처리 방식이 브라우저와 달라 업로드가 안되는 문제
  frontend/src/lib/api/presignMedia.ts
Due: pnpm --filter frontend lint

refactor: 검색 페이지 태그로 검색에 plus 버튼 추가
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

fix: 이미지 업로드 실패시 reject 처리를 해주지 않아 무한 로딩에 걸리는 문제 및 capacitor http 인터셉터 비활성화
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/lib/api/presignMedia.ts
  frontend/src/lib/utils/image.ts
  mobile-app/capacitor.config.ts
Due: pnpm --filter frontend lint

refactor: 안드로이드 스플래시 화면 만들어진 이미지를 활용하도록 코드 수정
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/values/styles.xml
Due: none

test: 로컬로 안드로이드 테스트하기 위해 로컬 IP로 이미지 업로드를 확인하기 위한 코드 추가
  backend/src/modules/media/media.service.ts
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: splashScreen import하지 않아 발생한 빌드 에러 수정
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: none

fix: 안드로이드 이미지 업로드 cors 확인용 커밋
  mobile-app/capacitor.config.ts
Due: none

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
