Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 공동 게시글 작성 새 드래프트 생성 시 api 호출 로직 추가(#119)
  frontend/src/hooks/useGrouprRecord.ts
Due: pnpm --filter frontend lint

feat: post_drafts 테이블 초기 도입 (#119)
  backend/migrations/1768939465217-add-post-drafts.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

test: draft 진입/조회 e2e 추가 (#119)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: draft 진입/조회 API 추가 (#119)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

test: WS presence 테스트 스크립트 추가 (#120)
  backend/scripts/ws-presence-test.js
Due: none

chore: dev-user 시드 정리 변경 (#120)
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

chore: socket.io 의존성 추가 (#120)
  backend/package.json
  pnpm-lock.yaml
Due: none

feat: 비그룹원 로그인 유저 임시 허용 (#120)
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

chore: seed에 그룹/드래프트 추가 (#120)
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

feat: WS presence 권한/프로필 처리 정비 (#120)
  backend/scripts/ws-presence-test.js
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

feat: draft WS 인증/게이트웨이 추가 (#120)
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/ws/ws-jwt.guard.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: draft WS presence 개선 (#120)
  backend/scripts/ws-presence-test.js
  backend/src/modules/auth/ws/ws-jwt.guard.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

feat: 드래프트 코드 생성 후 진입 연결(#119)
  frontend/src/app/(post)/add/page.tsx
  frontend/src/lib/api/groupRecord.ts
Due: pnpm --filter frontend lint

fix : api 호출 로직 수정(#119)
  frontend/src/lib/api/groupRecord.ts
Due: pnpm --filter frontend lint

fix: 그룹 공동기록 참여 시 임시로 클라이언트에서 패치하도록 수정(#119)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/add/page.tsx
Due: pnpm --filter frontend lint

feat: 내 기록함 해당 월에서 기록이 있는 일 가져오는 api를 @Get('archives/record-days')로 구현
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix : 충돌 해결 중 중복 선언 된 import 삭제(#121)
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: group 모듈에 그룹에 참여 중인 멤버 조회 관련 api 추가
  backend/src/modules/group/dto/get-group-members.dto.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

feat: 클라이언트 소켓 초기 연결 (#121) - 소켓 관리용 전역 스토어 추가 - 그룹 페이지 첫 접속 시 소켓 연결되도록 구현
  frontend/package.json
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/components/SocketManager.tsx
  frontend/src/store/useSocketStore.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: group 모듈에 그룹 월별 카드 커버 변경 api 구현
  backend/src/modules/group/dto/update-group-month-cover.dto.ts
  backend/src/modules/group/entity/group-month-cover.entity.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
  backend/src/modules/group/group.module.ts
Due: pnpm --filter backend lint

eat: draft WS 협업 기본 흐름/lock 관리 추가 (#121)
  backend/scripts/ws-presence-test.js
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

docs: 공동작성 WS 이벤트 문서화 (#121)
  backend/src/modules/post/COLLAB_WS.md
Due: none

fix : 소켓 연결 시 액세스 토큰만 전송하도록(#121)
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

feat: 유저 진입/스냅샷 조회 소켓 연동(#121) - draft 생성 후 반환하는 리다이렉트URL 변경 - 게시글 작성페이지 헤더 내에 진입한 유저 조회가능하도록 추가
  backend/src/modules/post/post-draft.controller.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/hooks/useDraftPresence.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: WS 협업 로직 분리 (#121)
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/collab/presence.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

fix: posts.emotion 배열화 및 메타 추출 확장 (#134)
  backend/migrations/1769022368695-alter-post-emotion-array.ts
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/validator/meta.extractor.ts
Due: pnpm --filter backend lint

feat: PostMood 목록 교체 (#134)
  backend/src/enums/post-mood.enum.ts
Due: pnpm --filter backend lint

fix: MOOD 블록 개수 제한 상향 (#134)
  backend/src/modules/post/validator/blocks.validator.ts
Due: pnpm --filter backend lint

docs: MOOD 허용 목록 Swagger 반영 (#134)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

test: MOOD 검증 메시지/케이스 갱신 (#134)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 그룹 일별 카드 조회 api를 구축
  backend/src/modules/group/dto/get-group-daily-archive.query.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/dto/group-day-record.response.dto.ts
  backend/src/modules/group/dto/group-month-record.response.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
  backend/src/modules/group/group.module.ts
Due: pnpm --filter backend lint

feat: 그룹의 기록이 있는 날짜 조회하는 api 구현
  backend/src/modules/group/dto/get-group-month-images.query.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
Due: pnpm --filter backend lint

feat : 추가된 공동 기록용 URL 헤더/바텀네비바 삭제 및 프리패칭 에러 임시 주석 처리(#121)
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 소켓에서 반환되는 스냅샷 내 멤버 타입 정의(#121)
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/hooks/useDraftPresence.ts
Due: pnpm --filter frontend lint

chore : 배포용 안 쓰는 값들 삭제
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

feat: 초대 코드 로그인 후 자동 가입되는 로직 추가(#84) - 게스트 가입/Oauth 콜백 후 쿠키 조회 -> 그룹 가입 로직 추가 - 에러별 간단한 route 처리를 위해 전역 에러 핸들러 추가
  frontend/src/app/(invite)/_utils/handleInviteError.ts
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
  frontend/src/hooks/useGroupInvite.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

docs: swagger 미구현된 부분에 추가
  backend/src/modules/group/dto/add-member.dto.ts
  backend/src/modules/group/dto/create-invite.dto.ts
  backend/src/modules/group/dto/get-group-members.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/dto/update-group.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/user/dto/day-record.response.dto.ts
  backend/src/modules/user/dto/get-month-images.response.dto.ts
  backend/src/modules/user/dto/get-monthly-archive.query.dto.ts
  backend/src/modules/user/dto/month-record.response.dto.ts
  backend/src/modules/user/dto/update-month-cover.body.dto.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix: getEmotions 타입 에러 수정
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat : 소켓 첫 연결 그룹 상위 layout 에서 연결되도록 수정(#121) - 바로 공동 작업 URL 로 접속하는 경우를 대비하여 layout 단에서 연결되도록 수정
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/layout.tsx
  frontend/src/components/SocketManager.tsx
Due: pnpm --filter frontend lint

feat: 소켓 연결 시 이벤트 추가 및 구조 변경(#121) - RecordEditor 내부에서 소켓 이벤트 처리되도록 변경 - 다른 기기 접속 시 토스트 띄운 후 연결 끊기
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
