Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

chore: 안 쓰는 파일 삭제
  frontend/src/lib/api/posts.ts
Due: pnpm --filter frontend lint

fix: 백엔드 그룹 게시글 수정 드래프트 생성 시 리다이렉트 URL 생성 시 URL 과 동일한 경로로 수정(#168)
  backend/src/modules/post/post-draft.controller.ts
Due: pnpm --filter backend lint

feat: 게시글 수정 api 연동(#168) - 개인 게시글 수정 api 연동 - 그룹 게시글 수정 api 연동
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/add/page.tsx
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useGrouprRecord.ts
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: 그룹 API 연결 확인하며 작동하지 않는 부분 수정(#143)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(post)/shared/page.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter frontend lint

fix: 다른 PR에서 적용한 부분은 임시 해결
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

chore: 기본 프로필 이미지 추가
  frontend/public/profile_base.png
Due: none

fix: 커버 조회시 data가 빈 배열일 때의 예외처리 추가
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/api/my.ts
Due: pnpm --filter frontend lint

fix: 기록 추가 후 기록 캐시 무효화되지 않던 문제 수정(127)
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/lib/actions/revalidate.ts
  frontend/src/lib/api/profile.ts
Due: pnpm --filter frontend lint

feat: 커버 사진이 없을 때의 empty UI 변경
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
Due: pnpm --filter frontend lint

fix: 그룹 생성 응답 구조 변경
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

fix: 그룹 월별 커버 조회 요청 url 변경
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

feat: 그룹 알림 페이지 추가
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/page.tsx
Due: pnpm --filter frontend lint

feat: 함께 기록함 하단 추가 버튼 클릭시 어느 그룹에 기록을 추가할 것인지에 대한 drawer 추가(#143)
  frontend/src/components/GroupSelectDrawer.tsx
Due: pnpm --filter frontend lint

feat: 게스트 로그인은 일정 기간 후 데이터가 삭제된다는 안내하기
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

feat: SNS로 기록 공유하기(#143)
  frontend/public/thumbnail.png
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

feat: 함께 기록함에서 기록 추가 버튼 클릭시 drawer에 그룹 리스트 출력(#143)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

feat: 게스트 로그인 후 세션 상태 확인을 위한 홈으로의 이동 지연
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/AuthContext.tsx
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

refactor: 보이스 연결 미구현으로 인한 임시 주석 처리(#143)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 이미지 AssetImage 사용(#143)
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/AssetImage.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/GroupSelectDrawer.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/components/ui/PostCard.tsx
Due: pnpm --filter frontend lint

fix: 로그인 관련 페이지는 인증 가드 건너뛰기
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

Update frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

feat : 검색 페이지 api 연동(#176)
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/map/LocationPicker.tsx
  frontend/src/components/search/FilterDrawerRender.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useSearchFilters.ts
  frontend/src/hooks/useSearchQuery.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: 최근 검색어 로직 추가(#176) - 검색어 지운 후 한글자씩 남는 에러 발생 - 검색할 글자가 남아있지 않을 땐 예약된 디바운스 함수 취소할 수 있도록 유틸함수 수정
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/hooks/useSearchQuery.ts
  frontend/src/lib/utils/useDebounce.ts
Due: pnpm --filter frontend lint

fix: 자주 쓰이는 태그 옵셔널로 변경(#176)
  frontend/src/components/search/FilterDrawerRender.tsx
Due: pnpm --filter frontend lint

chore: 백엔드 배포용 docker-compose 정리
  docker-compose.yml
Due: none

chore: 루트 환경변수 예제 추가
  .env.example
Due: none

chore: env_file 적용 및 backend 실행 경로 수정
  .env.example
  backend/Dockerfile
  docker-compose.yml
Due: none

chore: 프로덕션 마이그레이션 스크립트 추가
  backend/package.json
Due: none

chore: NCP Object Storage CORS 설정 스크립트 추가
  cors.xml
  scripts/put-bucket-cors.js
Due: none

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
