Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: FCM 토큰 등록 및 푸시 알림 발송 백엔드 모듈 구현(#287)
  backend/migrations/1783344174180-CreateFcmToken-migration.ts
  backend/src/app.module.ts
  backend/src/modules/notification/dto/register-fcm-token.dto.ts
  backend/src/modules/notification/entity/fcm-token.entity.ts
  backend/src/modules/notification/notification.controller.ts
  backend/src/modules/notification/notification.module.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: PWA FCM 푸시 알림 수신 구현(#287)
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/AuthContext.tsx
  frontend/src/hooks/usePushNotification.ts
  frontend/src/lib/api/notification.ts
  frontend/src/lib/firebase.ts
Due: pnpm --filter frontend lint

feat: 푸시 알림 권한 요청 UX 추가(#287)
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: /api -> '' 치환해 잘못된 경로로 API 요청이 가던 것을 /api -> /v1으로 치환호(#287)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

refactor: firebase 공식문서에 맞춰 FCM 토큰 관련 메소드 마이그레이션(#287)
  backend/src/modules/notification/notification.service.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: capacitor/push-notifications 플러그인 등록(#287)
  frontend/package.json
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/app/google-services.json
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: none

fix: 안드로이드 푸시 알림 동적 import에 에러 핸들링 추가(#287)
  frontend/src/components/AndroidNotificationHandler.tsx
Due: pnpm --filter frontend lint

test: 그룹 알림, FCM 푸시 관련 유닛 테스트 및 스토리 보강(#287)
  backend/src/modules/group/service/group-management.service.spec.ts
  backend/src/modules/map/map.service.ts
  backend/src/modules/notification/notification.service.spec.ts
  frontend/src/app/(post)/group/_components/storybook/GroupHeaderActions.stories.tsx
  frontend/src/components/AndroidNotificationHandler.test.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  frontend/src/hooks/usePushNotification.test.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: backend eslint parserOptions을 projectService에서 project로 변경
  backend/eslint.config.mjs
Due: none

refactor: 기록 상세페이지 ssr로 인해 헤더 로드 후 레이아웃이 변경되는 문제 수정(#287)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

fix: 푸시 알림 해제 실패시 사용자에게 안내(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: FCM 서비스워커 Firebase compat 버전을 앱과 동기화(#287)
  frontend/public/firebase-messaging-sw.js
Due: none

fix: firebase-admin 14.x 요구사항에 맞춰 backend Dockerfile Node 버전 22로 상향(#287)
  backend/Dockerfile
Due: none

fix: 알림 딥링크 진입시 record 페이지 스켈레톤 깜빡임 개선(#287)
  frontend/src/app/(post)/record/[recordId]/loading.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: FCM 토큰 삭제 API에 DTO 검증 추가(#287)
  backend/src/modules/notification/dto/remove-fcm-token.dto.ts
  backend/src/modules/notification/notification.controller.ts
Due: pnpm --filter backend lint

fix: FCM 푸시 알림 sw unregister 후 재등록 및 알림 클릭 내비게이션 버그 수정(#287)
  backend/src/modules/notification/notification.service.ts
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/AuthContext.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: 안드로이드 capacitor에서는 알림 설정시 시스템 알림 설정 창을 열어주도록 개선(#287)
  frontend/package.json
  frontend/src/app/(main)/profile/_components/Setting.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: 그룹 활동 기록 시 FCM 푸시 알림 발송(#287)
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 알림에 groupId/postId 데이터 추가(#287)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

fix: FCM 토큰 마이그레이션이 미설치된 uuid-ossp 함수를 호출하던 문제 수정(#287)
  backend/migrations/1783344174180-CreateFcmToken-migration.ts
Due: pnpm --filter backend lint

fix: 로그인 페이지 좁은/짧은 화면에서 콘텐츠 잘리던 문제 수정(#287)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

feat: 검색 결과도 지도처럼 여러 이미지 미리보기를 지원하도록 변경(#287)
  backend/src/modules/search/dto/search.dto.ts
  backend/src/modules/search/search.service.ts
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/app/(search)/_components/storybook/SearchItem.stories.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/hooks/useSearchQuery.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 게시글 이미지 1장일 때 높이 미지정으로 인한 Capacitor 레이아웃 잘림 수정(#287)
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

fix: 푸시 알림 활성화 실패 시 Sentry 에러 로깅 추가(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: capacitor 네이티브 환경에서 햅틱이 동작하지 않던 문제 수정(#287)
  frontend/package.json
  frontend/src/hooks/useHaptic.test.ts
  frontend/src/hooks/useHaptic.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

fix: PWA 설치 배너 표시 여부 결정 중 코치마크가 깜빡이던 문제 수정(#287)
  frontend/src/components/PWAInstallBannerClient.test.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/useCoachmark.test.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

fix: capacitor 네이티브에서 헤더 위 여백이 두번 들어가던 문제 수정(#287)
  frontend/src/app/globals.css
Due: none

feat: 서비스워커 갱신을 능동적으로 확인하는 컴포넌트 추가(#287)
  frontend/src/app/layout.tsx
  frontend/src/components/ServiceWorkerUpdater.test.tsx
  frontend/src/components/ServiceWorkerUpdater.tsx
Due: pnpm --filter frontend lint

fix: 네이티브 프로젝트에 haptics 플러그인 반영 및 iOS 배포 타겟 불일치 수정(#287)
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
Due: none

fix: mobile-app 워크스페이스 lockfile 동기화(#287)
  pnpm-lock.yaml
Due: none

refactor: 검색 쿼리에서 불필요한 PostMedia 조인 제거(#287)
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

fix: 검색 결과 previewMediaIds 중복 제거(#287)
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

fix: SearchItem 가로 스크롤 스트립이 버튼 안에 중첩되지 않도록 수정(#287)
  frontend/src/app/(search)/_components/SearchItem.tsx
Due: pnpm --filter frontend lint

test: ServiceWorkerUpdater 테스트에서 visibilityState 전역 오염 방지(#287)
  frontend/src/components/ServiceWorkerUpdater.test.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
