Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

fix: 게시글 작성 페이지 수정(#12) - 이동 아이콘 항상 뜨도록 수정 - 기본 값 넣어서 반환하는 함수 별도 분리
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

chore: pwa 설정 및 아이콘 추가(#60)
  frontend/public/favicon.ico
  frontend/public/web-app-icon-192x192.png
  frontend/public/web-app-icon-512x512.png
  frontend/src/app/manifest.ts
Due: pnpm --filter frontend lint

fix: 기존 owner를 admin으로 role 이름 변경
  backend/src/enums/group-role.enum.ts
  backend/src/modules/folder/folder.controller.ts
  backend/src/modules/folder/folder.entity.ts
  backend/src/modules/folder/folder.module.ts
  backend/src/modules/folder/folder.service.ts
  backend/src/modules/group/dto/add-member.dto.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

chore: 사용하지 않는 파일 제거
  frontend/src/app/(post)/create/diary-travel/page.tsx
Due: pnpm --filter frontend lint

feat: 주소창 배경색 테마 색으로 지정(#60)
  frontend/public/apple-icon.png
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/manifest.ts
  frontend/src/components/ThemeColorSetter.tsx
Due: pnpm --filter frontend lint

chore: cross-env 적용 (#45)
  backend/package.json
  pnpm-lock.yaml
Due: none

refactor: PostController의 ValidationPipe 제거 (#45)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

chore: TypeORM 마이그레이션 초기 세팅 (#43)
  backend/migrations/1767732378313-init-schema.ts
  backend/package.json
  backend/src/config/typeorm/typeorm-cli.config.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/data-source.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

refactor: 리베이스로 복구된 folder 모듈 제거 및 연관 코드 정리 (#43)
  backend/src/modules/folder/folder.controller.ts
  backend/src/modules/folder/folder.entity.ts
  backend/src/modules/folder/folder.module.ts
  backend/src/modules/folder/folder.service.ts
Due: pnpm --filter backend lint

chore: 개발용 DB·오브젝트 스토리지 도커 인프라 구성 (#43)
  .env.example
  backend/.env.example
  docker-compose.dev.yml
  package.json
Due: none

refactor: 로컬 실행 환경 분리 및 TypeORM 설정 정리 (#43)
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm.config.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

chore: OAuth 필드 반영을 위한 users 마이그레이션 추가 (#43)
  backend/migrations/1767886157370-add-user-oauth-fields.ts
  backend/src/migrations/1767689878926-InitialMigration.ts
  backend/src/modules/user/user.entity.ts
Due: pnpm --filter backend lint

chore: 개발 DB를 PostGIS 지원 Postgres로 변경 (#43)
  docker-compose.dev.yml
Due: none

fix: TypeORM entities/migrations 경로를 join 기반으로 수정 (#43)
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

chore: 개발용 PostGIS 이미지 버전을 16-3.4로 통일 (#43)
  docker-compose.dev.yml
Due: none

feat: 로그인 페이지 구현(#49)
  frontend/src/app/(login)/login/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

style: 다크모드에서 잘 안보이는 텍스트 진하게 수정
  frontend/src/app/(main)/_components/CompactFieldRenderer.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

feat: 통계 영역에 감정/태그 제외 모든 통계 데이터 합치기(#56)
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
  frontend/src/app/(main)/profile/page.tsx
Due: pnpm --filter frontend lint

feat: 기록 패턴 차트 컴포넌트에서 타이틀 제거(#56)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
Due: pnpm --filter frontend lint

feat: 감정 모두 보기 페이지 추가(#56)
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/ProfileAllEmotionsHeaderActions.tsx
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/lib/types/profile.ts
Due: pnpm --filter frontend lint

feat: 게시글 에디터 부분 템플릿 지원을 위한 기본 필드 형태 추가(#12) - fieldDefaultButton , FieldDeleteButton 을 컴포넌트화하여 재사용할 수 있도록 추가 - 각 필드 내에서 데이터 없을 때 기본 필드 뜰 수 있도록 추가
  frontend/src/app/(post)/_components/editor/core/FieldDefaultButton.tsx
  frontend/src/app/(post)/_components/editor/core/FieldDeleteButton.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagField.tsx
  frontend/src/components/map/LocationField.tsx
Due: pnpm --filter frontend lint

feat: 게시글 에디터 템플릿 레이아웃 관련 로직 추가(#12) - layoutTemplateDrawer, SaveTemplateDrawer 추가 - 템플릿 전용 데이터 타입들 추가 - toolbar에 템플릿 관련 드로어 오픈 로직 추가
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/core/LayoutTemplateDrawer.tsx
  frontend/src/app/(post)/_components/editor/core/SaveTemplateDrawer.tsx
  frontend/src/lib/types/recordField.ts
  frontend/src/lib/types/template.ts
Due: pnpm --filter frontend lint

chore: 디버거 삭제
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

feat: 감정 차트에 데이터 리스트화, 통계 영역에 추가(#56)
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
  frontend/src/app/(main)/profile/page.tsx
Due: pnpm --filter frontend lint

fix: merge전 커밋하기
  .env.example
  backend/package.json
Due: none

feat: 앱 설치 배너 추가(#60)
  frontend/src/app/layout.tsx
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

feat: tanstack query 사용 일관성을 위해 공통 훅 구현(#62)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/providers.tsx
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

feat: 로그인 실행 코드 임시 추가(#62)
  frontend/src/app/(login)/login/page.tsx
Due: pnpm --filter frontend lint

feat: 공통 fetcher 및 유틸 api 함수 추가(#62)
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/types/response.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

fix: FieldDefaultButton props 구조에서 합성컴포넌트 구조로 변경(#12) - 이후 확장성을 고려했을 때는 각 아이콘, 라벨 등의 위치를 변동시킬 수 있을 것이라고 판단(리뷰 반영)
  frontend/src/app/(post)/_components/editor/core/FieldDefaultButton.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagField.tsx
  frontend/src/components/map/LocationField.tsx
Due: pnpm --filter frontend lint

style: 라이트모드/다크모드에서의 앱설치 모달 표현(#60)
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

chore: package-lock 제거, pnpm-lock 업데이트
  frontend/package-lock.json
  pnpm-lock.yaml
Due: none

refactor: 토큰 재발급 로직 공통 fetcher로 이동(#62)
  frontend/src/hooks/useApi.ts
  frontend/src/lib/api/api.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

chore: 서버 API 요청 base url env example에 추가(#62)
  frontend/.env.example
Due: none

style: 모바일 화면에서 앱 설치하기 버튼 때문에 앱 설치 설명이 겹치는 문제 수정(#60)
  frontend/src/components/PWAInstallBanner.tsx
Due: pnpm --filter frontend lint

refactor: 레코드 에디터 내에 블록 관련 로직 리팩토링(#12) - 블록 관련 로직 모두 커스텀 훅으로 분리 - addorShow 함수 불필요한 변수들 삭제 - block 업데이트 관련 사진/태그 부분 오류 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/lib/constants/record.ts
Due: pnpm --filter frontend lint
