Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 활성 사용자 기준 OAuth 유니크 인덱스 마이그레이션 추가 (#285)
  backend/migrations/1776246916021-make-user-oauth-unique-only-for-active-users.ts
Due: pnpm --filter backend lint

refactor: 그룹 나가기 시 관리자 락과 트랜잭션 적용 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 멤버 관리 정책을 관리자 권한 기준으로 정리 (#285)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 멤버 소프트 딜리트 적용 (#285)
  backend/migrations/1776953071970-add-group-member-soft-delete.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

refactor: 그룹 설정 응답에서 owner 정보 제거 (#285)
  backend/src/modules/group/dto/get-group-settings.dto.ts
  backend/src/modules/group/service/group-management.service.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: 마이그레이션 생성 스크립트 보완 (#285)
  backend/package.json
Due: none

feat: 그룹 삭제 권한을 관리자 기준으로 변경 (#285)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

fix: 멤버 추방 요청 URL에 undefined가 포함되는 문제 수정 (#285)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 조회에서 불필요한 owner 로드 제거 (#285)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

fix: 초대 정보 멤버 수에서 탈퇴 유저 제외 (#285)
  backend/src/modules/group/service/group-invite.service.ts
Due: pnpm --filter backend lint

fix: 지도에서 마커 이미지 위에 표현되는 스켈레톤 사용하지 않도록 수정(#287)
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/components/AssetImage.tsx
Due: pnpm --filter frontend lint

style: capacitor 앱에서 상태바와 헤더 사이 약간의 공간이 남아 뒷 배경이 비쳐 보이는 문제(#287)
  frontend/src/app/globals.css
Due: none

refactor: 초대 페이지에 그룹 정보 출력(#287)
  backend/src/modules/group/controller/group-invite.controller.ts
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/hooks/useGroupInvite.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: restore api에서 에러 발생시 무한 요청되는 문제 수정(#287)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

refactor: 개인 글 생성 로그 클릭시 해당 기록 페이지로 이동하도록 개선(#287)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 정보 UI/UX 개선(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 멤버 관리 리스트에 권한 순으로 출력되도록 수정(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

style: 그룹 정보 수정 헤더 스켈레톤에서 저장 버튼 제거(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditSkeleton.tsx
Due: pnpm --filter frontend lint

feat: 그룹 첫 화면 홈 화면과 유사하게 피드 형식으로 변경(#287)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
Due: pnpm --filter frontend lint

refactor: 멤버 관리에서 멤버 역할을 편집자로 변경(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

chore: 공지사항 관리자 키 예시 환경변수 추가
  backend/.env.example
Due: none

refactor: 그룹 권한 우선순위 유틸 추가 (#285)
  backend/src/modules/group/guards/group-roles.guard.ts
  backend/src/modules/group/utils/group-role-priority.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 그룹 멤버십 정리 로직 추가 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

test: 회원 탈퇴 그룹 정리 시나리오 테스트 추가 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
Due: pnpm --filter backend lint

refactor: 회원 탈퇴 그룹 정리 분기 로직을 헬퍼로 추출 (#285)
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

refactor: 그룹 삭제 로직을 공용 helper로 정리 (#285)
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 그룹/탈퇴 시 드래프트 무효화 정리 로직 추가 (#285)
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/collab/presence.service.ts
  backend/src/modules/post/post-draft-cleanup.service.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

fix: 그룹 삭제 후 공유 목록 캐시 무효화 키 수정
  frontend/src/hooks/useGroupActions.ts
Due: pnpm --filter frontend lint

feat: 회원 탈퇴 시 개인 포스트를 함께 삭제하도록 변경 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 개인 템플릿을 함께 정리하도록 변경 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: 회원 탈퇴 시 개인 월별 커버 설정을 함께 정리하도록 변경 (#285)
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

feat: orphan READY 미디어 자산 정리 작업 추가 (#285)
  backend/src/modules/media/media.module.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: 삭제 흐름에서 참조 해제된 미디어 즉시 정리 (#285)
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/media/media.service.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.spec.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/post-draft-cleanup.service.ts
Due: pnpm --filter backend lint

chore: 보류 미디어 정리 cron을 주 1회로 변경 (#285)
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

refactor: 프론트엔드 백엔드 URL 분기 구조 정리
  frontend/.env.example
  frontend/next.config.ts
  frontend/package.json
  frontend/src/app/admin/page.tsx
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/media-image/[id]/route.ts
  frontend/src/auth.ts
  frontend/src/components/PWAInstallBanner.tsx
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/serverFetch.ts
  frontend/src/lib/config/backend.ts
  frontend/src/lib/utils/getRedirectUri.ts
  frontend/src/store/useSocketStore.ts
  package.json
Due: pnpm --filter frontend lint

chore: staging 배포를 위한 github action 설정 추가(#292)
  .github/workflows/deploy.yml
  build.sh
Due: none

fix: 그룹 커버 이미지 null 허용하도록 타입 수정(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
Due: pnpm --filter frontend lint

refactor: 주간 달력 컴포넌트 분리(#287)
  frontend/src/app/(main)/_components/WeekCalendarSkeleton.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

feat: 그룹을 찾을 수 없을 때의 404 페이지 추가(#287)
  frontend/src/app/(post)/group/[groupId]/not-found.tsx
  frontend/src/app/(post)/group/_components/GroupAccessGuard.tsx
Due: pnpm --filter frontend lint

style: 그룹 홈 레이아웃 수정(#287)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
