Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

style: 저장버튼 하단 margin 적용(#20)
  frontend/src/app/(post)/create/diary-travel/page.tsx
Due: pnpm --filter frontend lint

refactor: 헤더 텍스트 사이즈 줄이기
  frontend/src/app/(post)/create/diary-travel/layout.tsx
  frontend/src/components/Header.tsx
Due: pnpm --filter frontend lint

feat: 2024.01.16 형식의 date 형식 유틸 함수 추가
  frontend/src/app/(post)/create/diary-travel/page.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

refactor: 간단 메모 입력창 헤더 밑으로 이동
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
Due: pnpm --filter frontend lint

refactor: 게시글 작성 페이지 노션처럼 영역 넘어가면 자동 스크롤
  frontend/src/app/(post)/create/diary-travel/layout.tsx
  frontend/src/app/(post)/create/diary-travel/page.tsx
  frontend/src/components/FloatingScrollButton.tsx
Due: pnpm --filter frontend lint

refactor: 동적 라우팅인 지도 탭 경로 패턴 체크 로직 추가
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/SideNavigation.tsx
Due: pnpm --filter frontend lint

fix: 게시글 상세 조회 시 날짜 포맷팅 추가
  frontend/src/app/(folder)/[userId]/records/[postId]/page.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

fix: cicd의 버그 수정 -> build가 안되는 dockerfile부터 하나씩 검증
  .dockerignore
  .env.example
  .github/workflows/cicd.yml
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
  frontend/src/app/(folder)/layout.tsx
  frontend/src/app/(folder)/user/page.tsx
Due: pnpm --filter frontend lint

design : 메인페이지 반응형 디자인 적용
  frontend/src/app/(main)/_components/SideFilterbar.tsx
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/components/PerformanceCard.tsx
  frontend/src/components/TicketCard.tsx
Due: pnpm --filter frontend lint

chore: 오타 수정
  frontend/src/app/(folder)/[userId]/records/[postId]/page.tsx
Due: pnpm --filter frontend lint

design : 지도 페이지 반응형 디자인 적용
  frontend/src/app/(map)/[userId]/record-map/page.tsx
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/ListPanel.tsx
Due: pnpm --filter frontend lint

design: global.css main 태그 overflow:hidden 삭제
  frontend/src/app/globals.css
Due: none

design: 여행/일기 템플릿 게시글 리스트 + 상세조회 반응형 디자인 적용
  frontend/src/app/(folder)/[userId]/records/[postId]/page.tsx
  frontend/src/app/(folder)/[userId]/records/page.tsx
  frontend/src/app/(folder)/layout.tsx
Due: pnpm --filter frontend lint

chore: backend e2e 테스트 스크립트 추가 (#22)
  package.json
Due: none

feat: 지도용 게시글 조회/상세 API 구현 (#22)
  backend/src/post/post.controller.ts
  backend/src/post/post.module.ts
  backend/src/post/post.service.ts
Due: pnpm --filter backend lint

test: PostService 예외 테스트를 동기 방식으로 수정 (#22)
  backend/src/post/post.service.spec.ts
Due: pnpm --filter backend lint

chore: backend lint 경고 및 타입 안전성 개선
  backend/src/main.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

test: PostService bbox 및 단일 조회 테스트 추가 (#22)
  backend/src/post/post.service.spec.ts
Due: pnpm --filter backend lint

feat: 게시글 더미 데이터에 imageUrl 추가 (#22)
  backend/package.json
  backend/src/post/post.service.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

test: POST /posts 생성 e2e 테스트 추가 (#22)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

refactor: 게시글 관련 타입을 post.types.ts로 분리 (#22)
  backend/src/post/post.service.ts
  backend/src/post/post.types.ts
Due: pnpm --filter backend lint

feat: PostModule 추가 및 /posts 라우트 모듈화 (#22)
  backend/src/app.module.ts
  backend/src/post/post.module.ts
Due: pnpm --filter backend lint

feat: 지도 뷰에서 MSW 대신 실제 백엔드 API 연동 (#22)
  frontend/.env.example
  frontend/next.config.ts
Due: pnpm --filter frontend lint

feat: 게시글 리스트용 /posts/list 페이지네이션 API 추가 (#22)
  backend/src/post/post.controller.ts
  backend/src/post/post.service.ts
Due: pnpm --filter backend lint

feat: USE_INMEMORY_DB 플래그로 TypeORM 연결 제어 (#22)
  backend/.env.example
  backend/src/app.module.ts
Due: pnpm --filter backend lint

test: PostService 리스트 페이지네이션 단위 테스트 추가 (#22)
  backend/src/post/post.service.spec.ts
Due: pnpm --filter backend lint

feat: 인메모리 기반 게시글 생성 API(POST /posts) 추가 (#22)
  backend/src/post/post.controller.ts
  backend/src/post/post.service.ts
Due: pnpm --filter backend lint

feat: 게시글 생성 API(createPost) 연동 (#22)
  frontend/src/lib/api/posts.ts
Due: pnpm --filter frontend lint

feat: 프론트에서 게시글 생성 API 연동 (#22)
  frontend/src/app/(post)/create/diary-travel/page.tsx
  frontend/src/lib/api/posts.ts
Due: pnpm --filter frontend lint

feat: 게시글에 사용자 지정 eventDate 필드 추가 (#22)
  backend/src/post/post.service.ts
  backend/src/post/post.types.ts
  frontend/src/components/DiaryPostDetail.tsx
  frontend/src/components/DiaryPostShort.tsx
  frontend/src/lib/types/post.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: 지도용 인메모리 게시글 시드 데이터 현실감 있게 보강 (#22)
  backend/src/post/post.service.ts
  frontend/next.config.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 홈 목록을 /posts/list로 전환하고 내 기록 네비게이션 연결 (#22)
  backend/src/post/post.controller.ts
  frontend/src/app/(main)/_components/PostList.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/SideNavigation.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: cicd 테스트
  .github/workflows/cicd.yml
  backend/.env.example
  docker-compose.yml
  nginx http.conf
Due: none

chore: posts API에 /api prefix 적용 (#22)
  frontend/next.config.ts
  frontend/src/lib/api/posts.ts
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

fix: 필요없는 page.tsx 삭제 (#22)
  frontend/src/app/(folder)/user/page.tsx
Due: pnpm --filter frontend lint

feat: 나의 기록 레이아웃을 홈과 유사하게 정리 (#29)
  frontend/src/app/(folder)/[userId]/layout.tsx
  frontend/src/app/(folder)/[userId]/records/page.tsx
  frontend/src/app/(main)/_components/SideFilterbar.tsx
Due: pnpm --filter frontend lint

feat: 화면 너비에 따라 메모 영역과 플로팅 버튼 간격 조정 (#29)
  frontend/src/app/(main)/_components/SideFilterbar.tsx
Due: pnpm --filter frontend lint

feat: 나의 기록 화면에 플로팅 작성 버튼 추가 (#29)
  frontend/src/app/(folder)/[userId]/records/page.tsx
Due: pnpm --filter frontend lint

style: 플로팅 버튼 인터렉션 및 그림자 조정 (#29)
  frontend/src/components/FloatingCreateButton.tsx
Due: pnpm --filter frontend lint

feat: 게시글 작성 후 이전 화면으로 복귀하도록 변경 (#29)
  frontend/src/app/(post)/create/diary-travel/page.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
