Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: pwaInstallBanner가 잠깐 떴다가 사라지는 문제
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

refactor: 초대 drawer 초대 경로만 loader가 뜨도록 부분 수정
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

fix: 공동 편집 발행 안정화 및 모바일 네이티브 스테이터스바 개선
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-publish.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/hooks/useCreateRecord.ts
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/android/capacitor.settings.gradle
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter backend lint, pnpm --filter frontend lint

style: 그룹 알림 아이템 스켈레톤 px 제거
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItemSkeleton.tsx
Due: pnpm --filter frontend lint

style: 모바일과 웹에서의 검색 결과 표시 영역(margin)이 다르게 적용되는 문제(#266)
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

fix: 게스트 로그아웃시 게스트 토큰 쿠키도 같이 제거
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix: 탭 간 이동 시 history stack에 쌓여 이후 뒤로가기시 이전 탭으로 이동해버리는 문제
  frontend/src/app/(main)/profile/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/ProfileAllEmotionsHeaderActions.tsx
  frontend/src/app/(main)/profile/all-tags/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/Back.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 기록 추가 버튼은 replace가 아닌 push로 stack에 쌓기
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

refactor: 기록 추가시 공동 기록이 아니더라도 로딩이 뜨도록 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

refactor: 이미지 API 캐시 정책을 public에서 private으로 변경(#241)
  frontend/src/app/api/media-image/[id]/route.ts
Due: pnpm --filter frontend lint

feat: splash 화면 적용(#266)
  frontend/package.json
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

style: 로그인 페이지 인디케이터 고려해 padding top 적용(#266)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

feat: 블록 단위로 DND 되도록 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
Due: pnpm --filter frontend lint

feat: 콘텐츠 블록 처음엔 한 줄로 표시되도록 수정
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

fix: 해당하는 유저가 없을시 인증 에러 반환
  backend/src/modules/mypage/mypage.service.ts
Due: pnpm --filter backend lint

fix: 지도페이지는 replace가 아닌 push로 스택에 쌓기
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

refactor: ETag + no-cache로 권한 확인 하도록 수정(#241)
  frontend/src/app/api/media-image/[id]/route.ts
Due: pnpm --filter frontend lint

refactor: 그룹 멤버십 검증 로직 공통화 (#269)
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/guards/group-roles.guard.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

docs: AuthService JSDoc 정리 (#273)
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

docs: UserService JSDoc 정리 (#273)
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

docs: FeedQueryService JSDoc 정리 (#273)
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

docs: feed helper/query JSDoc 보강 (#273)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: 피드 조립 로직 분리 및 조회 효율 개선 (#244)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: groupMember 조회 경로 정리 및 group pair dedupe 적용 (#244)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

docs: feed helper 내부 로직 문서화 (#273)
  backend/src/modules/feed/feed.helpers.ts
Due: pnpm --filter backend lint

refactor: getGroupActivities actor/user 조회 컬럼 최소화 (#244)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

feat: 그룹 활동 로그 limit 상한 추가 (#244)
  backend/src/modules/group/controller/group-activity.controller.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

refactor: 그룹 활동 actor 조회 불필요 정렬 제거 (#244)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

refactor: getGroupActivities 함수 단계별 분리로 가독성 개선 (#273)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

chore: mobile-app을 pnpm 워크스페이스에 추가 및 스크립트 등록(#266)
  package.json
  pnpm-workspace.yaml
Due: none

feat: Capacitor shell app 초기 설정 추가(#266)
  mobile-app/.gitignore
  mobile-app/.nvmrc
  mobile-app/capacitor.config.ts
  mobile-app/package.json
  mobile-app/src/index.html
Due: none

feat: Capacitor iOS 네이티브 프로젝트 추가(#266)
  mobile-app/ios/.gitignore
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App.xcworkspace/contents.xcworkspacedata
  mobile-app/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile-app/ios/App/App/AppDelegate.swift
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  mobile-app/ios/App/App/Base.lproj/LaunchScreen.storyboard
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: none

fix(backend): 로컬 HTTP 환경에서 oauth_mobile 쿠키 전송 문제 수정 (#266)
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

feat(frontend): 네이티브 앱에서 Capacitor Browser로 OAuth 처리 (#266)
  frontend/package.json
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/lib/utils/getRedirectUri.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat(mobile): ittda:// 커스텀 URL 스킴 등록 및 @capacitor/browser 추가 (#266)
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
Due: none

fix(frontend): 네이티브 앱 OAuth 후 브라우저 툴바 제거 및 상태바 UI 수정 (#266)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat(backend): 모바일 앱 OAuth 콜백 지원 (#266)
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

chore(mobile): 로컬 테스트용 capacitor 서버 설정 변경 (#266)
  mobile-app/capacitor.config.ts
Due: none

refactor: capacitor 환경 감지를 통해 pwa 설치 배너 띄우지 않도록 수정(#266)
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint
