Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: Capacitor iOS 네이티브 프로젝트 추가(#266)
  mobile-app/ios/.gitignore
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App.xcworkspace/contents.xcworkspacedata
  mobile-app/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile-app/ios/App/App/AppDelegate.swift
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  mobile-app/ios/App/App/Base.lproj/LaunchScreen.storyboard
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: none

feat(backend): 모바일 앱 OAuth 콜백 지원 (#266)
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

feat(frontend): 네이티브 앱에서 Capacitor Browser로 OAuth 처리 (#266)
  frontend/package.json
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/lib/utils/getRedirectUri.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat(mobile): ittda:// 커스텀 URL 스킴 등록 및 @capacitor/browser 추가 (#266)
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
Due: none

fix(backend): 로컬 HTTP 환경에서 oauth_mobile 쿠키 전송 문제 수정 (#266)
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

fix(frontend): 네이티브 앱 OAuth 후 브라우저 툴바 제거 및 상태바 UI 수정 (#266)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

chore(mobile): 로컬 테스트용 capacitor 서버 설정 변경 (#266)
  mobile-app/capacitor.config.ts
Due: none

refactor: capacitor 환경 감지를 통해 pwa 설치 배너 띄우지 않도록 수정(#266)
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

feat(mobile): 앱 아이콘 및 스플래시 화면 적용, 상태바 색상 설정 (#266)
  mobile-app/android/app/src/main/res/drawable-land-hdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-mdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-hdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-mdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable/splash.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/values/colors.xml
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  mobile-app/ios/App/App/Base.lproj/LaunchScreen.storyboard
  mobile-app/ios/App/App/Info.plist
Due: none

perf: search cursor decode로 count 재사용 및 fallback TODO 추가 (#244)
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

refactor: 검색 초기 상태에서 useSearchQuery 실행 조건 정리 (#243)
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

test: post e2e의 MOOD 검증 기대값을 enum 기반으로 동기화 (#267)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

test: search e2e에 count 응답 검증 추가 (#267)
  backend/test/search.e2e-spec.ts
Due: pnpm --filter backend lint

chore: test 환경에서만 TypeORM 재시도 비활성화 (#267)
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

test: e2e afterAll에서 app.close 호출 가드 추가 (#267)
  backend/test/app.e2e-spec.ts
  backend/test/feed.e2e-spec.ts
  backend/test/post.e2e-spec.ts
  backend/test/search.e2e-spec.ts
Due: pnpm --filter backend lint

chore: LOG_LEVEL 기반 디버그 로깅 동작 정리 및 e2e debug 스크립트 추가 (#267)
  backend/package.json
  backend/src/config/winston/index.ts
  backend/src/config/winston/winston.config.ts
  package.json
Due: pnpm --filter backend lint

chore: TypeORM 테스트 로깅 레벨 분기 추가 (#267)
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

test: 테스트 예상 4xx 로그 억제 플래그 적용 (#267)
  backend/src/modules/logging_winston/logging.interceptor.ts
  backend/test/feed.e2e-spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: e2e 종료 시 PostDraftGateway interval 타이머 정리 (#267)
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

feat: 그룹 대표 커버 기본값 복귀 DELETE API 추가 (#269)
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

feat: 그룹 월별 커버 기본값 복귀 DELETE API 추가 (#269)
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

feat: 사용자 월별 커버 기본값 복귀 DELETE API 추가 (#269)
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

test: 커버 기본값 복귀 DELETE API e2e 테스트 추가 (#269)
  backend/test/cover.e2e-spec.ts
Due: pnpm --filter backend lint

fix(mobile): 네이티브 앱 statusbar/toast/popover UI 수정 (#266)
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(search)/layout.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/StatusBarCover.tsx
  frontend/src/components/ThemeColorSetter.tsx
  frontend/src/components/map/LocationDrawer.tsx
  frontend/src/components/map/MapSearchBar.tsx
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter frontend lint

style: 기록 작성 페이지 장소 검색 헤더 색상과 검색 페이지 장소 검색 헤더 색상 일치시키기
  frontend/src/app/(map)/location-picker/page.tsx
Due: pnpm --filter frontend lint

style: 모바일 인디케이터 영역만큼 margin bottom 추가(#266)
  frontend/src/app/(post)/_components/DailyDetailFloatingActions.tsx
  frontend/src/app/(post)/_components/ViewOnMapButton.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

style: 인디케이터 영역만큼 내부 콘텐츠 padding 값 추가(#266)
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/_components/GroupMonthlyDetailData.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
  frontend/src/app/(post)/my/month/[month]/_components/MyMonthlyDetailData.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/app/error.tsx
  frontend/src/app/globals.css
  frontend/src/app/not-found.tsx
Due: pnpm --filter frontend lint

style: 그룹 기록 추가 drawer 모바일 반응형으로 디자인 수정
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
Due: pnpm --filter frontend lint

fix: 미사용되는 최근 사용 태그 API 호출 로직 제거(#260) - 검색 페이지 진입 시 최근 태그 조회 API 를 호출하여 Props로 넘겨주려 함 - 하지만, 태그 드로어 내부에서 별도로 최근 사용 태그 API 호출 중. - 따라서 위 문제 해결을 위해 진입 시 호출하는 API 로직 삭제
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/search/FilterDrawerRender.tsx
Due: pnpm --filter frontend lint

fix: 하위 경로로 접근시 상위 경로의 loading.tsx가 먼저 보이는 문제 수정
  frontend/src/app/(main)/loading.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/loading.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/loading.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/loading.tsx
Due: pnpm --filter frontend lint

fix: capacitor 모바일에서 백그라운드에서 포그라운드로 돌아왔을 때 인증이 만료된 상태라면 흰 화면만 뜨는 문제(#266)
  frontend/src/app/AuthContext.tsx
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix: 네이티브/pwa 포그라운드 복귀 시 토큰 재발급 안정화
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

style: 지도 페이지 기록 마커 클릭시 검색바가 statusbar로 올라가 가려지는 문제 수정(#266)
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(map)/layout.tsx
Due: pnpm --filter frontend lint

fix: 주간 달력 월 영역이 아닌 가로 영역 클릭시에도 페이지 이동하는 문제 수정
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

refactor: 지도 페이지에서는 statusbar 영역까지 지도가 띄워지도록 수정
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/globals.css
  frontend/src/components/StatusBarCover.tsx
Due: pnpm --filter frontend lint

style: drawer가 열릴 때 statusbar까지 back blur가 적용되도록 수정
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/NativeStatusBarSync.tsx
  frontend/src/components/StatusBarCover.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 이름 수정 input 모바일에서 확대되는 문제 수정(#266)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
Due: pnpm --filter frontend lint

style: 그룹 알림 배지가 프로필과 떨어지는 문제 수정(#266)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_utils/activityHelper.ts
Due: pnpm --filter frontend lint

feat: 로그아웃시 바로 refreshToken delete가 아닌 revoke 시키기
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
