Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

refactor: 콘솔 제거
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

feat: 그룹 프로필 정보 수정 후 뒤로가기 적용(#287)
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
Due: pnpm --filter frontend lint

feat: 그룹 정보 페이지의 각 영역을 페이지로 분리(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditSkeleton.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/members/_components/GroupMembersClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/members/_components/GroupMembersSkeleton.tsx
  frontend/src/app/(post)/group/[groupId]/edit/members/loading.tsx
  frontend/src/app/(post)/group/[groupId]/edit/members/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 그룹 생성시 그룹 이름 최대 10자까지 가능하도록 변경(#287)
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter frontend lint

docs: backend env 예시 주석 정리 및 인증 설정 섹션 분리
  backend/.env.example
Due: none

fix: 그룹 프로필 수정 후 상세 페이지에 반영이 늦게 되는 문제 수정(#287)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: 그룹 멤버가 아니라면 그룹 기록 추가 페이지 접근할 수 없도록 제어(#287)
  frontend/src/app/(post)/add/page.tsx
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 페이지 접근시 서버 사이드에서 권한 체크 해 플래시 방어(#287)
  frontend/src/app/(post)/group/[groupId]/layout.tsx
  frontend/src/app/(post)/group/_components/GroupAccessGuard.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 알림 페이지 스타일 개선(#287)
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityMessage.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_utils/activityHelper.ts
  frontend/src/app/(post)/group/[groupId]/notifications/layout.tsx
Due: pnpm --filter frontend lint

style: RecordCard 기록 제목 truncate 적용(#287)
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

fix: 그룹 알림에서 뒤로가기시 함께 기록함 페이지로 이동하는 문제 수정(#287)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

chore: B2 presigned upload용 AWS_REQUEST_CHECKSUM_CALCULATION 설정 예시 추가
  backend/.env.example
Due: none

chore: B2 개발 버킷용 cors-dev.xml 추가
  cors-dev.xml
Due: none

refactor: 그룹 이름은 2~30자로 지정할 수 있도록 개선(#287)
  backend/src/modules/group/controller/group.controller.ts
  backend/src/modules/group/dto/create-group.dto.ts
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 그룹 탈퇴 후 캐시 invalidate 쿼리 카 share에서 shared로 변경(#287)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 기록 상세 페이지에서 이미지가 세로로 길 때 contributors가 다 보일 때까지 스크롤이 되지 않는 문제 수정(#287)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

chore: staging 배포를 위한 github action 설정 추가(#292)
  .github/workflows/deploy.yml
  build.sh
Due: none

style: 그룹 홈 보관함 탭과 피드 탭에서의 컴포넌트 사이 간격 동일하게 조정(#287)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

chore: 커밋 lint 확인에 실행 권한이 사라져 lint 검사가 통과되는 문제 수정
  .husky/pre-commit
Due: none

refactor: 지도 페이지 기록 아이템 디자인 수정 및 기록 초기 렌더링 확인(#287)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

style: 그룹 내 기록 추가 drawer 디자인 수정(#287)
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
Due: pnpm --filter frontend lint

style: 그룹 헤더 스크롤시 양 옆에 배경이 노출되는 문제 수정(#287)
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
Due: pnpm --filter frontend lint

fix: 기록 추가 후 캐시 refetch를 하지 않아 지도 페이지에 바로 뜨지 않는 문제 수정(#287)
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

refactor: 월별 기록함에서 몇 년도의 기록함인지 표현(#287)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
Due: pnpm --filter frontend lint

refactor: 검색 페이지 결과 데이터 아이템 디자인 수정(#287)
  frontend/src/app/(search)/_components/SearchItem.tsx
Due: pnpm --filter frontend lint

refactor: select-none으로 블록 텍스트 선택 차단(#287)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

chore: 서비스 기본 이미지 변경(#287)
  frontend/public/thumbnail.png
Due: none

feat: 그룹 첫 화면 홈 화면과 유사하게 피드 형식으로 변경(#287)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
Due: pnpm --filter frontend lint

refactor: 개인 글 생성 로그 클릭시 해당 기록 페이지로 이동하도록 개선(#287)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

refactor: 블록 선택 시 햅틱 제공(#287)
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/hooks/useHaptic.ts
Due: pnpm --filter frontend lint

feat: 그룹을 찾을 수 없을 때의 404 페이지 추가(#287)
  frontend/src/app/(post)/group/[groupId]/not-found.tsx
  frontend/src/app/(post)/group/_components/GroupAccessGuard.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 멤버 관리 리스트에 권한 순으로 출력되도록 수정(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

refactor: 네이티브 앱(capacitor) 앱에서는 카카오 공유 버튼 숨김(#287)
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

fix: sitemap과 robots 파일은 미들웨어 matcher에서 제외(#287)
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: restore api에서 에러 발생시 무한 요청되는 문제 수정(#287)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

fix: 그룹 커버 이미지 null 허용하도록 타입 수정(#287)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
Due: pnpm --filter frontend lint
