Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

revert: BottomNavigation 코치마크의 상태바 높이 보정 제거(#287)
  frontend/src/app/(main)/_components/homeCoachmarkSteps.ts
  frontend/src/app/(post)/group/[groupId]/(root)/_components/groupDetailCoachmarkSteps.ts
  frontend/src/components/Coachmark.tsx
  frontend/src/hooks/useCoachmark.ts
  frontend/src/lib/utils/nativeStatusBar.ts
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter frontend lint

fix: 푸시 알림 초기 권한 조회도 토글 요청 버전으로 보호(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: 알림 등록 성공 후 로컬 마커 제거 실패가 켜짐 상태를 되돌리지 않도록 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: 푸시 알림 토글 연속 클릭 시 오래된 요청이 최신 상태를 덮어쓰는 문제 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

style: sm 보다 작은 너비에서 텍스트랑 이미지가 작게 나오는 불편함 수정(#287)
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

fix: 푸시 알림 토글의 서버 요청을 순서대로 실행하도록 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: 알림 등록 실패 시 되돌린 상태가 새로고침 후에도 유지되도록 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: Android FCM 토큰 서버 등록 실패가 성공으로 위장되지 않도록 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/hooks/usePushNotification.test.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: 푸시 알림 해제 시 로컬 저장 실패해도 토큰 삭제 결과 유지되도록 수정(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: 코치마크 초기 깜빡임과 BottomNavigation 위치 어긋남 수정(#287)
  frontend/src/app/(main)/page.tsx
  frontend/src/components/Coachmark.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

fix: 서버가 UTC 기준으로 타임이 계산돼 시차가 발생하던 부분 수정(#287)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/components/DateDrawer.tsx
  frontend/src/components/DateSelectorDrawer.tsx
Due: pnpm --filter frontend lint

feat: HTTP 에러 응답 안전화 및 표준화 (#301)
  backend/src/common/exception_filters/AllHttpExceptionFilter.spec.ts
  backend/src/common/exception_filters/AllHttpExceptionFilter.ts
Due: pnpm --filter backend lint

feat: 인증 예외 코드 및 안전 메시지 표준화 (#301)
  backend/src/common/exceptions/auth-unauthorized.exception.spec.ts
  backend/src/common/exceptions/auth-unauthorized.exception.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/jwt/jwt.guard.spec.ts
  backend/src/modules/auth/jwt/jwt.guard.ts
Due: pnpm --filter backend lint

feat: 프론트 에러 메시지 코드 매핑 적용 (#301)
  frontend/package.json
  frontend/src/hooks/useApi.ts
  frontend/src/lib/types/response.ts
  frontend/src/lib/utils/errorHandler.test.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

refactor: HTTP 오류 분기 코드 기반 전환 (#301)
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/lib/utils/error/publishHandler.ts
  frontend/src/lib/utils/errorHandler.test.ts
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

feat: 시스템 오류 Sentry 추적 정보 강화 (#301)
  frontend/src/app/providers.tsx
  frontend/src/lib/utils/errorReporter.test.ts
  frontend/src/lib/utils/errorReporter.ts
Due: pnpm --filter frontend lint

refactor: 시스템 오류 토스트 처리 표준화 (#301)
  frontend/src/app/(post)/group/_components/GroupAccessGuard.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
  frontend/src/app/providers.tsx
  frontend/src/lib/utils/errorToast.test.ts
  frontend/src/lib/utils/errorToast.ts
Due: pnpm --filter frontend lint

feat: WebSocket 예외 응답 안전화 및 코드 표준화 (#301)
  backend/src/common/exception_filters/AllWsExceptionFilter.spec.ts
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
  frontend/src/lib/types/recordCollaboration.ts
  frontend/src/lib/utils/socketErrorPolicy.test.ts
  frontend/src/lib/utils/socketErrorPolicy.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 공동수정 블록 삭제 및 발행 안정성 개선 (#287)
  backend/src/modules/post/collab/patch-stream.service.ts
  backend/src/modules/post/post-publish.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 게스트가 코치마크를 보게 되는 문제 수정(#287)
  frontend/src/hooks/useCoachmark.test.tsx
  frontend/src/hooks/useCoachmark.ts
  frontend/src/store/useAuthStore.test.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

fix: 발행 성공 시 커버 사진 후보 목록 캐시 무효화 누락 수정(#287)
  frontend/src/hooks/useCreateRecord.test.ts
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

feat: 지도 기록 리스트에 검색 결과와 동일한 내용 요약 추가(#287)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/lib/types/record.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: 지도 API의 텍스트 스니펫 조회를 배치 쿼리로 변경
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: 게스트 로그인 시 잔존 NextAuth 세션 때문에 /login 재진입이 홈으로 튕기는 문제 수정(#287)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

fix: 서비스워커 갱신 시 강제 새로고침이 로그인 직후 이동과 경합하는 문제 수정(#287)
  frontend/src/components/ServiceWorkerUpdater.test.tsx
  frontend/src/components/ServiceWorkerUpdater.tsx
Due: pnpm --filter frontend lint

fix: Firebase 서비스 계정 초기화 누락으로 중단된 FCM 발송 복구
  backend/.env.example
  backend/src/modules/notification/notification.service.spec.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: 랜딩페이지 스크롤 편의성 개선(#315)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

feat: PWA 배너를 플로팅 버튼으로 전환(#315)
  frontend/src/components/PWAInstallBannerClient.test.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
Due: pnpm --filter frontend lint

feat: 홈 피드를 주간 달력 연동 스크롤 타임라인으로 개편(#315)
  backend/src/modules/feed/dto/get-past-feed.query.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/modules/feed/feed.swagger.ts
  frontend/src/app/(main)/_components/HomeData.tsx
  frontend/src/app/(main)/_components/RecordItem.tsx
  frontend/src/app/(main)/_components/RecordOnboardingEmpty.tsx
  frontend/src/app/(main)/_components/RecordTimelineFeed.tsx
  frontend/src/app/(main)/_components/RecordTimelineProvider.tsx
  frontend/src/app/(main)/_components/StreakStats.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/hooks/useHideOnScroll.ts
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/recordResponse.ts
  frontend/src/store/useWeekCalendar.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

test: 홈 피드를 주간 달력 연동 스크롤 타임라인 개편 유닛/통합/e2e 테스트 및 story 수정(#315)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.query.service.spec.ts
  backend/test/feed.e2e-spec.ts
  frontend/e2e/date-restriction.spec.ts
  frontend/e2e/group-management.spec.ts
  frontend/e2e/record-personal-flow.spec.ts
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/app/(main)/_components/storybook/WeekCalendar.stories.tsx
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
  frontend/src/app/(post)/group/[groupId]/(root)/_components/storybook/GroupMainTabs.stories.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/store/useWeekCalendar.test.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 지난 기록 피드 커서가 같은 eventAt 경계에서 게시글을 누락하는 문제 수정(#315)
  backend/src/modules/feed/feed.group.query.service.spec.ts
  backend/src/modules/feed/feed.group.query.service.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/src/modules/feed/feed.query.service.spec.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/test/cover.e2e-spec.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 손상된 지난 기록 피드 커서를 조용히 첫 페이지로 되돌리지 않고 400 처리(#315)
  backend/src/modules/feed/feed.helpers.spec.ts
  backend/src/modules/feed/feed.helpers.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint
