Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: LOCATION 값 검증 및 명세/테스트 보강 (#44, #95)
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat(post): MOOD 메타데이터 저장 및 관련 로직 일괄 정비 (#95)
  backend/migrations/1768941000000-add-post-emotion.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/feed/dto/feed-card.response.dto.ts
  backend/src/modules/feed/feed.query.service.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/post/validator/blocks.validator.ts
  backend/src/modules/post/validator/meta.extractor.ts
Due: pnpm --filter backend lint

fix: 로그인 서버 요청 경로 수정 및 provider/state 제거(#62)
  frontend/src/app/(login)/oauth/callback/page.tsx
Due: pnpm --filter frontend lint

type: 기록 블록 타입 정의 및 홈 프리뷰 서버 응답 타입 정의(#85)
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

feat: mock 데이터 추가(#85)
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: 홈의 주간 달력 쿼리 파라미터로 날짜 저장(#85)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/page.tsx
Due: pnpm --filter frontend lint

feat: 기록 공유하기 추가(#85)
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 페이지 서버 컴포넌트에서 데이터 prefetch 및 미리 불러오기(#85)
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
Due: pnpm --filter frontend lint

feat: 홈 프리뷰 리스트 api 요청 함수 정의(#85)
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

feat: 에러 객체 생성시 알 수 없는 에러 정의(#85)
  frontend/src/lib/utils/errorHandler.ts
Due: pnpm --filter frontend lint

feat: 서버 응답에 맞춰 콘텐츠 출력 구조 변경(#85)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/lib/utils/record.ts
Due: pnpm --filter frontend lint

feat: 서버 환경에서의 서버 요청 경로 추가 방어 코드 적용
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

fix: 서버 응답 형식에 맞게 msw mock 데이터 재조정(#85)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

style: 지도 위치 검색 헤더 테마 색상 추가
  frontend/src/app/(map)/location-picker/page.tsx
Due: pnpm --filter frontend lint

feat: msw mock 모드는 브라우저에서 실행되기에 서버 컴포넌트에서 에러가 나는 문제 수정(#85)
  frontend/src/app/(post)/record/[recordId]/page.tsx
Due: pnpm --filter frontend lint

style: 날짜 선택 drawer 스타일 맞추기
  frontend/src/components/DateDrawer.tsx
  frontend/src/components/DateSelectorDrawer.tsx
Due: pnpm --filter frontend lint

feat: 카카오 공유하기용 카카오스크립트 추가(#84)
  frontend/global.d.ts
  frontend/src/app/layout.tsx
  frontend/src/lib/services/kakaoScript.tsx
Due: pnpm --filter frontend lint

chore: 템플릿 파일 안 쓰는 타입 삭제
  frontend/src/lib/types/template.ts
Due: pnpm --filter frontend lint

feat: 그룹 초대 연결(#84) - 그룹 초대 코드 받는 API 연결 - 카카오 공유하기 SDK로 연결
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/hooks/useGroupInvite.ts
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint

feat: 감정 선택지 확장
  backend/src/enums/post-mood.enum.ts
Due: pnpm --filter backend lint

feat: User 모듈 관련 반영 수정
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.interface.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix: 오류로 추가해둔 마이그레이션 파일 삭제
  backend/migrations/1768658419173-migrations.ts
Due: pnpm --filter backend lint

fix: group이 존재하지 않을 때 NOT_FOUND 에러 반환으로 수정 (#94)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: user, mypage 모듈 및 api 분리
  backend/src/app.module.ts
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/mypage/dto/update-mypage.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.interface.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

refactor: 사용하지 않는 유저 타입 제거 및 profileImageUrl nullable 수정(#62)
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/lib/types/profile.ts
Due: pnpm --filter frontend lint

type: record.ts와 recordField.ts에서 사용되던 중복 타입 하나로 통합(#85)
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordField.ts
  frontend/src/lib/utils/record.ts
Due: pnpm --filter frontend lint

feat: 소셜 로그인/게스트 로그인 기능 추가(#62)
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/app/(login)/@modal/default.tsx
  frontend/src/app/(login)/layout.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/page.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/lib/types/response.ts
Due: pnpm --filter frontend lint

feat: 로그아웃 및 탈퇴 서버 요청 추가(#62)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

feat: 토큰 재발급 api url 수정(#62)
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: 서비스 접근시 로그인 페이지를 먼저 접근하도록 미들웨어 로직 추가(#62)
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

chore: 패키지 충돌로 삭제 후 install
  pnpm-lock.yaml
Due: none

feat: 게스트는 마이페이지에서 로그아웃이 아닌 로그인이 뜨도록 수정(#62)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

feat: 게스트에서 로그인 요청시 헤더에 guestId를 전달하기 위해 쿠키에 sessionId 저장(#62)
  frontend/package.json
  frontend/src/store/useAuthStore.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: accessToken 헤더에서 추출해 저장하도록 수정 및 유저 프로필 받아 캐싱 처리(#62)
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/response.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

fix: migrations sync false로 수정
  backend/src/config/typeorm/typeorm.config.ts
Due: pnpm --filter backend lint

feat: 기록 데이터를 props로 받던 것을 msw 쿼리 데이터로 받도록 수정(#101)
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/lib/mocks/handlers.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

test: 기록함 리스트 스토리북 추가(#101)
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/storybook/GalleryDrawer.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthRecords.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailHeaderActions.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailRecords.stories.tsx
  frontend/src/components/DateSelectorDrawer.tsx
  frontend/src/components/storybook/DateSelectorDrawer.stories.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
