Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 푸시 알림 클릭시 해당 그룹/기록 페이지로 딥링크(#287)
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/layout.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
Due: pnpm --filter frontend lint

feat: 그룹 활동 알림에 groupId/postId 데이터 추가(#287)
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

fix: 알림 딥링크 진입시 record 페이지 스켈레톤 깜빡임 개선(#287)
  frontend/src/app/(post)/record/[recordId]/loading.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: 기록 상세 페이지 이동시 스켈레톤 플래시 및 하이드레이션 에러 수정(#287)
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

fix: FCM 푸시 알림 sw unregister 후 재등록 및 알림 클릭 내비게이션 버그 수정(#287)
  backend/src/modules/notification/notification.service.ts
  frontend/public/firebase-messaging-sw.js
  frontend/src/app/AuthContext.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

refactor: 기록 상세페이지 ssr로 인해 헤더 로드 후 레이아웃이 변경되는 문제 수정(#287)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
Due: pnpm --filter frontend lint

refactor: firebase 공식문서에 맞춰 FCM 토큰 관련 메소드 마이그레이션(#287)
  backend/src/modules/notification/notification.service.ts
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: /api -> '' 치환해 잘못된 경로로 API 요청이 가던 것을 /api -> /v1으로 치환호(#287)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

fix: FCM 토큰 마이그레이션이 미설치된 uuid-ossp 함수를 호출하던 문제 수정(#287)
  backend/migrations/1783344174180-CreateFcmToken-migration.ts
Due: pnpm --filter backend lint

fix: firebase-admin 14.x 요구사항에 맞춰 backend Dockerfile Node 버전 22로 상향(#287)
  backend/Dockerfile
Due: none

fix: backend eslint parserOptions을 projectService에서 project로 변경
  backend/eslint.config.mjs
Due: none

fix: 그룹 알림 토글 API에 DTO 검증 추가(#287)
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/toggle-group-notification.dto.ts
  backend/src/modules/group/service/group-activity.service.ts
Due: pnpm --filter backend lint

fix: FCM 토큰 삭제 API에 DTO 검증 추가(#287)
  backend/src/modules/notification/dto/remove-fcm-token.dto.ts
  backend/src/modules/notification/notification.controller.ts
Due: pnpm --filter backend lint

fix: FCM 서비스워커 Firebase compat 버전을 앱과 동기화(#287)
  frontend/public/firebase-messaging-sw.js
Due: none

fix: 그룹 알림 토글에 에러 피드백과 연타 방지 추가(#287)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 푸시 알림 해제 실패시 사용자에게 안내(#287)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 푸시 알림 동적 import에 에러 핸들링 추가(#287)
  frontend/src/components/AndroidNotificationHandler.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 푸시 토큰 등록에 타임아웃 추가(#287)
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

test: 그룹 알림, FCM 푸시 관련 유닛 테스트 및 스토리 보강(#287)
  backend/src/modules/group/service/group-management.service.spec.ts
  backend/src/modules/map/map.service.ts
  backend/src/modules/notification/notification.service.spec.ts
  frontend/src/app/(post)/group/_components/storybook/GroupHeaderActions.stories.tsx
  frontend/src/components/AndroidNotificationHandler.test.tsx
  frontend/src/components/AndroidNotificationHandler.tsx
  frontend/src/hooks/usePushNotification.test.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 로그인 페이지를 랜딩 + 로그인 페이지로 확장(#303)
  frontend/public/feature-custom-style.png
  frontend/public/feature-memory-map.png
  frontend/public/feature-photo-timeline.png
  frontend/public/feature-realtime-friends.png
  frontend/public/feature-record-stats.png
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

feat: 랜딩 스크롤 스냅과 코치마크 위치 안내 스텝 추가(#303)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/recordEditorCoachmarkSteps.ts
  frontend/src/components/Coachmark.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

fix: 이벤트 버블링 제한을 위한 이벤트 전파 차단 로직 추가(#303)
  frontend/src/components/Coachmark.tsx
Due: pnpm --filter frontend lint

fix: 게시글 공유 권한을 소유자 외 그룹 관리자/편집자까지 허용
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

test: 멤버 역할 변경 e2e에서 strict mode 위반 나던 locator 수정
  frontend/e2e/group-management.spec.ts
Due: pnpm --filter frontend lint

test: 코치마크 테스트 추가(#303)
  frontend/src/components/NavItem.test.tsx
  frontend/src/hooks/useCoachmark.test.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

chore: 랜딩으로 확장된 로그인 페이지와 중복되는 온보딩 캐러셀 제거(#303)
  frontend/e2e/onboarding.spec.ts
  frontend/public/onboarding1.png
  frontend/public/onboarding2.png
  frontend/public/onboarding3.png
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(onboarding)/onboarding/_components/OnboardingContent.tsx
  frontend/src/app/(onboarding)/onboarding/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/components/PWAInstallBannerClient.test.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/useApi.test.tsx
Due: pnpm --filter frontend lint

feat: 홈/함께 기록함/그룹 상세/기록 작성 페이지에 코치마크 튜토리얼 추가(#303)
  frontend/src/app/(main)/_components/homeCoachmarkSteps.ts
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/recordEditorCoachmarkSteps.ts
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/groupDetailCoachmarkSteps.ts
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/sharedCoachmarkSteps.ts
  frontend/src/app/(post)/shared/layout.tsx
  frontend/src/components/Coachmark.tsx
  frontend/src/components/NavItem.test.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/hooks/useCoachmark.ts
Due: pnpm --filter frontend lint

fix: 로그인 랜딩 페이지에서 prefers-reduced-motion 존중하도록 수정(#303)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/_components/ServiceIntro.tsx
Due: pnpm --filter frontend lint

feat: 그룹별 알림 수신 토글 기능 추가(#287)
  backend/migrations/1783398050652-AddGroupMemberNotificationMuted-migration.ts
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/get-group-permission.dto.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/group/service/group-management.service.ts
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/types/groupResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: FCM 발송 실패시 만료 토큰 자동 삭제(#287)
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: android capacitor FCM 푸시 알림 토큰 등록 추가(#287)
  frontend/src/hooks/usePushNotification.ts
Due: pnpm --filter frontend lint

fix: 푸시 알림 백엔드 버그 수정 및 DB 스키마 보완(#287)
  backend/migrations/1783348447838-AddFcmTokenUniqueConstraint-migration.ts
  backend/src/modules/notification/entity/fcm-token.entity.ts
  backend/src/modules/notification/notification.controller.ts
  backend/src/modules/notification/notification.service.ts
Due: pnpm --filter backend lint

feat: 그룹별 알림 기능 및 unread 기능 추가(#287)
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/dto/get-groups.dto.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 서버사이드 렌더링시 API URL 이중 /v1 버그 수정(#287)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

chore: Firebase FCM 푸시 알림을 위한 패키지 설치 및 환경변수 설정(#287)
  .gitignore
  backend/.env.example
  backend/package.json
  frontend/.env.example
  frontend/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
