Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

style: 화면 혹은 아이템이 잘리는 스타일 문제 수정
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/_components/GroupDailyDetailData.tsx
  frontend/src/app/(post)/my/detail/[date]/_components/MyDailyDetailData.tsx
  frontend/src/app/(post)/record/layout.tsx
  frontend/src/app/(search)/_components/SearchItem.tsx
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

refactor: 미들웨어에서 인증 session 객체가 존재하는지만 체크하는 것이 아니라 토큰의 만료 여부를 체크해 갱신 시도가 정상 처리되었을 때만 next 동작하도록 개선
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

refactor: 서비스워커가 브라우저 요청을 가로챌 필요가 없어 fetch 핸들러 빈 상태로 수정
  frontend/public/sw.js
Due: none

refactor: google maps 로드 전 이미지 업로드시 gps 메타데이터 추출에 실패하면서 이미지가 깨지는 현상 발생
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/lib/utils/exifExtractor.ts
Due: pnpm --filter frontend lint

style: 일부 페이지 스타일 개선
  frontend/public/privacy-policy.html
  frontend/src/app/(main)/inquiry/page.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

style: 상세 페이지 popover 상단 잘림 문제 수정
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 타임라인 popover를 상세 페이지 popover와 동일하게 수정
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 기록 카드 map으로 표현할 때 기록id를 붙여서 key 지정
  frontend/src/components/DailyDetailRecordItem.tsx
Due: pnpm --filter frontend lint

fix: 메타데이터 추출 오류 발생 버그 수정
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/lib/utils/exifExtractor.ts
Due: pnpm --filter frontend lint

refactor: msw 로드시 출력되는 콘솔 제거
  frontend/src/components/MswLoader.tsx
Due: pnpm --filter frontend lint

fix: 스크롤시 헤더가 상태바 안으로 들어가는 문제
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: none

fix: 스플래시 수정 후 상태바 색상이 테마에 맞게 표시되지 않는 문제 수정
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

fix: 그룹 삭제하기시 post가 남아있어 삭제되지 않던 문제 수정
  backend/migrations/1770700000000-posts-group-fk-cascade.ts
  backend/src/modules/post/entity/post.entity.ts
Due: pnpm --filter backend lint

fix: 모바일에서 앱 실행 후 공동 기록 첫 이미지 업로드시 이미지가 깨지는 문제
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

style: 헤더가 상태바 안으로 들어가는 문제 해결 완
  frontend/src/app/globals.css
Due: none

chore: 모바일 테스트용 로컬 사설 IP 대역 허용
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

fix: 게스트 세션이 만료된 후 재로그인시 기존 게스트 세션 쿠키에서 제거
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: 공유 기록 오픈그래프 적용
  frontend/src/app/share/[token]/SharedRecordContent.tsx
  frontend/src/app/share/[token]/page.tsx
Due: pnpm --filter frontend lint

refactor: toast가 모바일에서 상태바에 의해 일부 가려지는 이슈 수정
  frontend/src/app/globals.css
  frontend/src/app/providers.tsx
  frontend/src/components/AndroidBackHandler.tsx
Due: pnpm --filter frontend lint

fix: 그룹원 초대하기 drawer에서 공유하기시 복사하기 버튼이 동작하는 버그 수정
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

fix: 최대 이미지 업로드 개수에 도달하지 않았음에도 가끔 limit 메시지가 뜨는 문제
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

refactor: 그룹 탈퇴가 정상처리되었을 때 유저에게 응답하는 로직 추가
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 기록에 저장된 이미지 클릭시 라이트박스로 이미지 출력
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

style: 그룹 이미지 및 멤버 프로필 이미지 비율이 깨지는 문제 수정
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

feat: 그룹 알림 이벤트 추가
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityMessage.tsx
Due: pnpm --filter frontend lint

docs: 인프라 네이버에서 오라클로 변경
  README.md
Due: none

fix: 멤버 강퇴 처리 안되는 문제
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

fix: 공동 기록에서 이미지 업로드시 블록에서 이미지가 깨지는 문제 수정
  backend/src/modules/media/media.service.ts
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/hooks/useMediaResolve.ts
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/api/presignMedia.ts
  frontend/src/lib/constants/record.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 스플래시 화면에서 콘텐츠 화면으로 넘어가지 않는 문제
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
Due: pnpm --filter frontend lint

docs: README 수정
  README.md
Due: none

fix: 웹 새로고침 시 pwa 웹앱 설치 아이콘 사라지는 문제
  frontend/public/sw.js
  frontend/src/app/layout.tsx
  frontend/src/hooks/usePWAInstall.ts
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

style: 모바일 툴바 py 일관성 있게 변경
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
Due: pnpm --filter frontend lint

fix: 안드로이드 스크롤시 헤더가 상태바 영역까지 침범하는 문제
  frontend/src/app/globals.css
  mobile-app/android/app/src/main/java/com/ittda/app/MainActivity.java
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

refactor: 기록 저장 타임아웃 10초 지정
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: 그룹 초대 시 다른 계정으로 혹은 게스트로 초대를 받은 후 그룹에 바로 가입되지 않는 문제
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
Due: pnpm --filter frontend lint

docs: README 대표 이미지 변경
  README.md
Due: none

refactor: 드래프트 생성 최대 개수 toast로 표시
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
Due: pnpm --filter frontend lint

style: 웹 스크롤시 하단 색상이 달라지는 문제
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

fix: 카드 형태 이미지 표현 안되는 문제 및 데스크탑 모드에서 타일 형식 이미지가 개수에 맞지 않게 표현되는 문제
  frontend/src/components/AssetImage.tsx
  frontend/src/components/ImageTileGrid.tsx
  frontend/src/components/ui/PostCard.tsx
Due: pnpm --filter frontend lint

feat: 커버 이미지 기본값으로 수정 API 적용
  backend/src/modules/group/service/group.service.ts
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
