Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

style: 버튼 hover 제거
  frontend/src/app/(onboarding)/onboarding/page.tsx
Due: pnpm --filter frontend lint

feat: 게시글 이미지 등록 시 post_media 연결 및 IMAGE mediaIds 검증 강화 (#152)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 리베이스 중 중복 import 된 부분 삭제
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

chore : 오래된 브라우저 기준표 참조로 빌드 에러 -> 새 버전 추가로 해결
  frontend/package.json
  pnpm-lock.yaml
Due: none

chore: 사용하지 않는 PUT용 width/height 제거(#161)
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/lib/api/presignMedia.ts
Due: pnpm --filter frontend lint

feat : 단일/다중 이미지 solve 훅 생성 및 AssetImage 내부 api 명세서에 맞게 수정(#161) - AssetImage 내부에 임시로 호출하던 api 명세에 맞게 수정 - 단일/다중 조회를 위한 커스텀훅 형태로 api 호출 로직 추가
  frontend/src/components/AssetImage.tsx
  frontend/src/hooks/useMediaResolve.ts
Due: pnpm --filter frontend lint

fix: await 포함 함수 async 추가
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: 미디어 업로드 S3/DB 예외 처리 및 로깅 추가
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

fix: merge 전 패키지 변경사항 커밋
  backend/src/modules/map/map.controller.ts
  frontend/package.json
  pnpm-lock.yaml
Due: pnpm --filter backend lint

feat: 에디터 내에 이미지 관련 함수들과 블록 관련 함수들 별도의 훅으로 분리(#168)
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

sylte: 모바일 버전 게시글 작성 제목 안 보이는 부분 수정
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
Due: pnpm --filter frontend lint

feat: 개인/단순 그룹 게시글 작성 시 사진 id 변환 로직 추가(#168)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

feat: 게시글 상세 조회 시 assetId 기반 조회 로직 추가(#168) - 게시글 관련 데이터 받은 훟 바로 resolve 후 프론트에서 사용하도록 로직 추가 - 이미지 조회를 위한 next.config 'localhost:9000' 허용 추가 - 관련 이미지 캐러셀 파일 중 unsed 빌드 방지용 주석 처리
  frontend/next.config.ts
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/ImageCarousel.tsx
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/record.ts
  frontend/src/lib/utils/mediaResolver.ts
Due: pnpm --filter frontend lint

refactor: CREATE 드래프트 조회/생성 분리 (#160)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: 게시글 드래프트 종류/대상 컬럼 추가 (#160)
  backend/migrations/1769617375430-add-post-drafts-kind-and-target.ts
  backend/src/enums/post-draft-kind.enum.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

feat: 게시글 수정 API 및 권한/기여자 처리 추가 (#160)
  backend/src/modules/post/dto/edit-post.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 그룹 게시글 공동수정 드래프트 생성/권한 분리 (#160)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: 게시글 수정 드래프트 반영 API 추가 (#160)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

refactor: 드래프트 컨트롤러 권한 가드 일괄 적용 (#160)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: 드래프트 WS 접근 권한 제한 (#160)
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

fix: PR 리뷰를 받아 응답 구조 및 query 수정
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.module.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

refactor: publish 스냅샷/미디어 처리 정리 (#160)
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

feat: 휴지통/복구 api를 구현 및 게스트, soft delete된지 30일된 post영구삭제, 게스트 7일된 기록 삭제 반영 - nestjs/schedule로 예약 - trash 모듈 포함
  backend/src/app.module.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/guest/guest.controller.ts
  backend/src/modules/trash/dto/trash.dto.ts
  backend/src/modules/trash/trash.controller.ts
  backend/src/modules/trash/trash.module.ts
  backend/src/modules/trash/trash.service.ts
Due: pnpm --filter backend lint

docs: swagger 부분 수정
  backend/src/modules/guest/dto/guest.response.dto.ts
  backend/src/modules/guest/guest.controller.ts
  backend/src/modules/map/map.controller.ts
  backend/src/modules/search/search.controller.ts
  backend/src/modules/trash/trash.controller.ts
Due: pnpm --filter backend lint

chore: 배포 스토리지 조회용 config 추가(#168)
  frontend/next.config.ts
Due: pnpm --filter frontend lint

fix : resolve 하기 전 id 기반 이미지 조회 에러 발생(#168) - resolve 되지 않은 id 처리 가능하도록 AssetImage 컴포넌트로 변경
  frontend/src/components/AssetImage.tsx
  frontend/src/components/ui/PostCard.tsx
  frontend/src/hooks/useMediaResolve.ts
Due: pnpm --filter frontend lint

feat: 그룹 공동 기록 사진 업로드 추가(#168)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoField.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

refactor: 그룹 커버 후보 API 중복 제거
  backend/src/modules/group/controller/group-management.controller.ts
Due: pnpm --filter backend lint

refactor: 그룹 커버 후보 조회 통일
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/dto/get-group-cover-candidates.query.dto.ts
  backend/src/modules/group/dto/group-cover-candidates.response.dto.ts
  backend/src/modules/group/service/group-record.service.ts
Due: pnpm --filter backend lint

refactor: 사용자 커버 후보 API 통일
  backend/src/modules/user/dto/user-cover-candidates.response.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix: useLayoutEffect 및 rAF 이용 로직 최적화(#165)
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

fix: 공동작성 기본 스냅샷 시간대 KST 적용
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: 게스트도 소셜 유저처럼 토큰으로 세션 관리, 토큰 재발급은 없음
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/manifest.ts
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/response.ts
  frontend/src/middleware.ts
  frontend/src/store/useAuthStore.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
