Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

test: 기록함 내부 기록 프리뷰 리스트/아이템 스토리북 추가(#101)
  frontend/src/components/storybook/DailyDetailRecordItem.stories.tsx
  frontend/src/components/storybook/DailyDetailRecords.stories.tsx
Due: pnpm --filter frontend lint

fix: 401 처리 개선 및 재발급 흐름 보완
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

test: 그룹함의 헤더 스토리 추가(#101)
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/storybook/GroupHeaderActions.stories.tsx
Due: pnpm --filter frontend lint

test: 기록 상세 페이지 스토리 추가(#101)
  frontend/src/app/(post)/record/_components/storybook/RecordDetail.stories.tsx
Due: pnpm --filter frontend lint

test: 그룹 정보 수정 페이지 스토리 추가(#101)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupDangerousZone.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupInfo.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/storybook/GroupMemberManagement.stories.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/storybook/GroupProfileEdit.stories.tsx
Due: pnpm --filter frontend lint

feat: 그룹/멤버 스키마 및 서비스 로직 반영 (#102)
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

fix: post e2e test 감정 값 검증 테스트 케이스 수정
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 그룹 내 닉네임 검증 규칙 적용 (#102)
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

feat: 초대 코드 생성 및 가입 API 훅으로 생성(#84) - 초대 코드 생성 api 함수 이름 변경 - 초대 후 가입 api 추가
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/hooks/useGroupInvite.ts
Due: pnpm --filter frontend lint

feat: 그룹 초대 페이지 추가(#84)
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(invite)/layout.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 사용자 프로필 이미지 참조 구조 전환 (#102)
  backend/src/modules/user/dto/update-user.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.service.ts
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/response.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: group last_activity_at 갱신 로직 추가 (#102)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 미디어 블록 전체 구현 및 프론트/백엔드 연동 (#102)
  backend/src/enums/post-block-type.enum.ts
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/types/post-block.types.ts
  backend/test/post.e2e-spec.ts
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/lib/types/record.ts
  frontend/src/lib/types/recordField.ts
  frontend/src/lib/utils/mapBlocksToPayload.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: GET /v1/user/archives/months?year=YYYY 월별 카드 조회 api 구현 - luxon 타입 설치 - async getMonthlyArchive 함수 구현 - 쿼리 빌더 및 그룹핑, 명세에 맞는 결과 조립
  README.md
  backend/package.json
  backend/src/modules/mypage/mypage.interface.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/user/dto/get-monthly-archive.query.dto.ts
  backend/src/modules/user/dto/month-record.response.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
  backend/src/types/luxon.d.ts
  pnpm-lock.yaml
Due: pnpm --filter backend lint

chore: 엔티티 컬럼 snake_case으로 통합 정리 (#102)
  backend/src/modules/auth/refresh_token/refresh_token.entity.ts
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/group/entity/group_invite.entity.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/guest/guest-session.entity.ts
  backend/src/modules/post/entity/post-contributor.entity.ts
  backend/src/modules/user/user.entity.ts
Due: pnpm --filter backend lint

- chore: 게시글 감정 메타 백필 마이그레이션 추가 (#102)
  backend/migrations/1769002000000-backfill-post-emotion.ts
Due: pnpm --filter backend lint

chore: 스키마 통합 마이그레이션 추가 (#102)
  backend/migrations/1768838949485-consolidate-schema-changes.ts
  backend/package.json
Due: pnpm --filter backend lint

chore: 컬럼 rename 가드 추가로 마이그레이션 안정화 (#102)
  backend/migrations/1768838949485-consolidate-schema-changes.ts
Due: pnpm --filter backend lint

fix: post e2e 정리 순서 및 메시지 수정 (#102)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

docs: POST /posts swagger description 보완
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

fix: 엑세스 토큰이 메모리에 저장되지 않던 문제 수정
  backend/src/modules/auth/auth.controller.ts
  frontend/src/app/(login)/oauth/callback/page.tsx
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: user-month-cover를 entity 및 migration 파일에 추가 - user관련 모듈에 월 단위 기록함 리스트, 이미지 커버를 변경 기능 추가 - 그 외 PR들 merge
  backend/migrations/1768877204024-add-user-month-cover.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/media/entity/media-asset.entity.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/post/entity/post-contributor.entity.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.ts
  backend/src/modules/user/dto/get-month-images.response.dto.ts
  backend/src/modules/user/dto/get-monthly-archive.query.dto.ts
  backend/src/modules/user/dto/month-record.response.dto.ts
  backend/src/modules/user/dto/update-month-cover.body.dto.ts
  backend/src/modules/user/entity/user-month-cover.entity.ts
  backend/src/modules/user/entity/user.entity.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
  backend/test/feed.e2e-spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 기록 데이터를 props로 받던 것을 msw 쿼리 데이터로 받도록 수정(#101)
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/app/(main)/_components/storybook/RecordList.stories.tsx
  frontend/src/lib/mocks/handlers.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

test: 기록함 리스트 스토리북 추가(#101)
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/storybook/GalleryDrawer.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthRecords.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailHeaderActions.stories.tsx
  frontend/src/app/(post)/_components/storybook/MonthlyDetailRecords.stories.tsx
  frontend/src/components/DateSelectorDrawer.tsx
  frontend/src/components/storybook/DateSelectorDrawer.stories.tsx
Due: pnpm --filter frontend lint

refactor: 블록 DTO 검증 로직 분리 (#102)
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/validator/post-block.validators.ts
Due: pnpm --filter backend lint

feat: 초대코드 응답값으로 보이도록 수정(#84)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: user 모듈에 getDailyArchive 기능 추가
  backend/src/modules/user/dto/day-record.response.dto.ts
  backend/src/modules/user/dto/get-daily-archive.query.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

refactor: 그룹 페이지 접속 후 바로 초대코드 생성되는 api 호출되는 문제 -> 그룹 초대 드로어 분리 후 내부에서 열려있을 때만 호출되도록 변경(#84)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 페이지 접속 후 바로 초대코드 생성되는 api 호출되는 문제 -> 그룹 초대 드로어 분리 후 내부에서 열려있을 때만 호출되도록 변경(#84)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
  frontend/src/hooks/useGroupInvite.ts
Due: pnpm --filter frontend lint

Revert "fix: 401 처리 개선 및 재발급 흐름 보완" (#102)
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 그룹 활동 시간 기준을 updatedAt으로 변경 (#102)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: MEDIA 블록 검증 메시지 세분화 (#102)
  backend/src/modules/post/validator/post-block.validators.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

Revert "mypage 모듈의 기본 구조 및 API 엔드포인트 구현 (파일 수정) "
  backend/src/app.module.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/group/entity/group.entity.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/user/dto/update-user.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.interface.ts
  backend/src/modules/user/user.module.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

fix: 충돌 수정
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix: ts 확장자 빼기
  backend/src/modules/mypage/mypage.controller.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
