Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 그룹 게시글 미디어 조회 권한 확장 (#152)
  backend/src/modules/media/media.module.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

docs: media 업로드 수동 테스트 문서 추가 (#152)
  backend/src/modules/media/MEDIA_UPLOAD.md
Due: none

feat: S3 presign 의존성 추가 (#152)
  backend/package.json
  pnpm-lock.yaml
Due: none

fix: jpg 확장자 허용 및 문서 반영 (#152)
  backend/src/modules/media/MEDIA_UPLOAD.md
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

eat: 공유 게시글 기여자 미디어 접근 허용 (#152)
  backend/src/modules/media/media.module.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

feat: 미디어 presign에 width/height 메타 지원 (#152)
  backend/src/modules/media/MEDIA_UPLOAD.md
  backend/src/modules/media/dto/presign-media.dto.ts
  backend/src/modules/media/media.service.ts
Due: pnpm --filter backend lint

feat : 이미지 파일을 통해 width, height 반환하는 유틸함수 구현(#161)
  frontend/src/lib/utils/image.ts
Due: pnpm --filter frontend lint

fix: 기록 작성 태그 추가 키보드 한글 입력시 합성 이벤트에 의해 중복 입력 문제 수정
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지 프로필 수정 유저 정보 조회 후 데이터 적용
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
  frontend/src/components/ProfileInfo.tsx
Due: pnpm --filter frontend lint

refactor: 콘솔 제거
  frontend/src/auth.ts
Due: pnpm --filter frontend lint

feat: 홈 특정 날의 기록이 없을 때의 UI 변경
  frontend/src/app/(main)/_components/RecordList.tsx
Due: pnpm --filter frontend lint

feat: 마이페이지, 홈 통계 수정된 api 명세대로 적용(#127)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/WritingRecordStatistics.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/EmotionList.tsx
  frontend/src/app/(main)/profile/all-emotions/page.tsx
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/lib/api/profile.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/profileResponse.ts
Due: pnpm --filter frontend lint

feat: 타임라인 엔드포인트 개인/그룹/홈 달리 적용(#127)
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

feat: 온보딩 페이지 클릭해 이동할 수 있도록 지원
  frontend/src/app/(onboarding)/onboarding/page.tsx
Due: pnpm --filter frontend lint

style: 버튼 hover 제거
  frontend/src/app/(onboarding)/onboarding/page.tsx
Due: pnpm --filter frontend lint

fix: location-picker 페이지 첫 렌더링시 현재 위치 주소로 뜨도록 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: 온보딩 페이지 구현
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(onboarding)/onboarding/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 위치 선택 마커 주변 장소 이름을 띄우도록 수정
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: 온보딩 페이지에선 pwa 설치 배너가 보이지 않도록 수정
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

fix: map api가 로드된 후 실행되도록 위치 선택 기능 동작 지연
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

feat: msw next-auth 및 next.js 데이터 요청은 가로채지 않도록 설정
  frontend/src/lib/mocks/browser.ts
Due: pnpm --filter frontend lint

style: 어색한 디자인 스타일 변경
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/components/BlockContent.tsx
Due: pnpm --filter frontend lint

feat: 월별 기록함의 최신글에 장소 정보가 없을 때 위치 아이콘 미출력
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: presigned URL 형태로 API 호출을 위한 로직 구현 및 훅 구현(#161) - api 호출 로직 추가 - 총 3단계인(url 받기 -> PUT 업로드 하기 -> 유효한 ID 받기) 의 과정을 처리하기 위한 커스텀 훅 구현
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/lib/api/presignMedia.ts
Due: pnpm --filter frontend lint

chore: 현재 width/height 관련 로직 에러 발생으로 인한 임시 주석 처리 - 빌드 에러 방지용(#161)
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/lib/api/presignMedia.ts
Due: pnpm --filter frontend lint

fix: 마이페이지 관련 API UnauthorizedException 추가 및 유예기간 연장
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/mypage/mypage.controller.ts
Due: pnpm --filter backend lint

fix: 이전 세션 갱신에서 에러 발생시 accessToken null로 저장
  frontend/src/auth.ts
Due: pnpm --filter frontend lint

fix: 토큰 만료 시간 수정
  frontend/src/auth.ts
Due: pnpm --filter frontend lint

fix: next-auth 요청은 가로채지 않고 바로 결곽 반환
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

fix: session 자체 자동 갱신 기능 비활성화 및 세션 로그아웃 감지
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

fix: 토큰 만료시 이중 갱신 로직에 의한 토큰 재발급 로직 무한 요청 문제 수정
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix : 위치 추가 로직 실행 시 바로 lock 걸리도록 변경(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorInitializer.ts
  frontend/src/app/(post)/group/@modal/(...)location-picker/page.tsx
  frontend/src/lib/constants/record.ts
Due: pnpm --filter frontend lint

feat : 필드가 있는 상태에서 툴바로 접속시 바로 락 안 걸리는 문제 해결(#144) - 존재하지 않는다면 필수로 락을 걸도록 추가 - 필드 클릭 시에는 락을 두 번 걸게되어 location 필드 클릭 시 락 걸지 않도록 추가
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
Due: pnpm --filter frontend lint

feat: publish 시작했을 때 로딩 뜨도록 이벤트 추가(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/components/AuthLoadingScreen.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

feat: group 모듈에 그룹에 참여 중인 멤버 조회 관련 api 추가
  backend/src/modules/group/dto/get-group-members.dto.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.service.ts
Due: pnpm --filter backend lint

feat: 내 기록함 해당 월에서 기록이 있는 일 가져오는 api를 @Get('archives/record-days')로 구현
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: group 모듈에 그룹 월별 카드 커버 변경 api 구현
  backend/src/modules/group/dto/update-group-month-cover.dto.ts
  backend/src/modules/group/entity/group-month-cover.entity.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
  backend/src/modules/group/group.module.ts
Due: pnpm --filter backend lint

feat: 그룹의 기록이 있는 날짜 조회하는 api 구현
  backend/src/modules/group/dto/get-group-month-images.query.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
Due: pnpm --filter backend lint

feat: 그룹 일별 카드 조회 api를 구축
  backend/src/modules/group/dto/get-group-daily-archive.query.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/dto/group-day-record.response.dto.ts
  backend/src/modules/group/dto/group-month-record.response.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group-record.service.ts
Due: pnpm --filter backend lint

docs: swagger 미구현된 부분에 추가
  backend/src/modules/group/dto/get-group-members.dto.ts
  backend/src/modules/group/dto/get-group-monthly-archive.query.dto.ts
  backend/src/modules/group/group-record.controller.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint
