Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 토큰 재발급시 refreshToken 넣어주기
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

- fix: API 경로 정합성 및 목록 렌더링 키 수정
  backend/src/app.module.ts
  backend/src/modules/user/user.controller.ts
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/my.ts
  frontend/src/lib/api/profile.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 월별 커버 테이블 및 사용자 제약 추가, 마이그레이션 적용
  backend/migrations/1769137504036-add-month-cover.ts
Due: pnpm --filter backend lint

fix: 서버 컴포넌트 API 경로 전체 변경
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/my.ts
Due: pnpm --filter frontend lint

feat: 감정 API 응답 포맷 통일
  backend/src/modules/mypage/dto/user-summary.response.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.service.ts
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

fix: mypage app.module 반영
  backend/src/app.module.ts
  backend/src/modules/mypage/dto/user-summary.response.dto.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix : 초대코드 복사 드로어 개선(#84) - navigator.clipboard 에 비동기 처리 추가 - 복사전/성공/에러 시 다른 버튼 스타일 처리 - 함수 밖 객체 선언으로 재생성 방지
  frontend/src/app/(post)/group/_components/GroupInviteDrawer.tsx
Due: pnpm --filter frontend lint

feat: post_drafts 테이블 초기 도입 (#119)
  backend/migrations/1768939465217-add-post-drafts.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

feat: draft 진입/조회 API 추가 (#119)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

test: draft 진입/조회 e2e 추가 (#119)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

chore: socket.io 의존성 추가 (#120)
  backend/package.json
  pnpm-lock.yaml
Due: none

feat: draft WS 인증/게이트웨이 추가 (#120)
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/ws/ws-jwt.guard.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

chore: seed에 그룹/드래프트 추가 (#120)
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

feat: draft WS presence 개선 (#120)
  backend/scripts/ws-presence-test.js
  backend/src/modules/auth/ws/ws-jwt.guard.ts
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

eat: draft WS 협업 기본 흐름/lock 관리 추가 (#121)
  backend/scripts/ws-presence-test.js
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

test: WS presence 테스트 스크립트 추가 (#120)
  backend/scripts/ws-presence-test.js
Due: none

feat: BLOCK_INSERT 자동 락 획득 (#122)
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

docs: 드래프트 응답 스키마 Swagger 등록 (#122)
  backend/src/modules/post/dto/post-draft-response.dto.ts
  backend/src/modules/post/post-draft.controller.ts
Due: pnpm --filter backend lint

fix: draft snapshot 타입가드 및 value 캐스팅 보강 (#122)
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

feat: WS presence 권한/프로필 처리 정비 (#120)
  backend/scripts/ws-presence-test.js
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

feat: draft PATCH/STREAM & publish 플로우 추가 (#122)
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/draft-state.service.ts
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post-publish.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

fix: PATCH 타입 검증 강화 및 제목 락 추가 (#122)
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

test: WS 테스트 스크립트 확장 (#122)
  backend/scripts/ws-flow-test.js
  backend/scripts/ws-presence-test.js
Due: none

feat: 비그룹원 로그인 유저 임시 허용 (#120)
  backend/src/modules/post/post-draft.gateway.ts
Due: pnpm --filter backend lint

refactor: PATCH/STREAM·락 이벤트 로직 분리 (#122)
  backend/src/modules/post/collab/lock-events.ts
  backend/src/modules/post/collab/patch-stream.service.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: WS 협업 로직 분리 (#121)
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/collab/lock.service.ts
  backend/src/modules/post/collab/presence.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

docs: 공동작성 WS 이벤트 문서화 (#121)
  backend/src/modules/post/COLLAB_WS.md
Due: none

chore: dev-user 시드 정리 변경 (#120)
  backend/src/seed/seed-reset.ts
  backend/src/seed/seed.ts
Due: pnpm --filter backend lint

fix: user 엔티티 경로 변경 반영 (#122)
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

refactor: frontend build 가능한 상태로 적용
  frontend/next.config.ts
  frontend/src/app/(invite)/layout.tsx
  frontend/src/app/(login)/@modal/(.)oauth/callback/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/login/page.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(login)/oauth/callback/page.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/(post)/shared/layout.tsx
  frontend/src/app/(post)/shared/page.tsx
  frontend/src/lib/api/externalMedia.ts
  frontend/tsconfig.json
Due: pnpm --filter frontend lint

feat: 로그인과 인증 상태 갱신 로직 추가(#131)
  frontend/src/app/AuthContext.tsx
  frontend/src/components/Header.tsx
Due: pnpm --filter frontend lint

chore: frontend 작업 push에 빌드 체크
  .husky/pre-push
Due: none

fix: middleware에서 mockServiceWorker 인증을 요구해 발생한 리디렉션 에러 문제를 해당 파일은 인증 로직을 거치지 않도록 수정
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: 클라이언트에서 쿠키를 가져오는 유틸 함수의 서버 사이트 중 실행 문제 수정
  frontend/src/lib/utils/cookie.ts
Due: pnpm --filter frontend lint

fix: 토큰 재발급시 서버로부터 전달되는 새로운 refreshToken을 갱신하지 않는 문제 수정
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

feat: 날짜로 찾기 기능 API 연결(#131, #143)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/components/DateSelectorDrawer.tsx
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: 일별 기록 리스트 오름차순이 아닌 내림차순(최신순)으로 응답하도록 controller 수정
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 내 기록함 타임라인 페이지의 전날/다음날 버튼 기능 api 연결(#131)
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/lib/api/my.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: 임시 유틸 함수 util 폴더로 이동
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/lib/utils/time.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
