Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

style: 기록 작성 시 헤더 내에 사진 크기 조정(#194)
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
Due: pnpm --filter frontend lint

fix: 드래프트ID 불일치 시 이전 페이지로 돌아가도록(#194)
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

chore: 감정 드로어 버튼 이름 수정(#194) - 닫기 -> 확인
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
Due: pnpm --filter frontend lint

chore: 리드미 내에 기술 스택 아이콘 추가
  README.md
Due: none

feat: 검색에 감정 필터 추가 (#188)
  backend/src/modules/search/dto/search.dto.ts
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

fix: map posts 응답에 감정 정보 포함 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: MapModule에 PostBlock 엔티티 등록 (#188)
  backend/src/modules/map/map.module.ts
Due: pnpm --filter backend lint

fix: 지도 조회를 bbox 기반으로 전환하고 감정 필터 추가 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

chore: 리드미 내에 주요 기능 추가
  README.md
Due: none

fix: 게시글 상세조회 기여자에 개인/그룹 프로필 정보 추가 (#188)
  backend/src/modules/post/dto/post-detail.dto.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 그룹 목록에서 삭제된 게시글 제외 (#188)
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

fix: 지도 썸네일을 첫 이미지 블록 mediaId로 변경 (#188)
  backend/src/modules/map/dto/map-query.dto.ts
  backend/src/modules/map/map.service.ts
Due: pnpm --filter backend lint

fix: 그룹 멤버 프로필 이미지 반환 기준 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
Due: pnpm --filter backend lint

chore: 리드미 내에 배포 URL 텍스트 변경
  README.md
Due: none

fix: 삭제된 유저로 인한 500 오류 수정 (#188)
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group.service.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

fix: 장소 검색 마커 다른 기록 마커보다 z-index 높이기(#177)
  frontend/src/app/(map)/_components/GoogleMap.tsx
Due: pnpm --filter frontend lint

feat: 지도 마커와 drawer 아이템에 이미지 적용(#177)
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(map)/_components/RecordMapDrawer.tsx
Due: pnpm --filter frontend lint

feat: 지도 map bound 전달해 화면에 보이는 영역 기록만 표시(#177)
  frontend/src/app/(map)/_hooks/useBottomSheetResize.ts
  frontend/src/app/(map)/map/page.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

fix: 세션 업데이트 타이밍 이슈로 리디렉션 무한 루프 발생 가능성에 의한 공격 감지 문제(#197)
  frontend/src/app/AuthContext.tsx
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

fix: 시간 드로어 수정(#194) - 지금으로 버튼을 통한 현재 시간 가져오기 - 마우스 휠 스크롤 시 한 칸씩 이동 가능하도록 수정
  frontend/src/app/(post)/_components/editor/core/TimePickerDrawer.tsx
Due: pnpm --filter frontend lint

feat: 지도 페이지 오픈그래프 적용을 위해 서버/클라이언트 컴포넌트 분리(#192)
  frontend/src/app/(map)/map/_components/RecordMapClient.tsx
  frontend/src/app/(map)/map/page.tsx
Due: pnpm --filter frontend lint

feat: 전역 오픈그래프 적용(#192)
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat: 게스트도 소셜 유저처럼 토큰으로 세션 관리, 토큰 재발급은 없음
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

chore: env example 추가
  frontend/.env.example
Due: none

feat: 그룹 기록함 하위 페이지는 모두 그룹 기록함 오픈그래프 적용되도록 수정(#192)
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/layout.tsx
Due: pnpm --filter frontend lint

feat: 홈/그룹 기록함/상세페이지 오픈그래프 적용(#192)
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/hooks/useMediaResolve.ts
Due: pnpm --filter frontend lint

fix: 오픈그래프 추가르 위해 맵 서버 컴포넌트 만든 부분 합치기(#192)
  frontend/src/app/(map)/map/_components/RecordMapClient.tsx
Due: pnpm --filter frontend lint

fix: 게스트 세션 헤더 위치를 exchange쪽으로 수정
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

fix: 사용 지점에서 toast 막을 수 있도록 provider 내부에 추가(#194)
  frontend/src/app/providers.tsx
Due: pnpm --filter frontend lint

fix: 머지 중 발생한 에러 해결(#194) - 머지중 태그 일부를 잘못지워 제대로 닫히지 않음
  frontend/src/components/search/FilterChip.tsx
Due: pnpm --filter frontend lint

fix: 그룹 초대 코드 권한 없는 사용자에게 불필요한 toast 안 띄우도록 수정(#194)
  frontend/src/hooks/useGroupInvite.ts
Due: pnpm --filter frontend lint

chore: sentry 의존성 추가
  frontend/.gitignore
  frontend/next.config.ts
  frontend/package.json
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

feat: sentry에 유저 정보 설정(#199)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

chore: 개발 모드에선 sentry 동작하지 않도록 수정(#199)
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/src/instrumentation-client.ts
Due: pnpm --filter frontend lint

feat: 지도 관련 sentry 에러 모니터링 추가(#199)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/components/map/LocationPicker.tsx
  frontend/src/hooks/useGeolocation.ts
Due: pnpm --filter frontend lint

feat: 그룹 정보/프로필 수정 관련 sentry 에러 모니터링 추가(#199)
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
Due: pnpm --filter frontend lint

feat: 소켓, 기록 작성 관련 sentry 에러 모니터링 추가
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/app/(post)/add/page.tsx
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

feat: 이미지 업로드 관련 sentry 에러 모니터링 추가(#199)
  frontend/src/hooks/useMediaUpload.ts
  frontend/src/lib/utils/mediaResolver.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
