Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

refactor: 메인 페이지와 마이 페이지 long task 소요 시간 최적화(#242)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(main)/profile/_components/PlaceDashboard.tsx
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(main)/profile/_components/RecordStatistics.tsx
  frontend/src/app/(main)/profile/_components/TagDashboard.tsx
  frontend/src/app/(main)/profile/_components/WritingRecordStatistics.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

fix: LHCI 실행 전에 서버를 별도 스텝에서 직접 기동되도록 수정
  .github/workflows/ci.yml
  frontend/lighthouse.js
Due: none

style: 버튼 클릭시 active 피드백 제공하도록 개선(#258)
  frontend/src/app/globals.css
  frontend/src/components/Back.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/NavItem.tsx
Due: pnpm --filter frontend lint

refactor: 게시글 홈피드/상세보기 시 프로필 적용이 안되는 문제(#258)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

feat: 기록 날짜로 찾기 drawer 연도/월 선택 스크롤 휠 방식으로 변경(#258)
  frontend/src/components/DateSelectorDrawer.tsx
Due: pnpm --filter frontend lint

style: 지도 마커 모바일 환경에서 사이즈 줄이기(#258)
  frontend/src/app/(map)/_components/CustomClusterRenderer.ts
  frontend/src/app/(map)/_components/PinMarker.tsx
Due: pnpm --filter frontend lint

fix: draft floating 버튼 영역이 기록 카드를 가려서 클릭이 안되는 문제(#258)
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
Due: pnpm --filter frontend lint

style: draft popover 콘텐츠 영역 opacity 제거(#258)
  frontend/src/app/(post)/group/_components/GroupDraftFloating.tsx
Due: pnpm --filter frontend lint

feat: 메인 화면에서 특정 날짜 기준으로 기록 추가 했을 때 바로 해당 날짜로 갈 수 있도록 기능 추가(#258)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorInitializer.ts
  frontend/src/app/(post)/add/page.tsx
Due: pnpm --filter frontend lint

feat: 지도 페이지 및 위치 drawer 기본 위치를 경복궁으로 변경 및 gps 사용 제거(#258)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

fix: 그룹 내 프로필 수정 페이지 새로고침시 프로필 데이터가 적용되지 않는 문제(#258)
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
Due: pnpm --filter frontend lint

feat: 그룹원이 아닌 사람이 그룹에 접근하려고 할 때 홈으로 내보내기(#258)
  frontend/src/app/(post)/group/[groupId]/layout.tsx
  frontend/src/app/(post)/group/_components/GroupAccessGuard.tsx
Due: pnpm --filter frontend lint

fix: 기록 작성 페이지 위치 선택 drawer 뒤로가기 클릭시 작성 페이지를 벗어나는 문제(#258)
  frontend/src/components/map/LocationDrawer.tsx
Due: pnpm --filter frontend lint

style: 지도 페이지에서 뒤로가기 버튼 배경색 적용(#258)
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/components/Back.tsx
Due: pnpm --filter frontend lint

refactor: 지도 페이지 기본 위치를 우리나라가 잘 보이도록 충북 근처로 변경(#258)
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/components/map/LocationPicker.tsx
Due: pnpm --filter frontend lint

chore: OCI 전환에 맞게 스토리지/컴포즈 설정 정리
  .env.example
  backend/src/modules/media/media.service.ts
  docker-compose.yml
  frontend/next.config.ts
  scripts/put-bucket-cors.js
Due: pnpm --filter backend lint, pnpm --filter frontend lint

docs: REGISTRY_URL 예시를 OCIR 형식으로 업데이트
  .env.example
Due: none

chore: nginx 사이트 설정 파일명을 template로 변경
  deploy/nginx/ittda-be-site.template.conf
Due: none

chore: docker compose 백엔드 태그 주입 방식과 배포 절차 주석 정리
  docker-compose.yml
Due: none

chore: docker compose에 host.docker.internal 매핑 추가
  docker-compose.yml
Due: none

docs: nginx 템플릿에 ACME challenge 경로 유지 이유 주석 추가
  deploy/nginx/ittda-be-site.template.conf
Due: none

refactor: deffered component를 추가해서 데이터 로드가 빠르게 될 때의 반짝이는 효과 줄이기(#258)
  frontend/src/app/(main)/_components/RecordList.tsx
  frontend/src/components/DeferredComponent.tsx
Due: pnpm --filter frontend lint

fix: 성능 측정 동안 서버 요청이 지속되는 문제로 lighthouse 측정 로직 제거
  .github/workflows/ci.yml
  frontend/lighthouse.js
  frontend/lighthouse.puppeteer.js
Due: none

chore: .env.example의 REGISTRY_URL 예시에 /ittda 경로 반영
  .env.example
Due: none

feat: MIGRATION_DATABASE_URL 예시 추가 및 data-source 환경변수 로딩 로직 정리
  backend/.env.example
  backend/src/data-source.ts
Due: pnpm --filter backend lint

chore: OCI 전환에 맞게 스토리지/컴포즈 설정 정리 (#261)
  .env.example
  backend/src/modules/media/media.service.ts
  docker-compose.yml
  frontend/next.config.ts
  scripts/put-bucket-cors.js
Due: pnpm --filter backend lint, pnpm --filter frontend lint

docs: REGISTRY_URL 예시를 OCIR 형식으로 업데이트 (#261)
  .env.example
Due: none

chore: nginx 사이트 설정 파일명을 template로 변경 (#261)
  deploy/nginx/ittda-be-site.template.conf
Due: none

chore: docker compose 백엔드 태그 주입 방식과 배포 절차 주석 정리 (#261)
  docker-compose.yml
Due: none

chore: docker compose에 host.docker.internal 매핑 추가 (#261)
  docker-compose.yml
Due: none

docs: nginx 템플릿에 ACME challenge 경로 유지 이유 주석 추가 (#261)
  deploy/nginx/ittda-be-site.template.conf
Due: none

chore: .env.example의 REGISTRY_URL 예시에 /ittda 경로 반영 (#261)
  .env.example
Due: none

feat: MIGRATION_DATABASE_URL 예시 추가 및 data-source 환경변수 로딩 로직 정리 (#261)
  backend/.env.example
  backend/src/data-source.ts
Due: pnpm --filter backend lint
