Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 그룹 홈 주간달력 스와이프 시 콘텐츠가 박스 밖으로 그려질 수 있던 문제 수정(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: 그룹 홈 캘린더가 멤버/탭 줄을 덮어버리던 문제 수정(#324)
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

fix: 캘린더 sticky 오프셋이 상태바 높이/헤더 스택 상태를 반영하도록 수정(#324)
  frontend/src/app/(main)/_components/HomeCalendarStreakSticky.tsx
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
Due: pnpm --filter frontend lint

chore: 모바일 로컬 테스트용 사설 IP 갱신
  mobile-app/android/app/src/main/res/xml/network_security_config.xml
Due: none

chore: WeekCalendar에서 overflow-hidden 제거 (그룹 홈 캘린더 미표시 문제 대응 실험)(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: nav 숨김 라우트에서 --nav-content-height 인라인 값이 안 지워지던 문제 수정(#324)
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

fix: BottomNavigation 높이를 하드코딩값 대신 실측값으로 계산(#324)
  frontend/src/app/globals.css
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

fix: 그룹 기록 추가 후 뒤로가기가 그룹 홈을 건너뛰고 엉뚱한 페이지로 가던 문제 수정(#324)
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
Due: pnpm --filter frontend lint

fix: 그룹 홈 캘린더/스택 헤더의 상태바 보정 이중 적용 문제 수정(#324)
  frontend/src/app/(main)/_components/WeekCalendar.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/_components/GroupMainTabs.tsx
  frontend/src/components/StackedNativeHeader.tsx
Due: pnpm --filter frontend lint

chore: 안드로이드 릴리즈 서명(keystore.properties) 설정 추가(#327)
  mobile-app/android/.gitignore
  mobile-app/android/app/build.gradle
Due: none

ci: 안드로이드 릴리즈 AAB 빌드 워크플로 추가(#327)
  .github/workflows/android-release-build.yml
Due: none

fix: 릴리즈 빌드 워크플로에 최소 권한 permissions 명시(#327)
  .github/workflows/android-release-build.yml
Due: none

fix: keystore.properties 생성 heredoc의 구분자 quote 처리(#327)
  .github/workflows/android-release-build.yml
Due: none

fix: upload-artifact 액션을 커밋 SHA로 고정(#327)
  .github/workflows/android-release-build.yml
Due: none

docs: 개인정보처리방침 sentry, google analytics 관련 내용 추가
  frontend/public/privacy-policy.html
  frontend/public/privacy-policy.md
Due: none

fix: 공동작성 패치를 ACK 기반으로 직렬화(#331)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.test.ts
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
  frontend/src/hooks/useRecordCollaboration.test.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

fix: 공동작성 레이아웃 순서를 동기화하고 저장한다(#331)
  backend/src/modules/post/post-draft.service.spec.ts
  backend/src/modules/post/post-draft.service.ts
  frontend/e2e/group-draft-collaboration.spec.ts
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.test.ts
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

chore: Android targetSdk/compileSdk를 36으로 상향
  mobile-app/android/variables.gradle
Due: none

chore: Android versionCode를 2로 상향
  mobile-app/android/app/build.gradle
Due: none

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
