Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix : 락 제거후에도 하트비트 남아있는 에러 수정(#144) - 서버에 뒤늦게 GRANTED 이벤트가 도착하여 하트비트 타이머가 다시 살아남. - 유효한 요청인지를 판별하기위한 ref 추가
  frontend/src/hooks/useLockManager.ts
Due: pnpm --filter frontend lint

feat: 미디어 관련 externalID 등 필수 값 추가(#144)
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/lib/api/externalMedia.ts
Due: pnpm --filter frontend lint

feat: 블록 필드들 공동 작업 구현(#144) - 텍스트, 감정, 태그, 테이블,평점,미디어 구현 완료
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingPickerDrawer.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

fix: use client 빠져있는 클라이언트 컴포넌트 추가
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/MapRecordItem.tsx
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/record/[recordId]/not-found.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/NavItem.tsx
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

refactor: 레코드 각 필드 타입별로 렌더해주는 함수를 별도의 컴포넌트로 분리(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
Due: pnpm --filter frontend lint

fix : 선택된 감정 표시되도록 이모션드로어 수정(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
Due: pnpm --filter frontend lint

feat : 에러 방지용 시간,날짜 기본 값 생성로직 추가(#144)
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
  frontend/src/app/(post)/_components/editor/core/FieldDeleteButton.tsx
Due: pnpm --filter frontend lint

refactor/feat: group을 api 세부 단위로 쪼개고, 내 그룹 닉네임, 프로필 사진 수정 api 추가
  backend/src/modules/group/controller/group-invite.controller.ts
  backend/src/modules/group/controller/group-management.controller.ts
  backend/src/modules/group/controller/group-record.controller.ts
  backend/src/modules/group/controller/group.controller.ts
  backend/src/modules/group/dto/get-group-member-me.dto.ts
  backend/src/modules/group/dto/update-group-member-me.dto.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group-invite.controller.ts
  backend/src/modules/group/group-invite.service.ts
  backend/src/modules/group/group-management.controller.ts
  backend/src/modules/group/group-management.service.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/guards/group-roles.guard.ts
  backend/src/modules/group/service/group-invite.service.ts
  backend/src/modules/group/service/group-management.service.ts
  backend/src/modules/group/service/group-record.service.ts
  backend/src/modules/group/service/group.service.ts
Due: pnpm --filter backend lint

feat: LEAVE_DRAFT 추가 및 BLOCK_MOVE moves 리스트 지원
  backend/src/modules/post/collab/patch-stream.service.ts
  backend/src/modules/post/collab/types.ts
  backend/src/modules/post/post-draft.gateway.ts
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

test: 이벤트 추가, 명세 수정에 따른 테스트 스크립트 보강
  backend/scripts/ws-flow-test.js
  backend/scripts/ws-presence-test.js
Due: none

docs: COLLAB_WS.md 업데이트
  backend/src/modules/post/COLLAB_WS.md
Due: none

feat: 기본 DATE/TIME 값 UTC 기준으로 초기화
  backend/src/modules/post/COLLAB_WS.md
  backend/src/modules/post/post-draft.service.ts
Due: pnpm --filter backend lint

chore: 메타데이터 지원을 위한 라이브러리 추가(#150)
  frontend/package.json
  pnpm-lock.yaml
Due: none

feat: 라이브러리를 활용해 이미지에서 메타데이터 추출하는 유틸 함수 추가(#150)
  frontend/src/hooks/useGeolocation.ts
  frontend/src/lib/utils/exifExtractor.ts
Due: pnpm --filter frontend lint

style: 다크모드에서 기록 추가 페이지의 텍스트와 아이콘이 잘 보이지 않는 문제로 밝게 조정
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

feat: 메타데이터 선택 기능 추가(#150)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/metadata/MetadataSelectionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
Due: pnpm --filter frontend lint

chore: 불필요한 cache 파일 제거
  frontend/src/lib/api/cache.ts
Due: pnpm --filter frontend lint

feat: 감정 통계 차트 props로 데이터 받아와 차트에 적용
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
Due: pnpm --filter frontend lint

feat: msw 환경에서의 테스트를 위해 handler와 mock 데이터 추가
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

fix: 그룹 수정 페이지 진입 시 요청이 실패할 경우 이전 페이지인 그룹 페이지로 이동하도록 수정
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
Due: pnpm --filter frontend lint

refactor: 서버 컴포넌트에서의 네트워크 요청 캐시를 위한 유틸 함수 추가(#146)
  frontend/src/lib/api/cache-actions.ts
  frontend/src/lib/api/cache.ts
  frontend/src/lib/constants/constants.ts
Due: pnpm --filter frontend lint

fix: 이미지가 유효하지 않을 땐 기본 이미지 출력
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint

refactor: 클라이언트 mutation 성공 시 서버 캐시 무효화(#146)
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useGroupActions.ts
  frontend/src/hooks/useUserGroupSetting.ts
  frontend/src/lib/api/cache-actions.ts
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

refactor: 서버 컴포넌트에서 사용할 캐시된 함수 정의(#146)
  frontend/src/lib/api/group.ts
  frontend/src/lib/api/my.ts
  frontend/src/lib/api/profile.ts
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

refactor: 클라이언트 컴포넌트에선 서버 컴포넌트에서 프리패치한 데이터를 받아와 그대로 사용하도록 수정(#146)
  frontend/src/app/(main)/profile/_components/EmotionDashboard.tsx
  frontend/src/app/(main)/profile/_components/MonthlyUsageChart.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/components/DailyDetailRecords.tsx
  frontend/src/components/DateSelectorDrawer.tsx
  frontend/src/components/Header.tsx
Due: pnpm --filter frontend lint

refactor: 서버 컴포넌트인 페이지에선 캐시 유틸 함수 활용하도록 수정(#146)
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeader.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/shared/page.tsx
Due: pnpm --filter frontend lint

feat: mutate 후 query 캐시 무효화(#146)
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/hooks/useUserGroupSetting.ts
Due: pnpm --filter frontend lint

fix: unstable_cache는 다른 유저들과 데이터가 공유될 수 있는 문제로 React cache 사용으로 변경(#146)
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/hooks/useCreateRecord.ts
  frontend/src/hooks/useGroupActions.ts
  frontend/src/hooks/useUserGroupSetting.ts
  frontend/src/lib/api/cache-actions.ts
  frontend/src/lib/api/cache.ts
  frontend/src/lib/api/group.ts
  frontend/src/lib/api/my.ts
  frontend/src/lib/api/profile.ts
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

refactor: api 호출시마다 session 도 같이 호출되는 네트워크 요청 문제 개선(#146)
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

chore: ai 관련 파일 ignore에 추가
  frontend/.gitignore
Due: none

refactor: session 네트워크 요청 최소화를 위해 5분 캐시 시간 provider에 적용(#146)
  frontend/src/app/AuthContext.tsx
Due: pnpm --filter frontend lint

feat : 드래그앤드랍 시 무브 브로드캐스트 적용(#144)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/app/(post)/group/[groupId]/post/[draftId]/page.tsx
  frontend/src/hooks/useRecordCollaboration.ts
  frontend/src/lib/types/recordCollaboration.ts
Due: pnpm --filter frontend lint

feat: 날짜/시간/위치 필드를 추적해 업데이트가 이루어졌다면 해당 필드에 대한 이미지 메타데이터 관리 리스트에서 제거(#150)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
Due: pnpm --filter frontend lint

fix: publish 시 owner를 contributors에 항상 포함
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

test: feed scope 필터 e2e 보완 (#148)
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 피드 scope 필터 기준 정비 (#148)
  backend/src/modules/feed/dto/get-feed.query.dto.ts
  backend/src/modules/feed/feed.module.ts
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

feat: mypage 통계 API/DTO/인터페이스 stats 모듈로 이동 및 태그 통계 경로 변경 (#147)
  backend/src/app.module.ts
  backend/src/modules/mypage/mypage.controller.ts
  backend/src/modules/mypage/mypage.interface.ts
  backend/src/modules/mypage/mypage.module.ts
  backend/src/modules/mypage/mypage.service.ts
  backend/src/modules/stats/dto/emotion-summary.response.dto.ts
  backend/src/modules/stats/dto/get-emotion-summary.query.dto.ts
  backend/src/modules/stats/dto/get-stats-summary.query.dto.ts
  backend/src/modules/stats/dto/get-tag-stats.query.dto.ts
  backend/src/modules/stats/dto/stats-summary.response.dto.ts
  backend/src/modules/stats/dto/tag-stats.response.dto.ts
  backend/src/modules/stats/stats.controller.ts
  backend/src/modules/stats/stats.interface.ts
  backend/src/modules/stats/stats.module.ts
  backend/src/modules/stats/stats.service.ts
Due: pnpm --filter backend lint

feat : URL 기준으로 드래프트 나가는 로직 추가 및 불필요한 락 매니저 내부 변수 등 삭제(#144) - 언마운트 되는 시점에 드래프트 나갔음을 명시적으로 알릴 수 있는 알림 추가 - 락 매니저 내부에서 불필요한 렌더링 일으키는 useState 를 ref 로 변경하여 렌더링 없앰
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/hooks/useLockManager.ts
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
