Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

fix: 예상된 ws 예외 처리는 조용히 처리하도록 수정
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter frontend lint

style: 모바일에 맞춰 스타일 수정(#266)
  frontend/src/app/(invite)/invite/page.tsx
  frontend/src/app/(main)/_components/HomeData.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
Due: pnpm --filter frontend lint

fix: capacitor 모바일에서 백그라운드에서 포그라운드로 돌아왔을 때 인증이 만료된 상태라면 흰 화면만 뜨는 문제(#266)
  frontend/src/app/AuthContext.tsx
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix(frontend): 네이티브 앱 OAuth 후 브라우저 툴바 제거 및 상태바 UI 수정 (#266)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

refactor: AllWsExceptionFilter 예외 처리 분기 정리
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
Due: pnpm --filter backend lint

feat: Capacitor shell app 초기 설정 추가(#266)
  mobile-app/.gitignore
  mobile-app/.nvmrc
  mobile-app/capacitor.config.ts
  mobile-app/package.json
  mobile-app/src/index.html
Due: none

fix(backend): 로컬 HTTP 환경에서 oauth_mobile 쿠키 전송 문제 수정 (#266)
  backend/src/modules/auth/guards/google-auth.guard.ts
  backend/src/modules/auth/guards/kakao-auth.guard.ts
Due: pnpm --filter backend lint

feat: 공지 모달 추가(#274)
  backend/migrations/1770500000000-create-announcements.ts
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/announcement/announcement.controller.ts
  backend/src/modules/announcement/announcement.module.ts
  backend/src/modules/announcement/announcement.service.ts
  backend/src/modules/announcement/dto/create-announcement.dto.ts
  backend/src/modules/announcement/dto/update-announcement.dto.ts
  backend/src/modules/announcement/entity/announcement.entity.ts
  backend/src/modules/post/post-draft.gateway.ts
  frontend/next.config.ts
  frontend/src/app/(main)/announcements/page.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/components/AnnouncementModal.tsx
  frontend/src/components/AnnouncementModalClient.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/components/NativeStatusBarSync.tsx
  frontend/src/middleware.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 온보딩과 앱 설치 배너 db에 데이터 저장해 브라우저가 아닌 계정별로 관리하도록 변경(#274)
  frontend/src/app/(login)/oauth/callback/_components/OAuthCallbackContent.tsx
  frontend/src/app/(onboarding)/onboarding/_components/OnboardingContent.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/PWAInstallBanner.tsx
  frontend/src/components/PWAInstallBannerClient.tsx
Due: pnpm --filter frontend lint

feat: 슬라이딩 세션 적용(#274)
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

fix: 출력된 공지를 닫고 라우팅 후 다시 돌아오면 공지가 또 뜨는 문제 수정(#274)
  frontend/src/components/AnnouncementModalClient.tsx
Due: pnpm --filter frontend lint

feat: 공지 내역을 구글 폼 엑셀이 아닌 어드민 페이지에서 볼 수 있도록 수정(#274)
  backend/migrations/1770600000000-create-inquiries.ts
  backend/migrations/1770600001000-alter-inquiries-rename-title-to-category.ts
  backend/src/app.module.ts
  backend/src/modules/inquiry/dto/create-inquiry.dto.ts
  backend/src/modules/inquiry/entity/inquiry.entity.ts
  backend/src/modules/inquiry/inquiry.controller.ts
  backend/src/modules/inquiry/inquiry.module.ts
  backend/src/modules/inquiry/inquiry.service.ts
  frontend/src/app/(main)/announcements/page.tsx
  frontend/src/app/(main)/inquiry/page.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 유저 공지 페이지 어드민 공지 관리 페이지와 유사한 형태로 UI 변경(#274)
  frontend/src/app/(main)/announcements/page.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 문의하기 추가(#274)
  frontend/src/app/(main)/profile/_components/Setting.tsx
Due: pnpm --filter frontend lint

feat: 네트워크 대응 오버레이 추가(#274)
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/components/NetworkGuard.tsx
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

refactor: 포그라운드 복귀시 session을 3번씩 요청하는 문제 수정
  frontend/src/app/AuthContext.tsx
  frontend/src/app/providers.tsx
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix: 일부 버그 및 에러 수정
  backend/migrations/1770600001000-alter-inquiries-rename-title-to-category.ts
  frontend/src/app/(map)/_components/PinMarker.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

style: 지도페이지에선 헤더 제거
  frontend/src/app/(map)/map/layout.tsx
Due: pnpm --filter frontend lint

fix: 텍스트 블록을 상대방이 추가하면 자신한텐 락이 걸렸다가 바로 풀리면서 수정 중인 내용이 보이지 않는 버그 해결
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

refactor: 지도페이지 마커 확대시 fly-to 애니메이션이 자연스럽게 실행되도록 수정
  frontend/src/app/(map)/_components/ClusteredMarkers.tsx
  frontend/src/app/(map)/_components/CustomClusterRenderer.ts
  frontend/src/app/(map)/_components/GoogleMap.tsx
  frontend/src/app/(map)/_components/RecordMapContent.tsx
Due: pnpm --filter frontend lint

chore: 구글 애널리틱스 추가
  frontend/package.json
  frontend/src/app/layout.tsx
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

chore: capacitor 로컬 경로에서 운영 경로로 웹뷰 경로 변경(#274)
  mobile-app/capacitor.config.ts
Due: none

chore: 안드로이드 모바일 테스트를 위한 빌드 actions 파일 추가
  .github/workflows/android-build.yml
Due: none

fix: actions에 모노레포 고려 및 불필요한 frontend 의존성 설치 단계 제거
  .github/workflows/android-build.yml
Due: none

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
