Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: tanstack query의 무한스크롤 기능 활용해 api 연결(#85)
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/lib/api/group.ts
Due: pnpm --filter frontend lint

feat: 그룹 커버 변경 msw api 추가(#85)
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: 그룹 생성 msw api 연결(#85)
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/lib/mocks/handlers.ts
Due: pnpm --filter frontend lint

feat: 그룹 커버 변경 api 연결(#85)
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
Due: pnpm --filter frontend lint

refactor: 최신순 정렬엔 서버로부터 받은 데이터 그대로 사용(#85)
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
Due: pnpm --filter frontend lint

type: 그룹 커버 변경 api 응답 타입 정의(#85)
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: mock 생성 함수로 그룹 프리뷰 리스트 불러오기
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
Due: pnpm --filter frontend lint

feat: 감정 emotion 응답 필드 추가
  frontend/src/components/BlockContent.tsx
  frontend/src/lib/constants/constants.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: 사용하지 않는 타입/파일 제거
  frontend/src/app/(main)/_components/CompactFieldRenderer.tsx
  frontend/src/app/(main)/_components/storybook/README.md
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

style: 월/일/그룹 기록함 스타일 수정
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/app/globals.css
  frontend/src/components/ui/PostCard.tsx
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

refactor: 콘솔 제거
  frontend/src/lib/api/externalMedia.ts
Due: pnpm --filter frontend lint

feat: msw가 동작하고 있지 않을 때만 서버 컴포넌트에서 api 요청
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(post)/shared/page.tsx
Due: pnpm --filter frontend lint

type: 그룹 커버 조회 서버 api 응답 타입 정의(#85)
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

fix: 미디어 외부 api 객체 필드 image에서 imageUrl로 변경
  frontend/src/lib/api/externalMedia.ts
Due: pnpm --filter frontend lint

chore: 기본 이미지 추가
  frontend/public/base.png
Due: none

chore: manifest 파일은 인증 체크 제외
  frontend/src/middleware.ts
Due: pnpm --filter frontend lint

feat: 그룹 커버 이미지 조회 msw api 추가(#85)
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

feat: 스토리지 적용 전 임시 카드 이미지 적용(#85)
  frontend/src/components/ui/RecordCard.tsx
Due: pnpm --filter frontend lint

feat: 그룹 목록 조회 msw api 연결(#85)
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/ui/RecordCard.tsx
  frontend/src/lib/api/group.ts
  frontend/src/lib/mocks/handlers.ts
  frontend/src/lib/mocks/mock.ts
  frontend/src/lib/types/group.ts
  frontend/src/lib/types/recordResponse.ts
Due: pnpm --filter frontend lint

refactor: post, patch, delete, put 요청 후 모든 쿼리를 무효화하던 로직 수정
  frontend/src/hooks/useApi.ts
Due: pnpm --filter frontend lint

feat: 그룹 정렬 적용(#85)
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/lib/mocks/mock.ts
Due: pnpm --filter frontend lint

fix: 마이그레이션 순서 재정렬
  backend/migrations/1768831000000-alter-post-rating-to-real.ts
  backend/migrations/1768832000000-add-post-emotion.ts
  backend/migrations/1768833000000-backfill-post-emotion.ts
Due: pnpm --filter backend lint

test: draft 진입/조회 e2e 추가 (#119)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: draft 진입/조회 API 추가 (#119)
  backend/src/modules/post/post-draft.controller.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post.module.ts
Due: pnpm --filter backend lint

feat: post_drafts 테이블 초기 도입 (#119)
  backend/migrations/1768939465217-add-post-drafts.ts
  backend/src/modules/post/entity/post-draft.entity.ts
Due: pnpm --filter backend lint

fix: coverUrl: string에서 coverAssetId: string으로 media-entity와 연결
  backend/src/modules/user/dto/day-record.response.dto.ts
  backend/src/modules/user/dto/month-record.response.dto.ts
  backend/src/modules/user/dto/update-month-cover.body.dto.ts
  backend/src/modules/user/entity/user-month-cover.entity.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: user_api controller의 getArchivesMonthCover를 연에서 월에서의 asssetId 리턴으로 변경
  backend/src/modules/user/dto/get-archives-month-cover.query.dto.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
Due: pnpm --filter backend lint

feat: 백엔드 리다이렉트 경로 반환으로 수정(#119)
  backend/src/modules/post/post-draft.controller.ts
Due: pnpm --filter backend lint

feat: 공동 게시글 작성 드래프트 생성(#119)
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint
