Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

chore: 백 마이그레이션 파일 추가
  backend/migrations/1768658419173-migrations.ts
Due: pnpm --filter backend lint

feat: 함께 기록함에서 기록 추가시 그룹 선택 drawer 출력
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/GroupSelectDrawer.tsx
Due: pnpm --filter frontend lint

feat: 서버컴포넌트에서 recordId 클라이언트로 내려주기(#85)
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/lib/api/records.ts
Due: pnpm --filter frontend lint

style: SNS 로고 크기 키우기(#85)
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

chore: pnpm-lock 수정
  pnpm-lock.yaml
Due: none

feat: 카카오톡 공유 버튼 추가(#85)
  frontend/public/kakao_logo.png
  frontend/src/components/SocialShareDrawer.tsx
Due: pnpm --filter frontend lint

feat: 피드 조회 응답 meta에 feedLength 추가 (#86)
  backend/src/modules/feed/feed.controller.ts
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 유효하지 않은 날짜 요청 400 반환 처리 (#86)
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

test: 유효하지 않은 날짜 검증 케이스 추가 (#86)
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 잘못된 타임존 요청을 400으로 처리 (#86)
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

test: 잘못된 tz 입력 시 400 반환 케이스 추가 (#86)
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

fix: 날짜 필터가 owner 글에도 적용되도록 조건 그룹화 (#86)
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

test: feed e2e test 지정 날짜 외 게시글 제외 시나리오 추가 (#86)
  backend/test/feed.e2e-spec.ts
Due: pnpm --filter backend lint

feat: 데이터 불러오는 동안 스켈레톤 출력(#85)
  frontend/src/app/(post)/record/_components/RecordDetailSkeleton.tsx
Due: pnpm --filter frontend lint

feat: 서버 환경에서의 요쳥 url 수정(#85)
  frontend/src/lib/api/api.ts
Due: pnpm --filter frontend lint

feat: 기록 상세 페이지 서버 api 연결(#85)
  frontend/src/app/(post)/record/[recordId]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetail.tsx
  frontend/src/app/(post)/record/_components/RecordDetailContent.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(post)/record/layout.tsx
  frontend/src/components/BlockContent.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/lib/api/records.ts
  frontend/src/lib/types/record.ts
Due: pnpm --filter frontend lint

feat: 상세 에러 발생시 표시할 에러 페이지(#85)
  frontend/src/app/(post)/record/_components/RecordErrorFallback.tsx
Due: pnpm --filter frontend lint

feat: 이미지가 2개 이상일 때 캐러셀처럼 스와이프되도록 추가(#85)
  frontend/src/components/ImageCarousel.tsx
Due: pnpm --filter frontend lint

feat: 기록 상세 에러 처리(#85)
  frontend/src/app/(post)/record/[recordId]/not-found.tsx
  frontend/src/components/ErrorBoundary.tsx
Due: pnpm --filter frontend lint

feat: 그룹 추가/삭제/나가기/멤버 추방 api 연결(#85)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/shared/_components/SharedHeaderActions.tsx
Due: pnpm --filter frontend lint

fix: 사용하지 않는 next/header import 제거(#85)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 기록 SNS 공유하기 기능 추가(#85)
  frontend/package.json
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/components/SocialShareDrawer.tsx
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

refactor: Swagger bearer auth 적용 및 @User 데코레이터 도입 (#93)
  backend/src/common/decorators/user.decorator.ts
  backend/src/common/types/auth-request.type.ts
  backend/src/main.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.type.d.ts
  backend/src/modules/group/guards/group-roles.guard.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/user/user.controller.ts
Due: pnpm --filter backend lint

fix: 사용자/게스트/그룹 스키마 보강 및 e2e test JWT 적용
  backend/migrations/1768589247868-add-user-guest-group-entities.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.service.ts
  backend/test/feed.e2e-spec.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

test: 에러/statusCode 응답 시나리오 추가 (#44, #94)
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat(post): 게시글 조회 권한 체크 추가 및 owner 우선 검증 (#44)
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 그룹 글은 그룹원 전원 열람 가능하도록 권한 체크 보강 (#44)
  backend/src/modules/post/post.module.ts
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 서비스 레벨 userId 누락 시 401 반환 (#44, #94)
  backend/src/modules/post/post.service.ts
Due: pnpm --filter backend lint

feat: 인증 누락 시 401 반환으로 통일 (#44, #94)
  backend/src/modules/post/post.controller.ts
Due: pnpm --filter backend lint

refactor: 검증 책임 정리 및 에러 응답 통일 (#94)
  backend/src/modules/feed/dto/get-feed.query.dto.ts
  backend/src/modules/feed/feed.controller.ts
  backend/src/modules/feed/feed.query.service.ts
Due: pnpm --filter backend lint

feat: MOOD 값 enum 검증 및 명세/테스트 보강 (#95)
  backend/src/enums/post-mood.enum.ts
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/post.controller.ts
  backend/src/modules/post/types/post-block.types.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: rating 소수 지원 및 마이그레이션 안정화 (#44, #95)
  backend/migrations/1768589247868-add-user-guest-group-entities.ts
  backend/migrations/1768940000000-alter-post-rating-to-real.ts
  backend/src/config/typeorm/typeorm.config.ts
  backend/src/modules/post/dto/post-block.dto.ts
  backend/src/modules/post/entity/post.entity.ts
  backend/src/modules/post/post.controller.ts
  backend/test/post.e2e-spec.ts
Due: pnpm --filter backend lint

feat: dev token 발급 엔드포인트 추가
  backend/.env.example
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/dto/dev-token.dto.ts
  backend/src/modules/post/dto/create-post.dto.ts
Due: pnpm --filter backend lint

fix: emotion 타입 불일치 수정 (#95)
  backend/src/modules/post/validator/meta.extractor.ts
Due: pnpm --filter backend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
