Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

style: drawer가 열릴 때 statusbar까지 back blur가 적용되도록 수정
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/NativeStatusBarSync.tsx
  frontend/src/components/StatusBarCover.tsx
Due: pnpm --filter frontend lint

fix: 사진 메타데이터 적용 후 PATCH_REJECTED_STALE 오류 수정
  frontend/src/app/(post)/_hooks/useRecordEditorPhotos.ts
Due: pnpm --filter frontend lint

feat: 블록 단위로 DND 되도록 수정
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
Due: pnpm --filter frontend lint

fix: 기록 추가 버튼은 replace가 아닌 push로 stack에 쌓기
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

refactor: AuthController 요청 타입 정리
  backend/src/modules/auth/auth.controller.ts
Due: pnpm --filter backend lint

refactor: 검색 날짜 경계 변환 중복 로직 정리
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

feat: splash 화면 적용(#266)
  frontend/package.json
  frontend/src/app/AuthContext.tsx
  mobile-app/android/app/capacitor.build.gradle
  mobile-app/android/capacitor.settings.gradle
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

style: 그룹 정보 수정 페이지 스크롤바가 표시되지 않도록 scrollbar hide 적용
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
Due: pnpm --filter frontend lint

style: 그룹 알림 배지가 프로필과 떨어지는 문제 수정(#266)
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItem.tsx
  frontend/src/app/(post)/group/[groupId]/notifications/_utils/activityHelper.ts
Due: pnpm --filter frontend lint

feat: pwaInstallBanner가 잠깐 떴다가 사라지는 문제
  frontend/src/components/PWAInstallBannerClient.tsx
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

style: 그룹 기록 추가 drawer 모바일 반응형으로 디자인 수정
  frontend/src/app/(post)/group/_components/AddRecordDrawer.tsx
Due: pnpm --filter frontend lint

feat: 한국 시간대로 기록 시간대 출력
  frontend/src/components/BlockContent.tsx
  frontend/src/lib/date.ts
Due: pnpm --filter frontend lint

fix: 기간 검색 시 시작 끝 시각으로 변환해 올바르게 데이터를 응답하도록 수정
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

style: 지도 페이지 기록 마커 클릭시 검색바가 statusbar로 올라가 가려지는 문제 수정(#266)
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(map)/layout.tsx
Due: pnpm --filter frontend lint

fix: 지도페이지는 replace가 아닌 push로 스택에 쌓기
  frontend/src/components/BottomNavigation.tsx
Due: pnpm --filter frontend lint

style: 그룹 알림 아이템 스켈레톤 px 제거
  frontend/src/app/(post)/group/[groupId]/notifications/_components/ActivityItemSkeleton.tsx
Due: pnpm --filter frontend lint

fix(group): 공동 기록 발행 후 그룹 페이지에 새 기록이 표시되지 않는 문제 수정
  backend/src/modules/group/service/group-record.service.ts
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat: 게스트 로그인시에 쿠키에 유요한 값이 담겨있는 경우 해당 게스트 그대로 활용
  backend/src/modules/guest/dto/guest.restore.dto.ts
  backend/src/modules/guest/guest-session.service.ts
  backend/src/modules/guest/guest.controller.ts
  frontend/next.config.ts
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter backend lint, pnpm --filter frontend lint

feat(frontend): 네이티브 앱에서 Capacitor Browser로 OAuth 처리 (#266)
  frontend/package.json
  frontend/src/app/(login)/login/_components/LoginContent.tsx
  frontend/src/lib/utils/getRedirectUri.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

style: 로그인 페이지 인디케이터 고려해 padding top 적용(#266)
  frontend/src/app/(login)/login/_components/LoginContent.tsx
Due: pnpm --filter frontend lint

feat: 콘텐츠 블록 처음엔 한 줄로 표시되도록 수정
  frontend/src/app/(post)/_components/editor/core/CoreField.tsx
Due: pnpm --filter frontend lint

feat: 로그아웃시 바로 refreshToken delete가 아닌 revoke 시키기
  backend/src/modules/auth/auth.service.ts
Due: pnpm --filter backend lint

refactor: 지도 페이지에서는 statusbar 영역까지 지도가 띄워지도록 수정
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/globals.css
  frontend/src/components/StatusBarCover.tsx
Due: pnpm --filter frontend lint

fix: 검색시 contributor에 유저가 포함된 기록도 같이 반환하도록 수정 및 그룹 알림에서 그룹 프로필이 없으면 null 반환하도록 수정
  backend/src/modules/group/service/group-activity.service.ts
  backend/src/modules/search/search.service.ts
Due: pnpm --filter backend lint

refactor: capacitor 환경 감지를 통해 pwa 설치 배너 띄우지 않도록 수정(#266)
  frontend/src/hooks/usePWAInstall.ts
Due: pnpm --filter frontend lint

fix: 발행 시 블록 상태 누락 및 BLOCK_MOVE 검증 오류 수정
  backend/src/modules/post/dto/publish-draft.dto.ts
  backend/src/modules/post/post-draft.service.ts
  backend/src/modules/post/post-publish.service.ts
Due: pnpm --filter backend lint

fix(mobile): 네이티브 앱 statusbar/toast/popover UI 수정 (#266)
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(search)/layout.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/StatusBarCover.tsx
  frontend/src/components/ThemeColorSetter.tsx
  frontend/src/components/map/LocationDrawer.tsx
  frontend/src/components/map/MapSearchBar.tsx
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: pnpm --filter frontend lint

feat(mobile): ittda:// 커스텀 URL 스킴 등록 및 @capacitor/browser 추가 (#266)
  mobile-app/android/app/src/main/AndroidManifest.xml
  mobile-app/capacitor.config.ts
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/App/ViewController.swift
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
  mobile-app/package.json
Due: none

style: 검색 칩 데이터 포함되어 있을 때의 스타일 수정
  frontend/src/components/search/FilterChip.tsx
Due: pnpm --filter frontend lint

feat(mobile): 앱 아이콘 및 스플래시 화면 적용, 상태바 색상 설정 (#266)
  mobile-app/android/app/src/main/res/drawable-land-hdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-mdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-hdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-mdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  mobile-app/android/app/src/main/res/drawable/splash.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile-app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  mobile-app/android/app/src/main/res/values/colors.xml
  mobile-app/android/app/src/main/res/values/styles.xml
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  mobile-app/ios/App/App/Base.lproj/LaunchScreen.storyboard
  mobile-app/ios/App/App/Info.plist
Due: none

fix: 주간 달력 월 영역이 아닌 가로 영역 클릭시에도 페이지 이동하는 문제 수정
  frontend/src/app/(main)/_components/WeekCalendar.tsx
Due: pnpm --filter frontend lint

fix: 네이티브/pwa 포그라운드 복귀 시 토큰 재발급 안정화
  frontend/src/lib/api/api.ts
  frontend/src/lib/api/auth.ts
Due: pnpm --filter frontend lint

fix: import 되지 않은 데이터 refresh 함수 호출
  frontend/src/hooks/useCreateRecord.ts
Due: pnpm --filter frontend lint

fix: WsException 외 DB 에러 등 모든 에러를 잡도록 서버 웹소켓 에러 처리 로직 수정
  backend/src/common/exception_filters/AllWsExceptionFilter.ts
  frontend/src/store/useSocketStore.ts
Due: pnpm --filter backend lint, pnpm --filter frontend lint

style: 모바일과 웹에서의 검색 결과 표시 영역(margin)이 다르게 적용되는 문제(#266)
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

fix: 하위 경로로 접근시 상위 경로의 loading.tsx가 먼저 보이는 문제 수정
  frontend/src/app/(main)/loading.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/loading.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/loading.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/loading.tsx
Due: pnpm --filter frontend lint

feat: Capacitor iOS 네이티브 프로젝트 추가(#266)
  mobile-app/ios/.gitignore
  mobile-app/ios/App/App.xcodeproj/project.pbxproj
  mobile-app/ios/App/App.xcworkspace/contents.xcworkspacedata
  mobile-app/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  mobile-app/ios/App/App/AppDelegate.swift
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  mobile-app/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  mobile-app/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  mobile-app/ios/App/App/Base.lproj/LaunchScreen.storyboard
  mobile-app/ios/App/App/Base.lproj/Main.storyboard
  mobile-app/ios/App/App/Info.plist
  mobile-app/ios/App/Podfile
  mobile-app/ios/App/Podfile.lock
Due: none

fix: 공동 편집 클라이언트 안정화 - 재연결, presence/lock 동기화, 편집 흐름
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordFieldRender.tsx
  frontend/src/app/(post)/_components/editor/RecordTitleInput.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionField.tsx
  frontend/src/app/(post)/_hooks/usePostEditorBlocks.ts
  frontend/src/app/(post)/_hooks/useRecordEditorDnD.ts
  frontend/src/hooks/useDraftPresence.ts
  frontend/src/hooks/useLockManager.ts
  frontend/src/hooks/useRecordCollaboration.ts
Due: pnpm --filter frontend lint

fix: 탭 간 이동 시 history stack에 쌓여 이후 뒤로가기시 이전 탭으로 이동해버리는 문제
  frontend/src/app/(main)/profile/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/profile/all-emotions/_components/ProfileAllEmotionsHeaderActions.tsx
  frontend/src/app/(main)/profile/all-tags/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(map)/_components/RecordMapContent.tsx
  frontend/src/app/(map)/location-picker/page.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/record/_components/RecordDetailHeaderActions.tsx
  frontend/src/app/(search)/search/page.tsx
  frontend/src/components/Back.tsx
  frontend/src/components/BottomNavigation.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

Path conditions:
  pnpm --filter backend lint: any of: backend/**/*.ts
  pnpm --filter frontend lint: any of: frontend/**/*.{ts,tsx}
