Repository boostcampwm2025/web25-ittda: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter backend lint, pnpm --filter frontend lint

.lintstagedrc.json:

{
  "backend/**/*.ts": ["pnpm --filter backend lint"],
  "frontend/**/*.{ts,tsx}": ["pnpm --filter frontend lint"]
}

feat: 글로벌 헤더가 모든 태그 보기 페이지에서는 뜨지 않도록 설정(#37)
  frontend/src/components/ConditionalHeader.tsx
Due: pnpm --filter frontend lint

feat: 다크모드/라이트 모드 테마 기능 구현(#37)
  frontend/src/app/(main)/_components/Setting.tsx
  frontend/src/app/layout.tsx
Due: pnpm --filter frontend lint

feat: 게시글 에디터 페이지를 위한 media drawer 및 field 추가(#12) - media용 chip,field,drawer,manualInput(직접 입력용) 컴포넌트 추가 - media 검색용 외부 API 호출을 위한 config 파일 수정 - media 검색용 외부 API 호출 로직 추가 - Toolbar 에 media drawer 연결
  frontend/.env.example
  frontend/next.config.ts
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  frontend/src/app/(post)/_components/editor/media/MediaCategoryChip.tsx
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/media/MediaManualInput.tsx
  frontend/src/lib/api/externalMedia.ts
  frontend/src/lib/types/recordField.ts
Due: pnpm --filter frontend lint

style : 지도 드로어 크기 변경(#12)
  frontend/src/components/map/LocationDrawer.tsx
Due: pnpm --filter frontend lint

feat : Record 로 명칭 통일 후 남은 파일 명칭 수정 및 미사용될 post type 파일 삭제
  frontend/src/lib/api/posts.ts
  frontend/src/lib/types/post.ts
Due: pnpm --filter frontend lint

feat: 변경된 타입에 맞게 RecordEditor 컴포넌트 수정(#12) - 블록 형태로 2열 배치 가능하도록 구현 - 내부 데이터 블록(type,value,layout)기반으로 수정 - 드래그앤드롭 시 2열 지원 - Media 관련 드로어 추가 - 변경된 타입에 맞게 기존 타입 수정 - 내부 필드들 구분용도의 id 추가를 위해 UUID 설치 및 적용
  frontend/package.json
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
Due: pnpm --filter frontend lint

chore: pnpm-lock 파일 충돌 수정(#37)
  pnpm-lock.yaml
Due: none

style : 게시글 작성 페이지 내에 테이블 삭제 버튼 항상 뜨도록 수정(#12)
  frontend/src/app/(post)/_components/editor/table/TableField.tsx
Due: pnpm --filter frontend lint

fix: 미디어 직접 입력 시 조절바 겹치는 문제 해결(#12)
  frontend/src/app/(post)/_components/editor/media/MediaManualInput.tsx
Due: pnpm --filter frontend lint

fix: 드로어 클릭 후 액션없이 나갈 때 뜨는 빈 필드 안 뜨도록 수정(#12)
  frontend/src/app/(post)/_components/editor/media/MediaField.tsx
  frontend/src/app/(post)/_components/editor/tag/TagField.tsx
  frontend/src/components/map/LocationField.tsx
Due: pnpm --filter frontend lint

fix: 드로어 내부 스타일 및 DrawerClose 활용 수정(#12) - 드로어 내부에 max-w-sm 삭제 및 태블릿 크기 차지하도록 수정 - 단순 close 버튼이 아닌 DrawerClose 사용하도록 수정
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/app/(post)/_components/editor/rating/RatingPickerDrawer.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

fix: 뒤로가기 컴포넌트 활용 및 툴바 단순화(#12) - 기존 화살표 아이콘을 통한 뒤로가기 구현 -> Back 컴포넌트 활용으로 변경 - 각 Drawer 오픈을 위한 Toolbar에 함수 전달 시 내부에서 type 에 따라 분기처리되도록 수정 - 지원되지 않는 버전의 UUID 에서 새로운 UUID 설치로 오류 수정
  frontend/package.json
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/RecordEditorHeader.tsx
  frontend/src/app/(post)/_components/editor/Toolbar.tsx
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

style : 미디어 입력시 헤더 아이콘 수정으로 인한 너비 변경, 헤더 중앙 정렬을 위한 padding 값 수정
  frontend/src/app/(post)/_components/editor/media/MediaManualInput.tsx
Due: pnpm --filter frontend lint

style: drawer 내부에서 별도로 추가된 div 태그들 삭제 후 drawerCloser 에서 style 변경되도록 수정(#12)
  frontend/src/app/(post)/_components/editor/core/TimePickerDrawer.tsx
  frontend/src/app/(post)/_components/editor/emotion/EmotionDrawer.tsx
  frontend/src/app/(post)/_components/editor/photo/PhotoDrawer.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
Due: pnpm --filter frontend lint

feat: 구글 oauth 적용 검증 - nginx /api를 /api/로 변경 - jwtModule 환경변수 useFactory로 주입 - main.ts에서 global prefix /api 제거
  backend/.env.example
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.type.d.ts
  backend/src/modules/auth/jwt/jwt.guard.ts
  backend/src/modules/auth/jwt/jwt.strategy.ts
  backend/src/modules/auth/oauth_flow.md
  backend/src/modules/auth/strategies/google.strategy.ts
  backend/src/modules/auth/strategies/kakao.strategy.ts
  backend/src/modules/user/user.entity.ts
  backend/src/modules/user/user.service.ts
  nginx http.conf
  nginx.conf
  pnpm-lock.yaml
Due: pnpm --filter backend lint

fix: kakao oauth 연동 오류 수정 - KAKAO_CLIENT_SECRET 추가 및 연동
  backend/.env.example
  backend/src/modules/auth/strategies/kakao.strategy.ts
Due: pnpm --filter backend lint

refactor: 미디어 검색 시 적용된 디바운스 유틸로 분리 후 적용(#12)
  frontend/src/app/(post)/_components/editor/media/MediaDrawer.tsx
  frontend/src/lib/utils/useDebounce.ts
Due: pnpm --filter frontend lint

feat: 검색 페이지 쿼리 파라미터 기반으로 구현 및 지도 드로어 추가(#33) - 지도 드로어 로직 추가 - 기존 useState 로 관리하던 필터링 값들 -> 쿼리 파라미터 형태로 url 변경 로직으로 수정 - 데모 시나리오를 위해 임시로 프론트 내부에서 필터링 되도록 로직 추가
  frontend/src/app/(search)/search/page.tsx
Due: pnpm --filter frontend lint

feat: group role RBAC 초안 작성
  backend/docs/jwt_rbac.md
  backend/docs/oauth_flow.md
  backend/src/app.module.ts
  backend/src/common/exception_filters/AllHttpExceptionFilter.ts
  backend/src/common/guards/roles.decorator.ts
  backend/src/common/guards/roles.guard.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.type.d.ts
  backend/src/modules/auth/jwt/jwt.guard.ts
  backend/src/modules/auth/jwt/jwt.strategy.ts
  backend/src/modules/auth/strategies/kakao.strategy.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/guards/group-roles.decorator.ts
  backend/src/modules/group/guards/group-roles.guard.ts
Due: pnpm --filter backend lint

Revert "feat: group role RBAC 초안 작성"
  backend/docs/jwt_rbac.md
  backend/src/app.module.ts
  backend/src/common/exception_filters/AllHttpExceptionFilter.ts
  backend/src/common/guards/roles.decorator.ts
  backend/src/common/guards/roles.guard.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.type.d.ts
  backend/src/modules/auth/jwt/jwt.guard.ts
  backend/src/modules/auth/jwt/jwt.strategy.ts
  backend/src/modules/auth/oauth_flow.md
  backend/src/modules/auth/strategies/kakao.strategy.ts
  backend/src/modules/group/entity/group_member.entity.ts
  backend/src/modules/group/group.controller.ts
  backend/src/modules/group/group.module.ts
  backend/src/modules/group/group.service.ts
  backend/src/modules/group/guards/group-roles.decorator.ts
  backend/src/modules/group/guards/group-roles.guard.ts
Due: pnpm --filter backend lint

그룹 정보 수정 페이지 & 마이페이지 구현 (#41)
  frontend/package.json
  frontend/src/app/(main)/_components/Profile.tsx
  frontend/src/app/(main)/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(main)/_components/ProfileEditHeaderActions.tsx
  frontend/src/app/(main)/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/_components/ProfileInfo.tsx
  frontend/src/app/(main)/_components/Setting.tsx
  frontend/src/app/(main)/_components/TagDashboard.tsx
  frontend/src/app/(main)/_components/TagList.tsx
  frontend/src/app/(main)/layout.tsx
  frontend/src/app/(main)/page.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/group/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/_components/GroupMemberManagement.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/Back.tsx
  frontend/src/components/ConditionalHeader.tsx
  frontend/src/lib/types/group.ts
  frontend/src/lib/types/profile.ts
  frontend/src/lib/types/record.ts
  frontend/src/lib/utils.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

fix : 글쓰기 페이지 QA 반영(#12) - 이미지 개수 제한 적용 - 태그 개수 제한 적용 : 4개 도달 시 +버튼 안뜨도록 추가 + 경고창 문구 띄움 - 태그, 콘텐츠 2열 정렬 허용
  frontend/src/app/(post)/_components/editor/RecordEditor.tsx
  frontend/src/app/(post)/_components/editor/tag/TagDrawer.tsx
  frontend/src/app/(post)/_components/editor/tag/TagField.tsx
Due: pnpm --filter frontend lint

fix: pnpm-lock.yaml 수정
  pnpm-lock.yaml
Due: none

feat: 그룹 나가기 추가(#37)
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
Due: pnpm --filter frontend lint

style: 홈에서 기록이 없으면 하단에 배경색이 사라지는 문제 수정(#37)
  frontend/src/app/(main)/layout.tsx
Due: pnpm --filter frontend lint

feat: 기록함에서 날짜 필터링시 연도 선택할 수 있도록 기능 추가(#37)
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/group/_components/GroupHeaderActions.tsx
  frontend/src/app/(post)/my/(root)/layout.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/components/DateSelectorDrawer.tsx
  frontend/src/components/ui/drawer.tsx
Due: pnpm --filter frontend lint

feat: 프로필 수정페이지의 저장 버튼 클릭시 context api로 데이터 받아오기(#37)
  frontend/src/app/(main)/_components/ProfileEditHeaderActions.tsx
  frontend/src/app/(main)/_components/ProfileInfo.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditContext.tsx
  frontend/src/app/(main)/profile/edit/page.tsx
Due: pnpm --filter frontend lint

feat: 공유 기록을 동시 수정중일 때 참여 멤버 표현하기(#37)
  frontend/src/app/(post)/_components/DailyDetailRecordActions.tsx
  frontend/src/app/(post)/_components/DailyDetailRecordItem.tsx
  frontend/src/app/(post)/_components/DailyDetailRecords.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint

chore: 특정 그룹에서만 사용하는 컴포넌트는 그룹 or 경로 폴더에 두기
  frontend/src/app/(main)/profile/_components/Profile.tsx
  frontend/src/app/(main)/profile/_components/ProfileHeaderActions.tsx
  frontend/src/app/(main)/profile/_components/Setting.tsx
  frontend/src/app/(main)/profile/_components/TagDashboard.tsx
  frontend/src/app/(main)/profile/all-tags/_components/ProfileAllTagsHeaderActions.tsx
  frontend/src/app/(main)/profile/all-tags/_components/TagList.tsx
  frontend/src/app/(main)/profile/all-tags/page.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditHeaderActions.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileInfo.tsx
  frontend/src/app/(main)/profile/page.tsx
  frontend/src/app/(post)/_components/GalleryDrawer.tsx
  frontend/src/app/(post)/_components/MonthRecords.tsx
  frontend/src/app/(post)/_components/MonthlyDetailHeaderActions.tsx
  frontend/src/app/(post)/_components/MonthlyDetailRecords.tsx
  frontend/src/app/(post)/_components/ViewOnMapButton.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/page.tsx
  frontend/src/app/(post)/group/[groupId]/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupDangerousZone.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditContext.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/my/(root)/page.tsx
  frontend/src/app/(post)/my/(root)/year/[year]/page.tsx
  frontend/src/app/(post)/my/detail/[date]/page.tsx
  frontend/src/app/(post)/my/month/[month]/page.tsx
  frontend/src/app/(post)/shared/_components/SharedRecords.tsx
  frontend/src/components/DailyDetailRecordItem.tsx
  frontend/src/components/DailyDetailRecords.tsx
Due: pnpm --filter frontend lint

style: 다른 페이지와 헤더 스타일 통일(#37)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/components/Back.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

feat: 그룹 프로필 수정 추가(#37)
  frontend/src/app/(main)/profile/edit/_components/ProfileEditClient.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditContext.tsx
  frontend/src/app/(main)/profile/edit/_components/ProfileEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditHeaderActions.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupInfo.tsx
  frontend/src/app/(post)/group/[groupId]/edit/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
  frontend/src/components/ProfileInfo.tsx
  frontend/src/lib/types/group.ts
Due: pnpm --filter frontend lint

chore: storybook 설정
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/vitest.setup.ts
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/vitest.config.ts
  frontend/vitest.shims.d.ts
  pnpm-lock.yaml
Due: pnpm --filter frontend lint

style: 함께 기록함 스타일 통일(#37)
  frontend/src/app/(post)/group/[groupId]/(root)/layout.tsx
  frontend/src/app/(post)/group/[groupId]/detail/[date]/page.tsx
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/_components/GroupProfileEditClient.tsx
  frontend/src/app/(post)/group/[groupId]/edit/profile/page.tsx
  frontend/src/app/(post)/group/[groupId]/month/[month]/page.tsx
  frontend/src/app/(post)/group/layout.tsx
  frontend/src/components/ProfileEditHeaderActions.tsx
Due: pnpm --filter frontend lint

refactor: 날짜 선택 drawer에서 cursor-pointer 추가 및 네비게이션 버튼 힌트 제공(#37)
  frontend/src/components/DateSelectorDrawer.tsx
Due: pnpm --filter frontend lint

fix : uuid 버전 에러 수정(#12)
  frontend/package.json
  pnpm-lock.yaml
Due: none

style: button 에 기본 커서 생성 css 추가
  frontend/src/app/globals.css
Due: none

fix: 검색 시 아래 태그 후보들 자주 사용하는 태그임을 나타내기위한 설명 추가(#33)
  frontend/src/app/(search)/_components/TagSearchDrawer.tsx
Due: pnpm --filter frontend lint

style : 버튼 disabled 시 기본적으로 비활성화 커서 뜨도록 수정
  frontend/src/app/globals.css
Due: none

refactor: recharts 차트가 화면 너비 조절시 허공에 떠다니는 문제 수정(#37)
  frontend/src/app/(main)/_components/MonthlyPatternChart.tsx
Due: pnpm --filter frontend lint

refactor: 그룹 권한 수정에서 본인의 권한은 변경하지 못하도록 수정(#37)
  frontend/src/app/(post)/group/[groupId]/edit/_components/GroupMemberManagement.tsx
Due: pnpm --filter frontend lint
